{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/app/installations/<GITHUB_TEST_INTEGRATION_INSTALLATION>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <JWT_BEARER_TOKEN>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Github-Media-Type":["github.gambit-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 24 Sep 2019 05:51:13 GMT"}],"recorded_with":"VCR 4.0.0"}
