{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/pingwynn/stats/contributors","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4993"], "X-Ratelimit-Reset":["1389742411"], "Etag":["\"369e7f313f1f9843dd1c35a7f744bea3\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"total\":1,\"weeks\":[{\"w\":1376179200,\"a\":1,\"d\":1,\"c\":1},{\"w\":1376784000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1377388800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1377993600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1378598400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1379203200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1379808000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1380412800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1381017600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1381622400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1382227200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1382832000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1383436800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1384041600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1384646400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1385251200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1385856000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1386460800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1387065600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1387670400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1388275200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1388880000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1389484800,\"a\":0,\"d\":0,\"c\":0}],\"author\":{\"login\":\"AquaGeek\",\"id\":199720,\"avatar_url\":\"https://gravatar.com/avatar/144e26b9f7749e920181eb040b6b8126?d=https%3A%2F%2Fidenticons.github.com%2F47e0ec41fe79b41826857661d27a8c31.png&r=x\",\"gravatar_id\":\"144e26b9f7749e920181eb040b6b8126\",\"url\":\"https://api.github.com/users/AquaGeek\",\"html_url\":\"https://github.com/AquaGeek\",\"followers_url\":\"https://api.github.com/users/AquaGeek/followers\",\"following_url\":\"https://api.github.com/users/AquaGeek/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/AquaGeek/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/AquaGeek/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/AquaGeek/subscriptions\",\"organizations_url\":\"https://api.github.com/users/AquaGeek/orgs\",\"repos_url\":\"https://api.github.com/users/AquaGeek/repos\",\"events_url\":\"https://api.github.com/users/AquaGeek/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/AquaGeek/received_events\",\"type\":\"User\",\"site_admin\":false}},{\"total\":10,\"weeks\":[{\"w\":1376179200,\"a\":24,\"d\":4,\"c\":3},{\"w\":1376784000,\"a\":32,\"d\":0,\"c\":1},{\"w\":1377388800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1377993600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1378598400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1379203200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1379808000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1380412800,\"a\":2,\"d\":1,\"c\":1},{\"w\":1381017600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1381622400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1382227200,\"a\":0,\"d\":0,\[...]
