{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/hooks","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4706"], "X-Ratelimit-Reset":["1447960385"], "Etag":["\"0e9940764add8aefa14dc4ca55340e3c\""], "X-Oauth-Scopes":["admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org_hook"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 19 Nov 2015 18:44:50 GMT"}],"recorded_with":"VCR 2.9.3"}