{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/hooks","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1417633326"], "Etag":["\"96a9d08783ed5ea351ee2a77fb8926a4\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, admin:org_hook"], "X-Accepted-Oauth-Scopes":["admin:org_hook"], "X-Github-Media-Type":["github.sersi-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 03 Dec 2014 18:06:18 GMT"}],"recorded_with":"VCR 2.9.2"}