{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/app/hook/deliveries",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "Bearer <JWT_BEARER_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "eyJtZXNzYWdlIjoiQSBKU09OIHdlYiB0b2tlbiBjb3VsZCBub3QgYmUgZGVj\nb2RlZCIsImRvY3VtZW50YXRpb25fdXJsIjoiaHR0cHM6Ly9kb2NzLmdpdGh1\nYi5jb20vcmVzdCJ9\n"
        }
      },
      "recorded_at": "Thu, 07 Sep 2023 02:10:54 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}