{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/user/watched/sferik/rails_admin","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4937"], "X-Ratelimit-Reset":["1390200528"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:25 GMT"}],"recorded_with":"VCR 2.4.0"}