{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/octokit","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4935"], "X-Ratelimit-Reset":["1390200528"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"message\":\"Not Found\",\"documentation_url\":\"http://developer.github.com/v3\"}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:26 GMT"}],"recorded_with":"VCR 2.4.0"}