{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/octokit","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Wed, 26 Jun 2013 18:59:59 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/nonexistant-repo","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4869"], "X-Ratelimit-Reset":["1562962835"], "X-Oauth-Scopes":["delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL3JlcG9zLyNnZXQifQ==\n"},"http_version":null},"recorded_at":"Fri, 12 Jul 2019 19:40:51 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/nonexistent-repo","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4868"], "X-Ratelimit-Reset":["1562962835"], "X-Oauth-Scopes":["delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL3JlcG9zLyNnZXQifQ==\n"},"http_version":null},"recorded_at":"Fri, 12 Jul 2019 19:44:53 GMT"}],"recorded_with":"VCR 4.0.0"}