{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/octokit","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Wed, 26 Jun 2013 18:59:59 GMT"}],"recorded_with":"VCR 2.4.0"}