{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/traffic/views","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4881"], "X-Ratelimit-Reset":["1477928862"], "Etag":["W/\"1f66199c90fb02f734d96cb968c49856\""], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.spiderman-preview"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJjb3VudCI6MCwidW5pcXVlcyI6MCwidmlld3MiOltdfQ==\n"},"http_version":null},"recorded_at":"Mon, 31 Oct 2016 15:01:46 GMT"}],"recorded_with":"VCR 2.9.3"}