{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/emails","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4995"], "Last-Modified":["Mon, 24 Jun 2013 22:07:26 GMT"], "Etag":["\"cfc95ee13421cc79fdb5f2ec3fdf893a\""], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"WyJ3eW5uLm5ldGhlcmxhbmQrPEdJVEhVQl9MT0dJTj5AZ21haWwuY29tIiwi\nd3lubi5uZXRoZXJsYW5kK2FwaXRlc3RAZ21haWwuY29tIl0=\n"},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 22:07:25 GMT"}],"recorded_with":"VCR 2.4.0"}