{"http_interactions":[{"request":{"method":"get","uri":"https://enterprise.github.dev/api/v3/enterprise/settings/license","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ENTERPRISE_ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"], "Etag":["\"0da967d0463b09c89ad66d0049c50360\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzZWF0cyI6MCwic2VhdHNfdXNlZCI6MSwic2VhdHNfYXZhaWxhYmxlIjow\nLCJkYXlzX3VudGlsX2V4cGlyYXRpb24iOjMzMSwiZXhwaXJlX2F0IjoiMjAx\nNS8wNC8yNyAwMDowMDowMCAtMDcwMCJ9\n"},"http_version":null},"recorded_at":"Sat, 31 May 2014 02:09:22 GMT"}],"recorded_with":"VCR 2.9.2"}