{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits/629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3/comments","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4838"], "X-Ratelimit-Reset":["1389611485"], "Etag":["\"a1d95464b03a1094ea5e26f8249e074f\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/sferik/rails_admin/comments/860296\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3#commitcomment-860296\",\"id\":860296,\"user\":{\"login\":\"bbenezech\",\"id\":26794,\"avatar_url\":\"https://gravatar.com/avatar/c1607873b99845b2cd53f8634860d4d4?d=https%3A%2F%2Fidenticons.github.com%2F3af65294001defdf7d60d4b9e3151fff.png&r=x\",\"gravatar_id\":\"c1607873b99845b2cd53f8634860d4d4\",\"url\":\"https://api.github.com/users/bbenezech\",\"html_url\":\"https://github.com/bbenezech\",\"followers_url\":\"https://api.github.com/users/bbenezech/followers\",\"following_url\":\"https://api.github.com/users/bbenezech/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bbenezech/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bbenezech/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bbenezech/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bbenezech/orgs\",\"repos_url\":\"https://api.github.com/users/bbenezech/repos\",\"events_url\":\"https://api.github.com/users/bbenezech/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bbenezech/received_events\",\"type\":\"User\",\"site_admin\":false},\"position\":null,\"line\":null,\"path\":null,\"commit_id\":\"629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3\",\"created_at\":\"2012-01-12T10:21:32Z\",\"updated_at\":\"2012-01-12T10:21:32Z\",\"body\":\"Hey Eric,\\r\\n\\r\\nI think it's a terrible idea: for a number of reasons (dissections, etc.), test suite should stay deterministic IMO.\\r\\n\"},{\"url\":\"https://api.github.com/repos/sferik/rails_admin/comments/861577\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3#commitcomment-861577\",\"id\":861577,\"user\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6[...]
