{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/assignees","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["58"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"87a8ca62f916024adc7143bc3ae22d2f\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"alanjrogers\",\"id\":22635,\"avatar_url\":\"https://gravatar.com/avatar/e7c5b25cc6a66344d4bdae461a9129ec?d=https%3A%2F%2Fidenticons.github.com%2Fc16117de1309f508633dae03c0804a0b.png&r=x\",\"gravatar_id\":\"e7c5b25cc6a66344d4bdae461a9129ec\",\"url\":\"https://api.github.com/users/alanjrogers\",\"html_url\":\"https://github.com/alanjrogers\",\"followers_url\":\"https://api.github.com/users/alanjrogers/followers\",\"following_url\":\"https://api.github.com/users/alanjrogers/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/alanjrogers/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/alanjrogers/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/alanjrogers/subscriptions\",\"organizations_url\":\"https://api.github.com/users/alanjrogers/orgs\",\"repos_url\":\"https://api.github.com/users/alanjrogers/repos\",\"events_url\":\"https://api.github.com/users/alanjrogers/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/alanjrogers/received_events\",\"type\":\"User\",\"site_admin\":true},{\"login\":\"aroben\",\"id\":917945,\"avatar_url\":\"https://gravatar.com/avatar/7f6e060e50812eb45e8916072f3f0872?d=https%3A%2F%2Fidenticons.github.com%2F2e547708f92c9e47c6ef7f683d7cf774.png&r=x\",\"gravatar_id\":\"7f6e060e50812eb45e8916072f3f0872\",\"url\":\"https://api.github.com/users/aroben\",\"html_url\":\"https://github.com/aroben\",\"followers_url\":\"https://api.github.com/users/aroben/followers\",\"following_url\":\"https://api.github.com/users/aroben/following{/other_user}\",\"gi[...]
