{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/issues/comments","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4975"], "X-Ratelimit-Reset":["1389615104"], "Etag":["\"a83bc0bdf1909c9937eb4f96e7b502da\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/417862/issues/comments?page=2>; rel=\"next\", <https://api.github.com/repositories/417862/issues/comments?page=40>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/comments/229900\",\"html_url\":\"https://github.com/octokit/octokit.rb/issues/1#issuecomment-229900\",\"issue_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/1\",\"id\":229900,\"user\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https%3A%2F%2Fidenticons.github.com%2F3b3dbaf68507998acd6a5a5254ab2d76.png&r=x\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\",\"site_admin\":true},\"created_at\":\"2010-05-04T23:45:02Z\",\"updated_at\":\"2010-05-04T23:45:02Z\",\"body\":\"It looks like it's a bug in HTTParty. I can patch on my end but I think it should really handle 404's without parsing. I'll submit a patch. Thanks!\"},{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/comments/252641\",\"html_url\":\"https://github.com/octokit/octokit.rb/issues/1#issuecomment-252641\",\"issue_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/1\",\"id\":252641,\"user\":{\"login\":\"shingara\",\"id\":1088,\"avatar_ur[...]
