{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/teams","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"c41e36ed2875d3c3ebede9c6199d3a77\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["read:org, write:org, admin:org, repo, user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"name\":\"Owners\",\"id\":634151,\"slug\":\"owners\",\"permission\":\"admin\",\"url\":\"https://api.github.com/teams/634151\",\"members_url\":\"https://api.github.com/teams/634151/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/634151/repos\"}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:32 GMT"}],"recorded_with":"VCR 2.4.0"}