{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/marketplace_purchases","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4982"], "X-Ratelimit-Reset":["1506022388"], "Etag":["\"7bdf5f7b6b30a41cc40ac4071f8c9a3c\""], "X-Oauth-Scopes":["user:email"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.valkyrie-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 21 Sep 2017 19:26:51 GMT"}],"recorded_with":"VCR 2.9.3"}
