{"http_interactions":[{"request":{"method":"patch","uri":"https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/releases/assets/21313","body":{"encoding":"UTF-8","base64_string":"eyJsYWJlbCI6IlVwZGF0ZWQifQ==\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4587"], "X-Ratelimit-Reset":["1575442385"], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL3JlcG9zL3JlbGVhc2Vz\nLyNlZGl0LWEtcmVsZWFzZS1hc3NldCJ9\n"},"http_version":null},"recorded_at":"Wed, 04 Dec 2019 06:02:54 GMT"},{"request":{"method":"delete","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/releases/","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4584"], "X-Ratelimit-Reset":["1575442385"], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Wed, 04 Dec 2019 06:02:55 GMT"}],"recorded_with":"VCR 4.0.0"}