{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/67/comments","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4409"], "X-Ratelimit-Reset":["1389606162"], "Etag":["\"9f5071912ca36f5befb2e9c720dfe059\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/401530\",\"id\":401530,\"diff_hunk\":\"@@ -30,7 +30,11 @@ def to_s\\n     end\\n \\n     def url\\n-      \\\"https://github.com/#{slug}\\\"\\n+      if Client.github_url\",\"path\":\"lib/octokit/repository.rb\",\"position\":5,\"original_position\":5,\"commit_id\":\"2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"original_commit_id\":\"2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"user\":{\"login\":\"catsby\",\"id\":61721,\"avatar_url\":\"https://gravatar.com/avatar/dfb3948650131e4f0385c3328187cfca?d=https%3A%2F%2Fidenticons.github.com%2Fc2e9e9488cc6ebe3c2ad22f34a771d48.png&r=x\",\"gravatar_id\":\"dfb3948650131e4f0385c3328187cfca\",\"url\":\"https://api.github.com/users/catsby\",\"html_url\":\"https://github.com/catsby\",\"followers_url\":\"https://api.github.com/users/catsby/followers\",\"following_url\":\"https://api.github.com/users/catsby/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/catsby/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/catsby/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/catsby/subscriptions\",\"organizations_url\":\"https://api.github.com/users/catsby/orgs\",\"repos_url\":\"https://api.github.com/users/catsby/repos\",\"events_url\":\"https://api.github.com/users/catsby/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/catsby/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"This is causing a test to fail (`respository_spec.rb`, `\\\"should render url as string\\\"`). On line 15 of `configuration.rb` you add `github_url` as an option key, which is then added as to the `Client` in the `attr_accessor` block, but it's an instance method not a class method. \",\"created_at\":\"2012-01-31T14:23:41Z\",\"updated_at\":\"2012-01-31T14:23:41Z\",\"html_url\":\"https://github.com/octokit/octokit.rb/pull/67#discussion_r401530\",\"pull_request_url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/67\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/401530\"},\"html\":{\"href\":\"https://github.com/octokit/octokit.rb/pull/67#discussion_r401530\"},\"pull_request\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/67\"}}}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 09:34:30 GMT"}],"recorded_with":"VCR 2.4.0"}