{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/languages","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "Last-Modified":["Mon, 24 Jun 2013 18:32:10 GMT"], "Etag":["\"6af4039efdcd49a44ac4141103101fde\""], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJSdWJ5Ijo1NTUxMDEsIkNvZmZlZVNjcmlwdCI6MTM0NjUsIkphdmFTY3Jp\ncHQiOjEzODg1M30=\n"},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 18:32:12 GMT"}],"recorded_with":"VCR 2.4.0"}