{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/languages","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "X-Ratelimit-Reset":["1390200555"], "Last-Modified":["Mon, 20 Jan 2014 03:42:13 GMT"], "Etag":["\"20a821555901dafad45119e1782e0c1b\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"Ruby\":556723,\"CoffeeScript\":15107,\"JavaScript\":76062,\"CSS\":230935}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:25 GMT"}],"recorded_with":"VCR 2.4.0"}