{"http_interactions":[{"request":{"method":"head","uri":"https://api.github.com/repos/octokit/octokit.rb/tarball/master","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":302,"message":"Found"},"headers":{"Content-Type":["text/html;charset=utf-8"], "Status":["302 Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4981"], "Location":["https://codeload.github.com/octokit/octokit.rb/legacy.tar.gz/master"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 25 Jun 2013 16:19:25 GMT"}],"recorded_with":"VCR 2.4.0"}