{"http_interactions":[{"request":{"method":"head","uri":"https://api.github.com/?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "X-Ratelimit-Reset":["1433882822"], "Etag":["\"44f4cba47318332e33b402dcd321462b\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 09 Jun 2015 19:51:25 GMT"}],"recorded_with":"VCR 2.9.3"}