{"http_interactions":[{"request":{"method":"head","uri":"https://api.github.com/?foo=bar","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["57"], "X-Ratelimit-Reset":["1389459025"], "Etag":["\"86cc523939651846d38184b1f8dff315\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 11 Jan 2014 15:50:26 GMT"}],"recorded_with":"VCR 2.4.0"}