{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/public","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["41"], "X-Ratelimit-Reset":["1389538979"], "Etag":["\"02899d871140063ce82a9abfbc45620c\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/gists/public?page=2>; rel=\"next\", <https://api.github.com/gists/public?page=100>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/gists/8385679\",\"forks_url\":\"https://api.github.com/gists/8385679/forks\",\"commits_url\":\"https://api.github.com/gists/8385679/commits\",\"id\":\"8385679\",\"git_pull_url\":\"https://gist.github.com/8385679.git\",\"git_push_url\":\"https://gist.github.com/8385679.git\",\"html_url\":\"https://gist.github.com/8385679\",\"files\":{\"gistfile1.txt\":{\"filename\":\"gistfile1.txt\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/stokevsliverpool/8385679/raw/56a6051ca2b02b04ef92d5150c9ef600403cb1de/gistfile1.txt\",\"size\":1}},\"public\":true,\"created_at\":\"2014-01-12T15:01:55Z\",\"updated_at\":\"2014-01-12T15:01:56Z\",\"description\":\"\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8385679/comments\",\"owner\":{\"login\":\"stokevsliverpool\",\"id\":6382651,\"avatar_url\":\"https://gravatar.com/avatar/d3852851459dc255f0e164baaf3a4155?d=https%3A%2F%2Fidenticons.github.com%2F7ab555ad5af3d9f59b06dd6a249ee66f.png&r=x\",\"gravatar_id\":\"d3852851459dc255f0e164baaf3a4155\",\"url\":\"https://api.github.com/users/stokevsliverpool\",\"html_url\":\"https://github.com/stokevsliverpool\",\"followers_url\":\"https://api.github.com/users/stokevsliverpool/followers\",\"following_url\":\"https://api.github.com/users/stokevsliverpool/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/stokevsliverpool/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/stokevsliverpool/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/stokevsliverpool/subscriptions\",\"organizations_url\":\"https://api.github.com/users/stokevsliverpool/orgs\",\"repos_url\":\"https://api.github.com/users/stokevsliverpool/repos\",\"events_url\":\"https://api.github.com/users/stokevsliverpool/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/stokevsliverpool/received_events\",\"type\":\"User\",\"site_admin\":false}},{\"url\":\"https://api.github.com/gists/8385670\",\"forks_url\":\"https://api.github.com/gists/8385670/forks\",\"commits_url\":\"https://api.github.com/gists/8385670/commits\",\"id\":\"8385670\",\"git_pull_url\":\"https://gist.github.com/8385670.git\",\"git_push_url\":\"https://gist.github.com/8385670.git\",\"html_url\":\"https://gist.github.com/8385670\",\"files\":{\"gistfile1.txt\":{\"filename\":\"gistfile1.txt\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.gith[...]
