{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/public","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["59"], "X-Ratelimit-Reset":["1389662319"], "Etag":["\"d9f3d2b228f82554655374220c0f3bdf\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/gists/public?page=2>; rel=\"next\", <https://api.github.com/gists/public?page=100>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/gists/8410624\",\"forks_url\":\"https://api.github.com/gists/8410624/forks\",\"commits_url\":\"https://api.github.com/gists/8410624/commits\",\"id\":\"8410624\",\"git_pull_url\":\"https://gist.github.com/8410624.git\",\"git_push_url\":\"https://gist.github.com/8410624.git\",\"html_url\":\"https://gist.github.com/8410624\",\"files\":{\"h.py\":{\"filename\":\"h.py\",\"type\":\"application/python\",\"language\":\"Python\",\"raw_url\":\"https://gist.github.com/cablehead/8410624/raw/dfa54085fa1881515b528abfecdf43c3ba686bd8/h.py\",\"size\":286}},\"public\":true,\"created_at\":\"2014-01-14T00:18:22Z\",\"updated_at\":\"2014-01-14T00:18:22Z\",\"description\":null,\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8410624/comments\",\"owner\":{\"login\":\"cablehead\",\"id\":1394,\"avatar_url\":\"https://gravatar.com/avatar/2e9b5cb8fcf834ddf8be44a450efe97f?d=https%3A%2F%2Fidenticons.github.com%2Ff016e59c7ad8b1d72903bb1aa5720d53.png&r=x\",\"gravatar_id\":\"2e9b5cb8fcf834ddf8be44a450efe97f\",\"url\":\"https://api.github.com/users/cablehead\",\"html_url\":\"https://github.com/cablehead\",\"followers_url\":\"https://api.github.com/users/cablehead/followers\",\"following_url\":\"https://api.github.com/users/cablehead/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cablehead/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cablehead/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cablehead/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cablehead/orgs\",\"repos_url\":\"https://api.github.com/users/cablehead/repos\",\"events_url\":\"https://api.github.com/users/cablehead/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cablehead/received_events\",\"type\":\"User\",\"site_admin\":false}},{\"url\":\"https://api.github.com/gists/8410620\",\"forks_url\":\"https://api.github.com/gists/8410620/forks\",\"commits_url\":\"https://api.github.com/gists/8410620/commits\",\"id\":\"8410620\",\"git_pull_url\":\"https://gist.github.com/8410620.git\",\"git_push_url\":\"https://gist.github.com/8410620.git\",\"html_url\":\"https://gist.github.com/8410620\",\"files\":{\"toolbar-sizing.html\":{\"filename\":\"toolbar-sizing.html\",\"type\":\"text/html\",\"language\":\"HTML\",\"raw_url\":\"https://gist.github.com/DeanPoulin/8410620/raw/ead2fed2d99c71d60ecac3569690db0470e53084/toolbar-sizing.html\",\"size\":1214}},\"public\":true,\"created_at\":\"2014-01-14T00:17:44Z\",\"updated_at\":\"2014-01-14T00:17:45Z\",\"description\":\"Toolbar Sizing\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8410620/comments\",\"owner\":{\"login\":\"DeanPoulin\",\"id\":246410,[...]
