{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/search/users?order=desc&q=mike%20followers:%3E10&sort=joined","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["20"], "X-Ratelimit-Remaining":["18"], "X-Ratelimit-Reset":["1389451525"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/search/users?sort=joined&order=desc&q=mike+followers%3A%3E10&page=2>; rel=\"next\", <https://api.github.com/search/users?sort=joined&order=desc&q=mike+followers%3A%3E10&page=13>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"{\"total_count\":386,\"items\":[{\"login\":\"Mikelandzhelo\",\"id\":5148780,\"avatar_url\":\"https://gravatar.com/avatar/afaeba130c5580e06ab1b5e36e4a7063?d=https%3A%2F%2Fidenticons.github.com%2F25d3730d1f4450920e3b6a0c088f6430.png&r=x\",\"gravatar_id\":\"afaeba130c5580e06ab1b5e36e4a7063\",\"url\":\"https://api.github.com/users/Mikelandzhelo\",\"html_url\":\"https://github.com/Mikelandzhelo\",\"followers_url\":\"https://api.github.com/users/Mikelandzhelo/followers\",\"following_url\":\"https://api.github.com/users/Mikelandzhelo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Mikelandzhelo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Mikelandzhelo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Mikelandzhelo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Mikelandzhelo/orgs\",\"repos_url\":\"https://api.github.com/users/Mikelandzhelo/repos\",\"events_url\":\"https://api.github.com/users/Mikelandzhelo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Mikelandzhelo/received_events\",\"type\":\"User\",\"site_admin\":false,\"score\":1.9970475},{\"login\":\"mvanger\",\"id\":4534155,\"avatar_url\":\"https://gravatar.com/avatar/733a71f1f25fcb9702fdf0653192d91f?d=https%3A%2F%2Fidenticons.github.com%2F2d169cd91be2705b3d11042eccd11cb5.png&r=x\",\"gravatar_id\":\"733a71f1f25fcb9702fdf0653192d91f\",\"url\":\"https://api.github.com/users/mvanger\",\"html_url\":\"https://github.com/mvanger\",\"followers_url\":\"https://api.github.com/users/mvanger/followers\",\"following_url\":\"https://api.github.com/users/mvanger/following{/other_u[...]
