{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/issues/comments/1194690","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4971"], "X-Ratelimit-Reset":["1389615104"], "Last-Modified":["Sun, 12 Jan 2014 00:24:49 GMT"], "Etag":["\"45c2e9821616913c79919c54ccb02c12\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/comments/1194690\",\"html_url\":\"https://github.com/octokit/octokit.rb/pull/25#issuecomment-1194690\",\"issue_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/25\",\"id\":1194690,\"user\":{\"login\":\"catsby\",\"id\":61721,\"avatar_url\":\"https://gravatar.com/avatar/dfb3948650131e4f0385c3328187cfca?d=https%3A%2F%2Fidenticons.github.com%2Fc2e9e9488cc6ebe3c2ad22f34a771d48.png&r=x\",\"gravatar_id\":\"dfb3948650131e4f0385c3328187cfca\",\"url\":\"https://api.github.com/users/catsby\",\"html_url\":\"https://github.com/catsby\",\"followers_url\":\"https://api.github.com/users/catsby/followers\",\"following_url\":\"https://api.github.com/users/catsby/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/catsby/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/catsby/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/catsby/subscriptions\",\"organizations_url\":\"https://api.github.com/users/catsby/orgs\",\"repos_url\":\"https://api.github.com/users/catsby/repos\",\"events_url\":\"https://api.github.com/users/catsby/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/catsby/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2011-05-18T03:11:51Z\",\"updated_at\":\"2011-05-18T03:11:51Z\",\"body\":\"I've got the listing and added a comment done on my fork.\\nListing all comments on an issue doesn't (yet) return a unique identifier, unless you count the url.  This makes updating an existing comment ... a pain.\\n\\nI tried to put in an issue @ support.github.com, but I can't seem to login and Tender didn't like me trying to post an issue with an email they already had, even though they wouldn't let me login.  I'll follow up tomorrow \"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 11:22:27 GMT"}],"recorded_with":"VCR 2.4.0"}