{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/repos/sferik/rails_admin/forks","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["202 Accepted"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4932"], "X-Ratelimit-Reset":["1390200528"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"id\":15915541,\"name\":\"rails_admin\",\"full_name\":\"<GITHUB_LOGIN>/rails_admin\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB_LOGIN>/rails_admin\",\"description\":\"RailsAdmin is a Rails engine that provides an easy-to-use interface for managing your data\",\"fork\":true,\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin\",\"forks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/releases{/id}\",\"created_at\":\"2014-01-14T21:06:56Z\",\"updated_at\":\"2014-01-14T21:06:57Z\",\"pushed_at\":\"2014-01-11T13:50:01Z\",\"git_url\":\"git://github.com/<GITHUB_LOGIN>/rails_admin.git\",\"ssh_url\":\"git@github.com:<GITHUB_LOGIN>/rails_admin.git\",\"clone_url\":\"https://github.com/<GITHUB_LOGIN>/rails_admin.git\",\"svn_url\":\"https://github.com/<GITHUB_LOGIN>/rails_admin\",\"homepage\":\"\",\"size\":14171,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":false,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"parent\":{\"id\":810796,\"name\":\"rails_admin\",\"full_name\":\"sferik/rails_admin\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"fol[...]
{"request":{"method":"delete","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/rails_admin","body":{"encoding":"UTF-8","string":"{}"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4931"], "X-Ratelimit-Reset":["1390200528"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:32 GMT"}],"recorded_with":"VCR 2.4.0"}