*.gem
*.rbc
*.swp
*.tmproj
*~
.\#*
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
\#*
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags
.test_queue_stats
