{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/teams/<GITHUB_TEAM_ID>/teams","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4993"], "X-Ratelimit-Reset":["1536263205"], "Etag":["\"78ea448<GITHUB_TEST_INTEGRATION>5330ab89f5b2ce279310965\""], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Github-Media-Type":["github.hellcat-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 06 Sep 2018 18:54:19 GMT"}],"recorded_with":"VCR 3.0.3"}