{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/1903950","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4408"], "X-Ratelimit-Reset":["1389606162"], "Last-Modified":["Mon, 13 Jan 2014 02:47:06 GMT"], "Etag":["\"3000681ab4f18442140323a2f87f3c88\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/1903950\",\"id\":1903950,\"diff_hunk\":\"@@ -75,5 +95,20 @@ def links(response)\\n \\n       Hash[ *links.flatten ]\\n     end\\n+\\n+    def media_type_header(octokit_options)\\n+      case octokit_options[:media_type]\\n+      when :json\\n+        \\\"application/vnd.github.v#{octokit_options[:version]}+json\\\"\",\"path\":\"lib/octokit/request.rb\",\"position\":null,\"original_position\":46,\"commit_id\":\"5aaca24568a5d5603e5f08372934a2c21d2a1d51\",\"original_commit_id\":\"6ed6909ceb8f285de6562cca41dd1e4331c00722\",\"user\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https%3A%2F%2Fidenticons.github.com%2F3b3dbaf68507998acd6a5a5254ab2d76.png&r=x\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\",\"site_admin\":true},\"body\":\"I like that. Tests FTW. Thanks for patching this.\",\"created_at\":\"2012-10-22T14:05:25Z\",\"updated_at\":\"2012-11-27T21:21:54Z\",\"html_url\":\"https://github.com/octokit/octokit.rb/pull/163#discussion_r1903950\",\"pull_request_url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/163\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/1903950\"},\"html\":{\"href\":\"https://github.com/octokit/octokit.rb/pull/163#discussion_r1903950\"},\"pull_request\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/163\"}}}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 09:34:31 GMT"}],"recorded_with":"VCR 2.4.0"}