{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/dependabot/secrets",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"9544ce53c8cb9f429dbe25a8441dd6944bdff7518c92a55ed462f26d3a731084\""
          ],
          "X-Oauth-Scopes": [
            "admin:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:org"
          ],
          "Github-Authentication-Token-Expiration": [
            "2024-01-11 18:57:19 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4968"
          ],
          "X-Ratelimit-Reset": [
            "1704398283"
          ],
          "X-Ratelimit-Used": [
            "32"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJ0b3RhbF9jb3VudCI6MCwic2VjcmV0cyI6W119\n"
        }
      },
      "recorded_at": "Thu, 04 Jan 2024 19:04:29 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}