{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/emails","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4935"], "X-Ratelimit-Reset":["1475233446"], "Etag":["W/\"dc618912dc99985b6308329dde699d80\""], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":["user, user:email"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"W3siZW1haWwiOiI8R0lUSFVCX0xPR0lOPkBnbWFpbC5jb20iLCJwcmltYXJ5\nIjp0cnVlLCJ2ZXJpZmllZCI6dHJ1ZX1d\n"},"http_version":null},"recorded_at":"Fri, 30 Sep 2016 10:09:19 GMT"}],"recorded_with":"VCR 2.9.3"}