{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/actions/workflows","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4984"], "X-Ratelimit-Reset":["1588769531"], "Etag":["W/\"125a96a0dec4d32c8419772cfa8f5a32\""], "X-Oauth-Scopes":["admin:org, delete_repo, repo, workflow"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MCwid29ya2Zsb3dzIjpbXX0=\n"},"http_version":null},"recorded_at":"Wed, 06 May 2020 11:57:18 GMT"}],"recorded_with":"VCR 5.1.0"}