{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/user/migrations/400195/archive","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.wyandotte-preview; format=json"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4957"], "X-Ratelimit-Reset":["1600911565"], "X-Ratelimit-Used":["43"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 24 Sep 2020 01:13:10 GMT"}],"recorded_with":"VCR 5.1.0"}