{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/branches/master","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["47"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"235792cfa7621efcbf85e965279dd41e\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"master\",\"commit\":{\"sha\":\"6e0d6ccd5b68173dd030e62f4276793e5d7ce40b\",\"commit\":{\"author\":{\"name\":\"Wynn Netherland\",\"email\":\"wynn.netherland@gmail.com\",\"date\":\"2014-01-09T16:59:40Z\"},\"committer\":{\"name\":\"Wynn Netherland\",\"email\":\"wynn.netherland@gmail.com\",\"date\":\"2014-01-09T16:59:40Z\"},\"message\":\"Merge pull request #401 from joeyw/remove-deprecated-download-method\\n\\nRemove deprecated method #create_download.\",\"tree\":{\"sha\":\"2c73e42aff3f5f0a20544c5fee0ab50042e1add4\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/trees/2c73e42aff3f5f0a20544c5fee0ab50042e1add4\"},\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits/6e0d6ccd5b68173dd030e62f4276793e5d7ce40b\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/6e0d6ccd5b68173dd030e62f4276793e5d7ce40b\",\"html_url\":\"https://github.com/octokit/octokit.rb/commit/6e0d6ccd5b68173dd030e62f4276793e5d7ce40b\",\"comments_url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/6e0d6ccd5b68173dd030e62f4276793e5d7ce40b/comments\",\"author\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https%3A%2F%2Fidenticons.github.com%2F3b3dbaf68507998acd6a5a5254ab2d76.png&r=x\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\",\"site_admin\":true},\"committer\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https%3A%2F%2Fidenticons.github.com%2F3b3dbaf68507998acd6a5a5254ab2d76.png&r=x\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\",\"site_admin\":true},\"parents\":[{\"sha\":\"24ee6a2b8f94501e62904e1d2e594bea0a84c743\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/24ee6a2b8f94501e62904e1d2e594bea0a84c743\",\"html_url\":\"https://github.com/octokit/octokit.rb/commit/24ee6a2b8f94501e62904e1d2e594bea0a84c743\"},{\"sha\":\"fc0850bee4c6b034e9aa96296b4a5d9cb06d5bb5\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/fc0850bee4c6b034e9aa96296b4a5d9cb06d5bb5\",\"html_url\":\"https://github.com/octokit/octokit.rb/commit/fc0850bee4c6b034e9aa96296b4a5d9cb06d5bb5\"}]},\"_links\":{\"self\":\"https://api.github.com/repos/octokit/octokit.rb/branches/master\",\"html\":\"https://github.com/octokit/octokit.rb/tree/master\"}}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:28 GMT"}],"recorded_with":"VCR 2.4.0"}