{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/branches","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["48"], "X-Ratelimit-Reset":["1390200555"], "Last-Modified":["Fri, 17 Jan 2014 09:27:50 GMT"], "Etag":["\"fd7b966b456cfe48f1f76f20e54d8cab\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"name\":\"base64_encoding_fix\",\"commit\":{\"sha\":\"d0b0dbecf4188abea1e6f916c292c7241f17f6cc\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/d0b0dbecf4188abea1e6f916c292c7241f17f6cc\"}},{\"name\":\"delete-branch\",\"commit\":{\"sha\":\"031e1b1cca13a6d0ea04b42b9a39043afc769a1e\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/031e1b1cca13a6d0ea04b42b9a39043afc769a1e\"}},{\"name\":\"deployments-preview\",\"commit\":{\"sha\":\"b034920492857f8acb16d304a01152f697da38f1\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/b034920492857f8acb16d304a011[...]
