{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.github.com/app/hook/deliveries/55148726666/attempts",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "Bearer <JWT_BEARER_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        }
      },
      "recorded_at": "Sat, 09 Sep 2023 18:40:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}
