{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/sferik/repos","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"aae07183bcd24e3350e3b04f7c306dec\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/user/10308/repos?page=2>; rel=\"next\", <https://api.github.com/user/10308/repos?page=3>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":8601427,\"name\":\"410_in_140\",\"full_name\":\"sferik/410_in_140\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/sferik/410_in_140\",\"description\":\"A Twitter API v1 server in 140 characters\",\"fork\":false,\"url\":\"https://api.github.com/repos/sferik/410_in_140\",\"forks_url\":\"https://api.github.com/repos/sferik/410_in_140/forks\",\"keys_url\":\"https://api.github.com/repos/sferik/410_in_140/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sferik/410_in_140/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sferik/410_in_140/teams\",\"hooks_url\":\"https://api.github.com/repos/sferik/410_in_140/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sferik/410_in_140/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sferik/410_in_140/events\",\"assignees_url\":\"https://api.github.com/repos/sferik/410_in_140/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sferik/410_in_140/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sferik/410_in_140/tags\",\"blobs_url\":\"https://api.github.com/repos/sferik/410_in_140/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sferik/410_in_140/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sferik/410_in_140/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sferik/410_in_140/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sferik/410_in_140/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sferik/410_in_140/languages\",\"stargazers_url\":\"https://api.github.com/repos/sferik/410_in_140/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sferik/410_in_140/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sferik/410_in_140/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sferik/410_in_140/subscription\",\"commits_url\":\"https://api.github.com/repos/sferik/410_in_140/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sferik/410_in_140/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sferik/410_in_140/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sferik/410_in_140/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/sferik/410_in_140/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sferik/410_in_140/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sferik/410_in_140/merges\",\"archive_url\":\"https://api.github.com/repos/sferik/410_in_140/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sferik/410_in_140/downloads\",\"issues_url\":\"https://api.github.com/repos/sferik/410_in_140/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sferik/410_in_140/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sferik/410_in_140/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sferik/410_in_140/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sferik/410_in_140/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/sferik/410_in_140/releases{/id}\",\"created_at\":\"2013-03-06T10:51:34Z\",\"updated_at\":\"2013-12-10T08:49:11Z\",\"pushed_at\":\"2013-06-11T19:21:46Z\",\"git_url\":\"git://github.com/sferik/410_in_140.git\",\"ssh_url\":\"git@github.com:sferik/410_in_140.git\",\"clone_url\":\"https://github.com/sferik/410_in_140.git\",\"svn_url\":\"https://github.com/sferik/410_in_140\",\"homepage\":\"\",\"size\":172,\"stargazers_count\":2,\"watchers_count\":2,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":2,\"default_branch\":\"master\"},{\"id\":15434320,\"name\":\"adamantium\",\"full_name\":\"sferik/adamantium\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/follo[...]
