{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/repos","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4942"], "X-Ratelimit-Reset":["1390200528"], "Etag":["\"da05dd0e86271a4ffbcc086b97bfc682\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"id\":15915536,\"name\":\"an-repo\",\"full_name\":\"<GITHUB_LOGIN>/an-repo\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB_LOGIN>/an-repo\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo\",\"forks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/an-repo/releases{/id}\",\"created_at\":\"2014-01-14T21:06:50Z\",\"updated_at\":\"2014-01-14T21:06:50Z\",\"pushed_at\":\"2014-01-14T21:06:50Z\",\"git_url\":\"git://github.com/<GITHUB_LOGIN>/an-repo.git\",\"ssh_url\":\"git@github.com:<GITHUB_LOGIN>/an-repo.git\",\"clone_url\":\"https://github.com/<GITHUB_LOGIN>/an-repo.git\",\"svn_url\":\"https://github.com/<GITHUB_LOGIN>/an-repo\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":15905620,\"name\":\"octokit-test-repo-1389712400.1660569\",\"full_name\":\"<GITHUB_LOGIN>/octokit-test-repo-1389712400.1660569\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.c[...]
