{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/issues","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4977"], "X-Ratelimit-Reset":["1389615104"], "Etag":["\"3cc2c293393f7dba57774f3cd8c057c0\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/issues?page=2>; rel=\"next\", <https://api.github.com/repositories/810796/issues?page=7>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1887\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1887/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1887/comments\",\"events_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1887/events\",\"html_url\":\"https://github.com/sferik/rails_admin/issues/1887\",\"id\":25417429,\"number\":1887,\"title\":\"undefined method `breadcrumb_parent' for nil:NilClass\",\"user\":{\"login\":\"thelastinuit\",\"id\":944683,\"avatar_url\":\"https://gravatar.com/avatar/d5f639aaa4b30cf79cd2193376c69aee?d=https%3A%2F%2Fidenticons.github.com%2F416c9836d99e9a788c29618c75e7f611.png&r=x\",\"gravatar_id\":\"d5f639aaa4b30cf79cd2193376c69aee\",\"url\":\"https://api.github.com/users/thelastinuit\",\"html_url\":\"https://github.com/thelastinuit\",\"followers_url\":\"https://api.github.com/users/thelastinuit/followers\",\"following_url\":\"https://api.github.com/users/thelastinuit/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/thelastinuit/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/thelastinuit/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/thelastinuit/subscriptions\",\"organizations_url\":\"https://api.github.com/users/thelastinuit/orgs\",\"repos_url\":\"https://api.github.com/users/thelastinuit/repos\",\"events_url\":\"https://api.github.com/users/thelastinuit/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/thelastinuit/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2014-01-10T19:40:31Z\",\"updated_at\":\"2014-01-10T19:40:31Z\",\"closed_at\":null,\"body\":\"I'm using the rails_admin_import addon but the error i got it's from rails_admin.\\r\\nI saw the previous issue with the same name but didn't help.\\r\\nAnyone?\\r\\n\\r\\nthis is the config:\\r\\n\\r\\n# -*- encoding : utf-8 -*-\\r\\n# -*- coding: utf-8 -*-\\r\\nrequire 'i18n'\\r\\nI18n.default_locale = :es\\r\\n# RailsAdmin config file. Generated on August 22, 2013 15:42\\r\\n# See github.com/sferik/rails_admin for more informations\\r\\n\\r\\nRailsAdmin.config do |config|\\r\\[...]
