{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/issues","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4976"], "X-Ratelimit-Reset":["1389615104"], "Etag":["\"8a58eaecd61cf9bb900c230ebbb867d3\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 11:22:26 GMT"}],"recorded_with":"VCR 2.4.0"}