{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/actions/artifacts/362518594",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Oauth-Scopes": [
            "repo, workflow"
          ],
          "X-Accepted-Oauth-Scopes": [
            ""
          ],
          "Github-Authentication-Token-Expiration": [
            "2022-09-20 23:45:13 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-08-09"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4990"
          ],
          "X-Ratelimit-Reset": [
            "1663119007"
          ],
          "X-Ratelimit-Used": [
            "10"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": ""
        }
      },
      "recorded_at": "Wed, 14 Sep 2022 00:30:11 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}