{
  "http_interactions": [
    {
      "request": {
        "method": "patch",
        "uri": "https://api.github.com/repos/Caja-de-Dano/active-wrapper/code-scanning/default-setup",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "eyJzdGF0ZSI6ImNvbmZpZ3VyZWQifQ==\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Oauth-Scopes": [
            "gist, read:org, repo, workflow"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:repo_hook, delete_repo, read:repo_hook, repo, repo:invite, repo:status, repo_deployment, security_events, write:repo_hook"
          ],
          "X-Oauth-Client-Id": [
            "178c6fc778ccc68e1d6a"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4976"
          ],
          "X-Ratelimit-Reset": [
            "1717135450"
          ],
          "X-Ratelimit-Used": [
            "24"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "eyJydW5faWQiOjkzMTM1NjI1MjIsInJ1bl91cmwiOiJodHRwczovL2FwaS5n\naXRodWIuY29tL3JlcG9zL0NhamEtZGUtRGFuby9hY3RpdmUtd3JhcHBlci9h\nY3Rpb25zL3J1bnMvOTMxMzU2MjUyMiJ9\n"
        }
      },
      "recorded_at": "Fri, 31 May 2024 05:51:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}