{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/github/members/pengwynn","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":302,"message":"Found"},"headers":{"Content-Type":["text/html;charset=utf-8"], "Status":["302 Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4983"], "Location":["https://api.github.com/organizations/9919/public_members/pengwynn"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 14:30:40 GMT"},{"request":{"method":"get","uri":"https://api.github.com/organizations/9919/public_members/pengwynn","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4982"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["repo, user"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 14:30:41 GMT"}],"recorded_with":"VCR 2.4.0"}