{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/825/reviews/6505518/comments","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4683"], "X-Ratelimit-Reset":["1485962855"], "Etag":["\"5d003013b89dbe820a0e57a98020dfec\""], "X-Oauth-Scopes":["delete_repo, repo"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.black-cat-preview"], "Link":["<https://api.github.com/repositories/417862/pulls/825/reviews/6505518/comments?page=0>; rel=\"last\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 01 Feb 2017 14:54:05 GMT"}],"recorded_with":"VCR 2.9.3"}