--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/emojis
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "19"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"bd638af3c29e0ae39ab090030cacb099\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"+1\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/+1.png?v5\",\"-1\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/-1.png?v5\",\"100\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/100.png?v5\",\"1234\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/1234.png?v5\",\"8ball\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/8ball.png?v5\",\"a\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/a.png?v5\",\"ab\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ab.png?v5\",\"abc\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/abc.png?v5\",\"abcd\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/abcd.png?v5\",\"accept\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/accept.png?v5\",\"aerial_tramway\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/aerial_tramway.png?v5\",\"airplane\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/airplane.png?v5\",\"alarm_clock\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/alarm_clock.png?v5\",\"alien\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/alien.png?v5\",\"ambulance\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ambulance.png?v5\",\"anchor\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/anchor.png?v5\",\"angel\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/angel.png?v5\",\"anger\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/anger.png?v5\",\"angry\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/angry.png?v5\",\"anguished\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/anguished.png?v5\",\"ant\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ant.png?v5\",\"apple\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/apple.png?v5\",\"aquarius\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/aquarius.png?v5\",\"aries\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/aries.png?v5\",\"arrow_backward\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_backward.png?v5\",\"arrow_double_down\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_double_down.png?v5\",\"arrow_double_up\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_double_up.png?v5\",\"arrow_down\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_down.png?v5\",\"arrow_down_small\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_down_small.png?v5\",\"arrow_forward\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_forward.png?v5\",\"arrow_heading_down\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_heading_down.png?v5\",\"arrow_heading_up\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_heading_up.png?v5\",\"arrow_left\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_left.png?v5\",\"arrow_lower_left\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_lower_left.png?v5\",\"arrow_lower_right\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_lower_right.png?v5\",\"arrow_right\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_right.png?v5\",\"arrow_right_hook\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_right_hook.png?v5\",\"arrow_up\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_up.png?v5\",\"arrow_up_down\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_up_down.png?v5\",\"arrow_up_small\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_up_small.png?v5\",\"arrow_upper_left\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_upper_left.png?v5\",\"arrow_upper_right\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrow_upper_right.png?v5\",\"arrows_clockwise\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrows_clockwise.png?v5\",\"arrows_counterclockwise\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/arrows_counterclockwise.png?v5\",\"art\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/art.png?v5\",\"articulated_lorry\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/articulated_lorry.png?v5\",\"astonished\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/astonished.png?v5\",\"athletic_shoe\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/athletic_shoe.png?v5\",\"atm\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/atm.png?v5\",\"b\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/b.png?v5\",\"baby\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baby.png?v5\",\"baby_bottle\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baby_bottle.png?v5\",\"baby_chick\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baby_chick.png?v5\",\"baby_symbol\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baby_symbol.png?v5\",\"back\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/back.png?v5\",\"baggage_claim\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baggage_claim.png?v5\",\"balloon\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/balloon.png?v5\",\"ballot_box_with_check\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ballot_box_with_check.png?v5\",\"bamboo\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bamboo.png?v5\",\"banana\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/banana.png?v5\",\"bangbang\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bangbang.png?v5\",\"bank\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bank.png?v5\",\"bar_chart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bar_chart.png?v5\",\"barber\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/barber.png?v5\",\"baseball\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/baseball.png?v5\",\"basketball\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/basketball.png?v5\",\"bath\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bath.png?v5\",\"bathtub\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bathtub.png?v5\",\"battery\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/battery.png?v5\",\"bear\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bear.png?v5\",\"bee\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bee.png?v5\",\"beer\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/beer.png?v5\",\"beers\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/beers.png?v5\",\"beetle\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/beetle.png?v5\",\"beginner\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/beginner.png?v5\",\"bell\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bell.png?v5\",\"bento\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bento.png?v5\",\"bicyclist\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bicyclist.png?v5\",\"bike\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bike.png?v5\",\"bikini\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bikini.png?v5\",\"bird\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bird.png?v5\",\"birthday\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/birthday.png?v5\",\"black_circle\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_circle.png?v5\",\"black_joker\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_joker.png?v5\",\"black_large_square\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_large_square.png?v5\",\"black_medium_small_square\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_medium_small_square.png?v5\",\"black_medium_square\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_medium_square.png?v5\",\"black_nib\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_nib.png?v5\",\"black_small_square\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_small_square.png?v5\",\"black_square_button\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/black_square_button.png?v5\",\"blossom\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blossom.png?v5\",\"blowfish\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blowfish.png?v5\",\"blue_book\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blue_book.png?v5\",\"blue_car\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blue_car.png?v5\",\"blue_heart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blue_heart.png?v5\",\"blush\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/blush.png?v5\",\"boar\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/boar.png?v5\",\"boat\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/boat.png?v5\",\"bomb\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bomb.png?v5\",\"book\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/book.png?v5\",\"bookmark\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bookmark.png?v5\",\"bookmark_tabs\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bookmark_tabs.png?v5\",\"books\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/books.png?v5\",\"boom\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/boom.png?v5\",\"boot\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/boot.png?v5\",\"bouquet\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bouquet.png?v5\",\"bow\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bow.png?v5\",\"bowling\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bowling.png?v5\",\"bowtie\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bowtie.png?v5\",\"boy\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/boy.png?v5\",\"bread\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bread.png?v5\",\"bride_with_veil\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bride_with_veil.png?v5\",\"bridge_at_night\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bridge_at_night.png?v5\",\"briefcase\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/briefcase.png?v5\",\"broken_heart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/broken_heart.png?v5\",\"bug\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bug.png?v5\",\"bulb\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bulb.png?v5\",\"bullettrain_front\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bullettrain_front.png?v5\",\"bullettrain_side\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bullettrain_side.png?v5\",\"bus\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bus.png?v5\",\"busstop\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/busstop.png?v5\",\"bust_in_silhouette\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/bust_in_silhouette.png?v5\",\"busts_in_silhouette\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/busts_in_silhouette.png?v5\",\"cactus\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cactus.png?v5\",\"cake\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cake.png?v5\",\"calendar\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/calendar.png?v5\",\"calling\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/calling.png?v5\",\"camel\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/camel.png?v5\",\"camera\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/camera.png?v5\",\"cancer\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cancer.png?v5\",\"candy\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/candy.png?v5\",\"capital_abcd\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/capital_abcd.png?v5\",\"capricorn\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/capricorn.png?v5\",\"car\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/car.png?v5\",\"card_index\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/card_index.png?v5\",\"carousel_horse\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/carousel_horse.png?v5\",\"cat\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cat.png?v5\",\"cat2\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cat2.png?v5\",\"cd\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cd.png?v5\",\"chart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chart.png?v5\",\"chart_with_downwards_trend\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chart_with_downwards_trend.png?v5\",\"chart_with_upwards_trend\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chart_with_upwards_trend.png?v5\",\"checkered_flag\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/checkered_flag.png?v5\",\"cherries\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cherries.png?v5\",\"cherry_blossom\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cherry_blossom.png?v5\",\"chestnut\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chestnut.png?v5\",\"chicken\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chicken.png?v5\",\"children_crossing\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/children_crossing.png?v5\",\"chocolate_bar\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/chocolate_bar.png?v5\",\"christmas_tree\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/christmas_tree.png?v5\",\"church\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/church.png?v5\",\"cinema\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cinema.png?v5\",\"circus_tent\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/circus_tent.png?v5\",\"city_sunrise\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/city_sunrise.png?v5\",\"city_sunset\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/city_sunset.png?v5\",\"cl\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cl.png?v5\",\"clap\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clap.png?v5\",\"clapper\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clapper.png?v5\",\"clipboard\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clipboard.png?v5\",\"clock1\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock1.png?v5\",\"clock10\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock10.png?v5\",\"clock1030\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock1030.png?v5\",\"clock11\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock11.png?v5\",\"clock1130\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock1130.png?v5\",\"clock12\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock12.png?v5\",\"clock1230\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock1230.png?v5\",\"clock130\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock130.png?v5\",\"clock2\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock2.png?v5\",\"clock230\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock230.png?v5\",\"clock3\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock3.png?v5\",\"clock330\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock330.png?v5\",\"clock4\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock4.png?v5\",\"clock430\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock430.png?v5\",\"clock5\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock5.png?v5\",\"clock530\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock530.png?v5\",\"clock6\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock6.png?v5\",\"clock630\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock630.png?v5\",\"clock7\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock7.png?v5\",\"clock730\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock730.png?v5\",\"clock8\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock8.png?v5\",\"clock830\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock830.png?v5\",\"clock9\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock9.png?v5\",\"clock930\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clock930.png?v5\",\"closed_book\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/closed_book.png?v5\",\"closed_lock_with_key\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/closed_lock_with_key.png?v5\",\"closed_umbrella\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/closed_umbrella.png?v5\",\"cloud\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cloud.png?v5\",\"clubs\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/clubs.png?v5\",\"cn\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cn.png?v5\",\"cocktail\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cocktail.png?v5\",\"coffee\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/coffee.png?v5\",\"cold_sweat\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cold_sweat.png?v5\",\"collision\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/collision.png?v5\",\"computer\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/computer.png?v5\",\"confetti_ball\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/confetti_ball.png?v5\",\"confounded\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/confounded.png?v5\",\"confused\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/confused.png?v5\",\"congratulations\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/congratulations.png?v5\",\"construction\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/construction.png?v5\",\"construction_worker\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/construction_worker.png?v5\",\"convenience_store\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/convenience_store.png?v5\",\"cookie\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cookie.png?v5\",\"cool\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cool.png?v5\",\"cop\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cop.png?v5\",\"copyright\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/copyright.png?v5\",\"corn\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/corn.png?v5\",\"couple\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/couple.png?v5\",\"couple_with_heart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/couple_with_heart.png?v5\",\"couplekiss\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/couplekiss.png?v5\",\"cow\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cow.png?v5\",\"cow2\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cow2.png?v5\",\"credit_card\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/credit_card.png?v5\",\"crescent_moon\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crescent_moon.png?v5\",\"crocodile\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crocodile.png?v5\",\"crossed_flags\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crossed_flags.png?v5\",\"crown\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crown.png?v5\",\"cry\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cry.png?v5\",\"crying_cat_face\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crying_cat_face.png?v5\",\"crystal_ball\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/crystal_ball.png?v5\",\"cupid\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cupid.png?v5\",\"curly_loop\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/curly_loop.png?v5\",\"currency_exchange\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/currency_exchange.png?v5\",\"curry\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/curry.png?v5\",\"custard\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/custard.png?v5\",\"customs\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/customs.png?v5\",\"cyclone\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/cyclone.png?v5\",\"dancer\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dancer.png?v5\",\"dancers\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dancers.png?v5\",\"dango\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dango.png?v5\",\"dart\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dart.png?v5\",\"dash\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dash.png?v5\",\"date\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/date.png?v5\",\"de\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/de.png?v5\",\"deciduous_tree\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/deciduous_tree.png?v5\",\"department_store\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/department_store.png?v5\",\"diamond_shape_with_a_dot_inside\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/diamond_shape_with_a_dot_inside.png?v5\",\"diamonds\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/diamonds.png?v5\",\"disappointed\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/disappointed.png?v5\",\"disappointed_relieved\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/disappointed_relieved.png?v5\",\"dizzy\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dizzy.png?v5\",\"dizzy_face\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dizzy_face.png?v5\",\"do_not_litter\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/do_not_litter.png?v5\",\"dog\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dog.png?v5\",\"dog2\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dog2.png?v5\",\"dollar\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dollar.png?v5\",\"dolls\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dolls.png?v5\",\"dolphin\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dolphin.png?v5\",\"door\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/door.png?v5\",\"doughnut\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/doughnut.png?v5\",\"dragon\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dragon.png?v5\",\"dragon_face\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dragon_face.png?v5\",\"dress\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dress.png?v5\",\"dromedary_camel\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dromedary_camel.png?v5\",\"droplet\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/droplet.png?v5\",\"dvd\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dvd.png?v5\",\"e-mail\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/e-mail.png?v5\",\"ear\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ear.png?v5\",\"ear_of_rice\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ear_of_rice.png?v5\",\"earth_africa\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/earth_africa.png?v5\",\"earth_americas\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/earth_americas.png?v5\",\"earth_asia\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/earth_asia.png?v5\",\"egg\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/egg.png?v5\",\"eggplant\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eggplant.png?v5\",\"eight\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eight.png?v5\",\"eight_pointed_black_star\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eight_pointed_black_star.png?v5\",\"eight_spoked_asterisk\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eight_spoked_asterisk.png?v5\",\"electric_plug\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/electric_plug.png?v5\",\"elephant\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/elephant.png?v5\",\"email\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/email.png?v5\",\"end\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/end.png?v5\",\"envelope\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/envelope.png?v5\",\"envelope_with_arrow\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/envelope_with_arrow.png?v5\",\"es\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/es.png?v5\",\"euro\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/euro.png?v5\",\"european_castle\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/european_castle.png?v5\",\"european_post_office\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/european_post_office.png?v5\",\"evergreen_tree\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/evergreen_tree.png?v5\",\"exclamation\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/exclamation.png?v5\",\"expressionless\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/expressionless.png?v5\",\"eyeglasses\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eyeglasses.png?v5\",\"eyes\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/eyes.png?v5\",\"facepunch\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/facepunch.png?v5\",\"factory\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/factory.png?v5\",\"fallen_leaf\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fallen_leaf.png?v5\",\"family\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/family.png?v5\",\"fast_forward\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fast_forward.png?v5\",\"fax\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fax.png?v5\",\"fearful\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fearful.png?v5\",\"feelsgood\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/feelsgood.png?v5\",\"feet\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/feet.png?v5\",\"ferris_wheel\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/ferris_wheel.png?v5\",\"file_folder\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/file_folder.png?v5\",\"finnadie\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/finnadie.png?v5\",\"fire\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fire.png?v5\",\"fire_engine\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fire_engine.png?v5\",\"fireworks\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fireworks.png?v5\",\"first_quarter_moon\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/first_quarter_moon.png?v5\",\"first_quarter_moon_with_face\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/first_quarter_moon_with_face.png?v5\",\"fish\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fish.png?v5\",\"fish_cake\":\"https://a248.e.akamai.net/assets.github.com/images/icons/emoji/fish_cake.png?v5\",\"fishing_pole_and_fish\":\"https://a248.e.akamai
[...]
