--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/events/37786228
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "30"
      Last-Modified: 
      - Tue, 30 Apr 2013 17:07:24 GMT
      Etag: 
      - "\"c2a607d387ea47f38a140ad7f8e3c65b\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"id\":37786228,\"url\":\"https://api.github.com/repos/pengwynn/octokit/issues/events/37786228\",\"actor\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://secure.gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\"},\"event\":\"referenced\",\"commit_id\":null,\"created_at\":\"2013-02-13T22:34:31Z\",\"issue\":{\"url\":\"https://api.github.com/repos/pengwynn/octokit/issues/3\",\"labels_url\":\"https://api.github.com/repos/pengwynn/octokit/issues/3/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pengwynn/octokit/issues/3/comments\",\"events_url\":\"https://api.github.com/repos/pengwynn/octokit/issues/3/events\",\"html_url\":\"https://github.com/pengwynn/octokit/issues/3\",\"id\":338156,\"number\":3,\"title\":\"list_commits does not return commits for private repos\",\"user\":{\"login\":\"crazyscorpio12\",\"id\":73951,\"avatar_url\":\"https://secure.gravatar.com/avatar/0f94b3d0ad8fa25413b2d217a389292d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"0f94b3d0ad8fa25413b2d217a389292d\",\"url\":\"https://api.github.com/users/crazyscorpio12\",\"html_url\":\"https://github.com/crazyscorpio12\",\"followers_url\":\"https://api.github.com/users/crazyscorpio12/followers\",\"following_url\":\"https://api.github.com/users/crazyscorpio12/following\",\"gists_url\":\"https://api.github.com/users/crazyscorpio12/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/crazyscorpio12/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/crazyscorpio12/subscriptions\",\"organizations_url\":\"https://api.github.com/users/crazyscorpio12/orgs\",\"repos_url\":\"https://api.github.com/users/crazyscorpio12/repos\",\"events_url\":\"https://api.github.com/users/crazyscorpio12/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/crazyscorpio12/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"closed\",\"assignee\":null,\"milestone\":null,\"comments\":6,\"created_at\":\"2010-09-29T08:41:08Z\",\"updated_at\":\"2011-03-29T23:54:12Z\",\"closed_at\":\"2011-03-29T23:54:12Z\",\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"The list_commits does not pass the :query param and hence the commits for private repos are not returned. Was it left out intentionally?\"}}"
  recorded_at: Tue, 30 Apr 2013 18:08:43 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/4/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "29"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 18:08:44 GMT
- request: 
    method: get
    uri: https://api.github.com/users/<GITHUB_LOGIN>/events/orgs/github
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "28"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 18:08:44 GMT
- request: 
    method: get
    uri: https://api.github.com/orgs/github/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "27"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Tue, 30 Apr 2013 18:05:41 GMT
      Etag: 
      - "\"064f2842d4b24133b7880ede51e9cd32\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/organizations/9919/events?page=2>; rel="next"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"id\":\"1725439458\",\"type\":\"IssuesEvent\",\"actor\":{\"id\":5316,\"login\":\"mcandre\",\"gravatar_id\":\"dfe88469b75efc87cbcbbbc2a975850a\",\"url\":\"https://api.github.com/users/mcandre\",\"avatar_url\":\"https://secure.gravatar.com/avatar/dfe88469b75efc87cbcbbbc2a975850a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\"},\"repo\":{\"id\":1725199,\"name\":\"github/linguist\",\"url\":\"https://api.github.com/repos/github/linguist\"},\"payload\":{\"action\":\"opened\",\"issue\":{\"url\":\"https://api.github.com/repos/github/linguist/issues/488\",\"labels_url\":\"https://api.github.com/repos/github/linguist/issues/488/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/github/linguist/issues/488/comments\",\"events_url\":\"https://api.github.com/repos/github/linguist/issues/488/events\",\"html_url\":\"https://github.com/github/linguist/issues/488\",\"id\":13819271,\"number\":488,\"title\":\"Detect .emacs as elisp\",\"user\":{\"login\":\"[...]
- request: 
    method: get
    uri: https://api.github.com/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "26"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Tue, 30 Apr 2013 18:08:44 GMT
      Etag: 
      - "[...]
- request: 
    method: get
    uri: https://api.github.com/users/<GITHUB_LOGIN>/received_events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "25"
      X-Poll-Interval: 
      - "60"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 18:08:45 GMT
- request: 
    method: get
    uri: https://api.github.com/users/<GITHUB_LOGIN>/received_events/public
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "24"
      X-Poll-Interval: 
      - "60"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 18:08:46 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "23"
      Last-Modified: 
      - Tue, 30 Apr 2013 17:43:47 GMT
      Etag: 
      - "\"c8afd[...]
- request: 
    method: get
    uri: https://api.github.com/repos/sferik/rails_admin/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "22"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Tue, 30 Apr 2013 16:08:04 G[...]
- request: 
    method: get
    uri: https://api.github.com/networks/sferik/rails_admin/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "21"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Tue, 30 Apr 2013 16:08:0[...]
- request: 
    method: get
    uri: https://api.github.com/users/sferik/events
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "20"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Mon, 29 Apr 2013 14:08:33 GMT
      Eta[...]
- request: 
    method: get
    uri: https://api.github.com/users/sferik/events/public
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "19"
      X-Poll-Interval: 
      - "60"
      Last-Modified: 
      - Mon, 29 Apr 2013 14:08:33 GMT
  [...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/users/<GITHUB_LOGIN>/events/orgs/github
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4997"
      X-Poll-Interval: 
      - "60"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 18:13:24 GMT
recorded_with: VCR 2.4.0
