--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/gists/790381
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "55"
      Last-Modified: 
      - Fri, 19 Apr 2013 16:08:20 GMT
      Etag: 
      - "\"8d1d11411b3e01966f196848f203b031\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"url\":\"https://api.github.com/gists/790381\",\"forks_url\":\"https://api.github.com/gists/790381/forks\",\"commits_url\":\"https://api.github.com/gists/790381/commits\",\"id\":\"790381\",\"git_pull_url\":\"https://gist.github.com/790381.git\",\"git_push_url\":\"https://gist.github.com/790381.git\",\"html_url\":\"https://gist.github.com/790381\",\"files\":{\"defleppard.rb\":{\"filename\":\"defleppard.rb\",\"type\":\"application/ruby\",\"language\":\"Ruby\",\"raw_url\":\"https://gist.github.com/raw/790381/e0a37979c32c3bdc139d6912ae338de723e6a8c3/defleppard.rb\",\"size\":52,\"content\":\"def leppard(shotgun)\\n   shotgun ? shoot : !shoot\\nend\"}},\"public\":true,\"created_at\":\"2011-01-21T20:41:26Z\",\"updated_at\":\"2011-01-21T20:41:42Z\",\"description\":\"\",\"comments\":1,\"user\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://secure.gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\"},\"comments_url\":\"https://api.github.com/gists/790381/comments\",\"forks\":[],\"history\":[{\"user\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://secure.gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\"},\"version\":\"433ca9ed2febc4423d91d4191446e09c38f6841e\",\"committed_at\":\"2011-01-21T20:41:42Z\",\"change_status\":{\"total\":2,\"additions\":1,\"deletions\":1},\"url\":\"https://api.github.com/gists/790381/433ca9ed2febc4423d91d4191446e09c38f6841e\"},{\"user\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://secure.gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\"},\"version\":\"12e53275c298ab759fa38a1f4980a4aa0556593f\",\"committed_at\":\"2011-01-21T20:41:26Z\",\"change_status\":{\"total\":3,\"additions\":3,\"deletions\":0},\"url\":\"https://api.github.com/gists/790381/12e53275c298ab759fa38a1f4980a4aa0556593f\"}]}"
  recorded_at: Fri, 19 Apr 2013 16:41:18 GMT
- request: 
    method: get
    uri: https://api.github.com/users/defunkt/gists
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "54"
      Last-Modified: 
      - Fri, 19 Apr 2013 16:11:44 GMT
      Etag: 
      - "\"6e504c39f461477cb465b6c07d0d4a72\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/user/2/gists?page=2>; rel="next", <https://api.github.com/user/2/gists?page=10>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/gists/4283721\",\"forks_url\":\"https://api.github.com/gists/4283721/forks\",\"commits_url\":\"https://api.github.com/gists/4283721/commits\",\"id\":\"4283721\",\"git_pull_url\":\"https://gist.github.com/4283721.git\",\"git_push_url\":\"https://gist.github.com/4283721.git\",\"html_url\":\"https://gist.github.com/4283721\",\"files\":{\"pjax.md\":{\"filename\":\"pjax.md\",\"type\":\"text/plain\",\"language\":\"Markdown\",\"raw_url\":\"https://gist.github.com/raw/4283721/c87aaf4333da78d7b36e44a8f94311e4497258a7/pjax.md\",\"size\":353}},\"public\":true,\"created_at\":\"2012-12-14T08:45:47Z\",\"updated_at\":\"2013-02-08T10:46:03Z\",\"description\":\"pjax helpers for different frameworks\",\"comments\":0,\"user\":{\"login\":\"defunkt\",\"id\":2,\"avatar_url\":\"https://secure.gravatar.com/avatar/b8dbb1987e8e5318584865f880036796?d=https://a24[...]
- request: 
    method: get
    uri: https://api.github.com/gists
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "53"
      Last-Modified: 
      - Fri, 19 Apr 2013 16:41:14 GMT
      Etag: 
      - "\"861cf1b97da7efbe6b6ab551670af62d\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/gists?page=2>; rel="next", <https://api.github.com/gists?page=40068>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/gists/5421544\",\"forks_url\":\"https://api.github.com/gists/5421544/forks\",\"commits_url\":\"https://api.github.com/gists/5421544/commits\",\"id\":\"5421544\",\"git_pull_url\":\"https://gist.github.com/5421544.git\",\"git_push_url\":\"https://gist.github.com/5421544.git\",\"html_url\":\"https://gist.github.com/5421544\",\"files\":{\"gistfile1.txt\":{\"filename\":\"gistfile1.txt\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/raw/5421544/a0c82c1a6d3c533353b787f3466f2a3738d7595e/gistfile1.txt\",\"size\":341}},\"public\":true,\"created_at\":\"2013-04-19T16:41:13Z\",\"updated_at\":\"2013-04-19T16:41:14Z\",\"description\":\"my bash prompt\",\"comments\":0,\"user\":{\"login\":\"verdi327\",\"id\":1141380,\"avatar_url\":\"https://secure.gravatar.com/avatar/a6a4e40745c6cc57b9f4db2204a9fd8d?d=https://a248.e.akamai.n[...]
- request: 
    method: get
    uri: https://api.github.com/gists/public
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "52"
      Last-Modified: 
      - Fri, 19 Apr 2013 16:41:35 GMT
      Etag: 
      - "\"4f1a0de176e8b1d640dde92d1b4cf[...]
- request: 
    method: get
    uri: https://api.github.com/users/defunkt/gists?per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "50"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:26:11 GMT
      Etag: 
      - "\"effa7951c[...]
- request: 
    method: get
    uri: https://api.github.com/gists?per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "49"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:30:19 GMT
      Etag: 
      - "\"46a112290322ad57e0235d1[...]
- request: 
    method: get
    uri: https://api.github.com/gists/public?per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "48"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:30:42 GMT
      Etag: 
      - "\"95a989941e4493b72dad05d12270eb10\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/gists/public?page=2&per_page=100>; rel="next", <https://api.github.com/gists/public?page=22501&per_page=100>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/gists/5421847\",\"forks_url\":\"https://api.github.com/gists/5421847/forks\",\"commits_url\":\"https://api.github.com/gists/5421847/commits\",\"id\":\"5421847\",\"git_pull_url\":\"https://gist.github.com/5421847.git\",\"git_push_url\":\"https://gist.github.com/5421847.git\",\"html_url\":\"https://gist.github.com/5421847\",\"files\":{\"DQ-GL_Detail_Custom.sql\":{\"filename\":\"DQ-GL_Detail_Custom.sql\",\"type\":\"text/plain\",\"language\":\"SQL\",\"raw_url\":\"https://gist.github.com/raw/5421847/e883fc74702be9aff358325d5f5fa2b2e71225b9/DQ-GL_Detail_Custom.sql\",\"size\":1100}},\"public\":true,\"created_at\":\"2013-04-19T17:30:41Z\",\"updated_at\":\"2013-04-19T17:30:42Z\",\"description\":\"GL_Detail_Custom Data source for Document Designer\",\"comments\":0,\"user\":{\"login\":\"jerfowler\",\"id\":188159,\"avatar_url\":\"https://secure.gravatar.com/avata[...]
- request: 
    method: get
    uri: https://api.github.com/users/defunkt/gists?per_page
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "46"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:26:11 GMT
      Etag: 
      - "\"effa7951c33bf[...]
- request: 
    method: get
    uri: https://api.github.com/gists?per_page
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "45"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:31:53 GMT
      Etag: 
      - "\"4f77ea85a7f7cdbf19f0b918a7ac1ec7\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/gists?page=2&per_page=>; rel="next", <https://api.github.com/gists?page=40071&per_page=>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/gists/5421858\",\"forks_url\":\"https://api.github.com/gists/5421858/forks\",\"commits_url\":\"https://api.github.com/gists/5421858/commits\",\"id\":\"5421858\",\"git_pull_url\":\"https://gist.github.com/5421858.git\",\"git_push_url\":\"https://gist.github.com/5421858.git\",\"html_url\":\"https://gist.github.com/5421858\",\"files\":{\"users_getInfoWithLocation.js\":{\"filename\":\"users_getInfoWithLocation.js\",\"type\":\"application/javascript\",\"language\":\"JavaScript\",\"raw_url\":\"https://gist.github.com/raw/5421858/9842efa05287b55fee0e74d22bc08021d609aa02/users_getInfoWithLocation.js\",\"size\":570}},\"public\":true,\"created_at\":\"2013-04-19T17:31:52Z\",\"updated_at\":\"2013-04-19T17:31:53Z\",\"description\":\"VK.com stored procedure that gets user info and location info if present\",\"comments\":0,\"user\":{\"login\":\"magnolia-fan\",\"id\":6495[...]
- request: 
    method: get
    uri: https://api.github.com/gists/public?per_page
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "44"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:32:13 GMT
      Etag: 
      - "\"6527c6aa9a40519b3f07114c6db72370\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/gists/public?page=2&per_page=>; rel="next", <https://api.github.com/gists/public?page=75002&per_page=>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/gists/5421860\",\"forks_url\":\"https://api.github.com/gists/5421860/forks\",\"commits_url\":\"https://api.github.com/gists/5421860/commits\",\"id\":\"5421860\",\"git_pull_url\":\"https://gist.github.com/5421860.git\",\"git_push_url\":\"https://gist.github.com/5421860.git\",\"html_url\":\"https://gist.github.com/5421860\",\"files\":{\"sem_test.py\":{\"filename\":\"sem_test.py\",\"type\":\"application/python\",\"language\":\"Python\",\"raw_url\":\"https://gist.github.com/raw/5421860/52b030e5870fe6a74da6343f88f7a55453a988e0/sem_test.py\",\"size\":739},\"thread_util.py\":{\"filename\":\"thread_util.py\",\"type\":\"application/python\",\"language\":\"Python\",\"raw_url\":\"https://gist.github.com/raw/5421860/a598a05cef34861438e847a210af74b878bb39e7/thread_util.py\",\"size\":1975}},\"public\":true,\"created_at\":\"2013-04-19T17:32:12Z\",\"updated_at\":\"2013-04-19T17:32:13Z\",\"description\":\"Python 2.6 with a Python 3.2-style semaphore\",\"comments\":0,\"user\":{\"login\":\"ajdavis\",\"id\":84101,\"avatar_url\":\"https://secure.gravatar.com/avatar/71d2335656e01d[...]
