--- 
http_interactions: 
- request: 
    method: get
    uri: https://status.github.com/api.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"status_url\":\"https://status.github.com/api/status.json\",\"messages_url\":\"https://status.github.com/api/messages.json\",\"last_message_url\":\"https://status.github.com/api/last-message.json\"}"
  recorded_at: Sat, 20 Apr 2013 22:04:48 GMT
- request: 
    method: get
    uri: https://status.github.com/api/status.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"good\",\"last_updated\":\"2013-04-20T22:07:10Z\"}"
  recorded_at: Sat, 20 Apr 2013 22:07:42 GMT
- request: 
    method: get
    uri: https://status.github.com/api/messages.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "[{\"status\":\"good\",\"body\":\"Everything operating normally.\",\"created_on\":\"2013-04-20T17:04:17Z\"},{\"status\":\"minor\",\"body\":\"A small percentage of repositories are offline while we perform maintenance on a single fileserver pair.\",\"created_on\":\"2013-04-20T16:07:55Z\"},{\"status\":\"good\",\"body\":\"Everything operating normally.\",\"created_on\":\"2013-04-18T00:59:33Z\"},{\"status\":\"minor\",\"body\":\"We are investigating issues with one of our fileserver clusters. A small number of repositories may be affected.\",\"created_on\":\"2013-04-18T00:38:23Z\"[...]
- request: 
    method: get
    uri: https://status.github.com/api/last-message.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"good\",\"body\":\"Everything operating normally.\",\"created_on\":\"2013-04-20T17:04:17Z\"}"
  recorded_at: Sat, 20 Apr 2013 22:08:06 GMT
recorded_with: VCR 2.4.0
