--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/sferik/rails_admin/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "52"
      Last-Modified: 
      - Fri, 10 May 2013 15:51:35 GMT
      Etag: 
      - "\"4039d6d04ae2f9bceffe47eda14d00ce\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/repositories/810796/issues?page=2>; rel="next", <https://api.github.com/repositories/810796/issues?page=6>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1635\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1635/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1635/comments\",\"events_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1635/events\",\"html_url\":\"https://github.com/sferik/rails_admin/issues/1635\",\"id\":14089012,\"number\":1635,\"title\":\"Overriding js file inside another engine which RailsAdmin is embedded in\",\"user\":{\"login\":\"dfischer\",\"id\":2424,\"avatar_url\":\"https://secure.gravatar.com/avatar/73af4fece11ee3767dc13e89cdc08500?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"73af4fece11ee3767dc13e89cdc08500\",\"url\":\"https://api.github.com/users/dfischer\",\"html_url\":\"https://github.com/dfischer\",\"followers_url\":\"https://api.github.com/users/dfischer/followers\",\"following_url\":\"https://api.github.com/users/dfischer/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/dfischer/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/dfischer/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/dfischer/subscriptions\",\"organizations_url\":\"https://api.github.com/users/dfischer/orgs\",\"repos_url\":\"https://api.github.com/users/dfischer/repos\",\"events_url\":\"https://api.github.com/users/dfischer/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/dfischer/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2013-05-08T08:09:50Z\",\"updated_at\":\"2013-05-08T18:24:56Z\",\"closed_at\":null,\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"When I view \\r\\n\\r\\n`/assets/rails_admin/custom/ui.js?body=1`\\r\\n\\r\\nAll I get is \\r\\n\\r\\n```\\r\\n(function() {\\r\\n\\r\\n\\r\\n}).call(this);\\r\\n```\\r\\n\\r\\nWhen I have a bunch of code in there. Is not not possible to override RailsAdmin inside another engine?\\r\\n\\r\\n\\r\\nStructure is:\\r\\nCore is the engine:\\r\\n\\r\\napp/assets/javascripts/core \\r\\napp/assets/javascripts/rails_admin/custom/ui.js.erb\\r\\n\\r\\nI created this \\\"core\\\" engine, an[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4988"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 15:57:51 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4987"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 15:57:51 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/dotfiles/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4986"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 15:57:52 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues
    body: 
      encoding: UTF-8
      string: "{\"title\":\"Migrate issues to v3\",\"body\":\"Move all Issues calls to v3 of the API\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4985"
      Location: 
      - https://api.github.com/repos/api-playground/api-sandbox/issues/4
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"1193ce572c52329edbcf4a5fb4fd4b43\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/4\",\"labels_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/4/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/4/comments\[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues/4
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4984"
      Last-Modified: 
      - Fri, 10 May 2013 [...]
[...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues/4/comments
    body: 
      encoding: UTF-8
      string: "{\"body\":\"A test comment\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4980"
      Location: 
      - https://api.github.com/repos/api-playground/api-sandbox/issues/comments/17728584
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"85c2774382e24a568b6373dcdef7d689\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/comments/17728584\",\"html_url\":\"https://github.com/api-playground/api-sandbox/issues/4#issuecomment-17728584\",\"issue_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/4\",\"id\":17728584,\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":3513548,\"avatar_url\":\"https://secure.gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"becfacf16d1c453662cc46abf5b6f0f9\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\"},\"created_at\":\"2013-05-10T15:57:55Z\",\"updated_at\":\"2013-05-10T15:57:55Z\",\"body\":\"A test comment\"}"
  recorded_at: Fri, 10 May 2013 15:57:55 GMT
[...]
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues/comments/17728587
    body: 
      encoding: UTF-8
      string: "{\"body\":\"A test comment update\"}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "49[...]
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/comments
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "51"
      Last-Modified: 
      - Fri, 10 May 2013 15:48:28 GMT
      Etag: 
      - "\"eea[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/25/comments
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "50"
      Last-Modified: 
      - Fri, 10 May 2013 15:49:23 GMT
      Etag: 
      - "\"[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/comments/1194690
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "49"
      Last-Modified: 
      - Fri, 10 May 2013 15:49:23 GMT
      Etag: 
      [...]
