--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/sferik/rails_admin/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "57"
      Last-Modified: 
      - Tue, 30 Apr 2013 19:02:56 GMT
      Etag: 
      - "\"117498ed899002660b736f424d48384c\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/repositories/810796/issues?page=2>; rel="next", <https://api.github.com/repositories/810796/issues?page=6>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1626\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1626/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1626/comments\",\"events_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1626/events\",\"html_url\":\"https://github.com/sferik/rails_admin/issues/1626\",\"id\":13777064,\"number\":1626,\"title\":\"Bootstrap 3 Preview branch\",\"user\":{\"login\":\"jkelleyj\",\"id\":579300,\"avatar_url\":\"https://secure.gravatar.com/avatar/cd86c5c311406245a794db811d3964fa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"cd86c5c311406245a794db811d3964fa\",\"url\":\"https://api.github.com/users/jkelleyj\",\"html_url\":\"https://github.com/jkelleyj\",\"followers_url\":\"https://api.github.com/users/jkelleyj/followers\",\"following_url\":\"https://api.github.com/users/jkelleyj/following\",\"gists_url\":\"https://api.github.com/users/jkelleyj/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jkelleyj/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jkelleyj/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jkelleyj/orgs\",\"repos_url\":\"https://api.github.com/users/jkelleyj/repos\",\"events_url\":\"https://api.github.com/users/jkelleyj/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jkelleyj/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2013-04-29T19:34:59Z\",\"updated_at\":\"2013-04-29T19:34:59Z\",\"closed_at\":null,\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"When attempting to use bootstrap-sass branch \\\"3\\\" rails admin encounters sass compile errors because the file names in bootstrap have changed.  I've started a fork that solves the basic compilation problems and will work on styling updates soon for boostrap 3.  Could we open a bootstrap 3 branch?\"},{\"url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1623\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/1623/labels{/name}\",\"comments_[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4999"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 19:04:14 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4998"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 19:05:52 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/github/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4997"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 19:06:46 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/dotfiles/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4994"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 19:10:21 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues
    body: 
      encoding: UTF-8
      string: "{\"title\":\"Migrate issues to v3\",\"body\":\"Move all Issues calls to v3 of the API\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4993"
      Location: 
      - https://api.github.com/repos/pengwynn/api-sandbox/issues/22
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"28e9984044af6d6ae78a03edfb855baf\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/22\",\"labels_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/22/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/22/comments\",\"events_url\":\"h[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/22
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4992"
      Last-Modified: 
      - Tue, 30 Apr 2013 19:12[...]
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/comments
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      Last-Modified: 
      - Tue, 30 Apr 2013 19:09:21 GMT
      Etag: 
      - "\"76c3c151683881cc28ed3ff050c5ebfa\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/repositories/417862/issues/comments?page=2>; rel="next", <https://api.github.com/repositories/417862/issues/comments?page=21>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/issues/comments/229900\",\"html_url\":\"https://github.com/pengwynn/octokit/issues/1#issuecomment-229900\",\"issue_url\":\"https://api.github.com/repos/pengwynn/octokit/issues/1\",\"id\":229900,\"user\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://secure.gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/25/comments
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
      Last-Modified: 
      - Tue, 30 Apr 2013 19:09:21 GMT
      Etag: 
      - "\"[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/comments/1194690
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "56"
      Last-Modified: 
      - Sun, 28 Apr 2013 14:32:23 GMT
      Etag: 
      [...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/22/comments
    body: 
      encoding: UTF-8
      string: "{\"body\":\"A test comment\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4990"
      [...]
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/octokit/issues/comments/17249469
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4988"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 19:38:19 GMT
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/comments/17249469
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4984"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Tue, 30 Apr 2013 19:43:05 GMT
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/comments/17249469
    body: 
      encoding: UTF-8
      string: "{\"body\":\"A test comment update\"}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4983"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 19:43:06 GMT
recorded_with: VCR 2.4.0
