--- 
http_interactions: 
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/labels
    body: 
      encoding: UTF-8
      string: "{\"name\":\"test-label\",\"color\":\"ededed\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4964"
      Location: 
      - https://api.github.com/repos/pengwynn/api-sandbox/labels/test-label
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"3615dc7d72380236df7757bdbe1f43a2\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/labels/test-label\",\"name\":\"test-label\",\"color\":\"ededed\"}"
  recorded_at: Wed, 01 May 2013 19:56:37 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues
    body: 
      encoding: UTF-8
      string: "{\"title\":\"Issue for label test\",\"body\":\"The body\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4963"
      Location: 
      - https://api.github.com/repos/pengwynn/api-sandbox/issues/27
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"da382469f653d3ab4c5c790a19b8f165\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/27\",\"labels_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/27/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/27/comments\",\"events_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/issues/27/events\",\"html_url\":\"https://github.com/pengwynn/api-sandbox/issues/27\",\"id\":13863357,\"number\":27,\"title\":\"Issue for label test\",\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":3513548,\"avatar_url\":\"https://secure.gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"becfacf16d1c453662cc46abf5b6f0f9\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2013-05-01T19:56:37Z\",\"updated_at\":\"2013-05-01T19:56:37Z\",\"closed_at\":null,\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"The body\",\"closed_by\":null}"
  recorded_at: Wed, 01 May 2013 19:56:38 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/27/labels
    body: 
      encoding: UTF-8
      string: "[\"bug\"]"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4962"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"11ae40fbb79825bcade9a2446359040b\""
    body: 
      encoding: US-ASCII
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/labels/bug\",\"name\":\"bug\",\"color\":\"ededed\"}]"
  recorded_at: Wed, 01 May 2013 19:56:38 GMT
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/labels/test-label
    body: 
      encoding: UTF-8
      string: "{\"color\":\"ededed\"}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4961"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Wed, 01 May 2013 19:56:39 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "51"
      Last-Modified: 
      - Sat, 20 Oct 2007 11:24:19 GMT
      Etag: 
      - "\"af5b24937f20d4d72e8dc0bd275cbf5f\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"}"
  recorded_at: Wed, 01 May 2013 19:56:39 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/labels
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "50"
      Last-Modified: 
      - Sat, 20 Oct 2007 11:24:19 GMT
      Etag: 
      - "\"af5b24937f20d4d72e8dc0bd275cbf5f\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/feature+request\",\"name\":\"feature request\",\"color\":\"0b02e1\"}]"
  recorded_at: Wed, 01 May 2013 19:56:40 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/issues/37/labels
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "49"
      Last-Modified: 
      - Wed, 01 May 2013 19:45:33 GMT
      Etag: 
      - "\"ce326364e8b8194912faa6644d7a8116\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"}]"
  recorded_at: Wed, 01 May 2013 19:56:40 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/milestones/2/labels
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "48"
      Last-Modified: 
      - Wed, 01 May 2013 19:45:33 GMT
      Etag: 
      - "\"ce326364e8b8194912faa6644d7a8116\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"}]"
  recorded_at: Wed, 01 May 2013 19:56:40 GMT
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/issues/27/labels/bug
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4959"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Wed, 01 May 2013 19:56:41 GMT
[...]
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/labels/test-label
    body: 
      encoding: UTF-8
      string: "{\"color\":\"ededed\"}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4957"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Wed, 01 May 2013 19:56:42 GMT
recorded_with: VCR 2.4.0
