--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/labels
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "48"
      Last-Modified: 
      - Sat, 20 Oct 2007 11:24:19 GMT
      Etag: 
      - "\"af5b24937f20d4d72e8dc0bd275cbf5f\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/feature+request\",\"name\":\"feature request\",\"color\":\"0b02e1\"}]"
  recorded_at: Fri, 10 May 2013 16:25:16 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "47"
      Last-Modified: 
      - Sat, 20 Oct 2007 11:24:19 GMT
      Etag: 
      - "\"af5b24937f20d4d72e8dc0bd275cbf5f\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"}"
  recorded_at: Fri, 10 May 2013 16:25:17 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/labels
    body: 
      encoding: UTF-8
      string: "{\"name\":\"test-label\",\"color\":\"ededed\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4976"
      Location: 
      - https://api.github.com/repos/api-playground/api-sandbox/labels/test-label
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"25a24312ad8e98fadb2f84b82f8806cd\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/labels/test-label\",\"name\":\"test-label\",\"color\":\"ededed\"}"
  recorded_at: Fri, 10 May 2013 16:25:17 GMT
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/labels/test-label
    body: 
      encoding: UTF-8
      string: "{\"color\":\"ffdd33\"}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4975"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"8c34f0784a49119695f8eafac307e009\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/labels/test-label\",\"name\":\"test-label\",\"color\":\"ffdd33\"}"
  recorded_at: Fri, 10 May 2013 16:25:18 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues
    body: 
      encoding: UTF-8
      string: "{\"title\":\"Issue for label test\",\"body\":\"The body\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4974"
      Location: 
      - https://api.github.com/repos/api-playground/api-sandbox/issues/5
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"8deec0f5e6e1ca447c5064076db67683\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/5\",\"labels_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/api-playground/api-sandbox/issues/5/events\",\"html_url\":\"https://github.com/api-playground/api-sandbox/issues/5\",\"id\":14198419,\"number\":5,\"title\":\"Issue for label test\",\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":3513548,\"avatar_url\":\"https://secure.gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"becfacf16d1c453662cc46abf5b6f0f9\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2013-05-10T16:25:18Z\",\"updated_at\":\"2013-05-10T16:25:18Z\",\"closed_at\":null,\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"The body\",\"closed_by\":null}"
  recorded_at: Fri, 10 May 2013 16:25:19 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues/5/labels
    body: 
      encoding: UTF-8
      string: "[\"bug\"]"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4973"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"a020e9f3a5d4f900da459a46eacabb95\""
    body: 
      encoding: US-ASCII
      string: "[{\"url\":\"https://api.github.com/repos/api-playground/api-sandbox/labels/bug\",\"name\":\"bug\",\"color\":\"fc2929\"}]"
  recorded_at: Fri, 10 May 2013 16:25:19 GMT
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/issues/5/labels/bug
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4971"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 16:25:21 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/milestones/2/labels
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "46"
      Last-Modified: 
      - Fri, 10 May 2013 15:09:53 GMT
      Etag: 
      - "\"bb65f0f83003ca55650466a8423f3a12\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/pengwynn/octokit/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"}]"
  recorded_at: Fri, 10 May 2013 16:25:22 GMT
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox/labels/test-label
    body: 
      encoding: UTF-8
      string: "{\"color\":\"ededed\"}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4968"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:25:23 GMT
recorded_with: VCR 2.4.0
