--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/legacy/issues/search/sferik/rails_admin/open/activerecord
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"e478c26a55a7c57a0e153bed9ca0069e\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"issues\":[{\"labels\":[],\"votes\":0,\"number\":1467,\"position\":1.0,\"title\":\"ActiveRecord::HasManyThroughNestedAssociationsAreReadonly Error in Rails 3.2.10\",\"body\":\"I just upgraded to `Rails 3.2.10` and am getting an error message that I never used to get when updating a record via RailsAdmin.\\r\\n\\r\\n    ActiveRecord::HasManyThroughNestedAssociationsAreReadonly at /admin/vendor/12/edit\\r\\n    \\r\\n    Message\\tCannot modify association 'Vendor#categories' because it goes through more than one other association.\\r\\n\\r\\nThis is my `Vendor` model:\\r\\n\\[...]
- request: 
    method: get
    uri: https://api.github.com/legacy/repos/search/One40Proof
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"237ab7fb6727a59841f918dd59f1ed6d\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"repositories\":[{\"type\":\"repo\",\"username\":\"reddavis\",\"name\":\"One40Proof\",\"owner\":\"reddavis\",\"homepage\":\"http://developers.140proof.com/docs/\",\"description\":\"http://developers.140proof.com/docs/\",\"language\":\"Ruby\",\"watchers\":4,\"followers\":4,\"forks\":0,\"size\":116,\"open_issues\":0,\"score\":12.331568,\"has_downloads\":true,\"has_issues\":true,\"has_wiki\":true,\"fork\":false,\"private\":false,\"url\":\"https://github.com/reddavis/One40Proof\",\"created\":\"2010-02-17T14:33:05Z\",\"created_at\":\"2010-02-17T14:33:05Z\",\"pushed_at\":\"2010-06-30T00:55:20Z\",\"pushed\":\"2010-06-30T00:55:20Z\"}]}"
  recorded_at: Thu, 02 May 2013 13:35:21 GMT
- request: 
    method: get
    uri: https://api.github.com/legacy/user/search/sferik
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"2653ca8824c803d6562e888326503685\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"users\":[{\"id\":\"user-10308\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"username\":\"sferik\",\"login\":\"sferik\",\"name\":\"sferik\",\"location\":\"San Francisco, CA\",\"language\":\"Ruby\",\"fullname\":\"sferik\",\"type\":\"user\",\"public_repo_count\":70,\"repos\":70,\"followers\":642,\"followers_count\":642,\"score\":105.90034,\"created_at\":\"2008-05-14T20:36:12Z\",\"created\":\"2008-05-14T20:36:12Z\"}]}"
  recorded_at: Thu, 02 May 2013 14:22:36 GMT
recorded_with: VCR 2.4.0
