--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.github.com/markdown
    body: 
      encoding: UTF-8
      string: "{\"context\":\"pengwynn/octokit\",\"mode\":\"gfm\",\"text\":\"This is for #111\",\"headers\":{\"accept\":\"application/vnd.github.raw\"}}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/html;charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "32"
      Etag: 
      - "\"02644231f80a16240bd2cb73647218aa\""
    body: 
      encoding: US-ASCII
      string: <p>This is for <a href="https://github.com/pengwynn/octokit/issues/111" class="issue-link" title="[GitHub Enterprise] Calls to custom endpoints return 404">#111</a></p>
  recorded_at: Tue, 30 Apr 2013 21:21:43 GMT
recorded_with: VCR 2.4.0
