{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/meta","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["9"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"b2c1477a2e2fa8768c8b7aa4fdb309f4\""]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJob29rcyI6WyIyMDQuMjMyLjE3NS42NC8yNyIsIjE5Mi4zMC4yNTIuMC8y\nMiJdLCJnaXQiOlsiMjA3Ljk3LjIyNy4yMzkvMzIiXX0=\n"},"http_version":null},"recorded_at":"Fri, 31 May 2013 15:45:18 GMT"}],"recorded_with":"VCR 2.4.0"}