--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/milestones
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "31"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Apr 2013 21:29:03 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/api-sandbox/milestones
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 21:31:13 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/milestones
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4999"
      Last-Modified: 
      - Tue, 30 Apr 2013 17:07:24 GMT
      Etag: 
      - "\"2e3da2811c90053a8eaf588c2904d19b\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/milestones/1\",\"labels_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/milestones/1/labels\",\"id\":137350,\"number\":1,\"title\":\"Version 1.0\",\"description\":\"\",\"creator\":{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://secure.gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\"},\"open_issues\":2,\"closed_issues\":1,\"state\":\"open\",\"created_at\":\"2012-06-26T15:58:13Z\",\"updated_at\":\"2012-07-05T14:57:09Z\",\"due_on\":null}]"
  recorded_at: Tue, 30 Apr 2013 21:31:41 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/milestones/1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4998"
      Last-Modified: 
      - Tue, 30 Apr 2013 17[...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/milestones
    body: 
      encoding: UTF-8
      string: "{\"title\":\"2.0.0\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4997"
      Location: 
      - https://api.github.com/repos/pengwynn/api-sandbox/milestones/2
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"3a886b7e375572fdc64a3b8f4746521a\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/pengwynn/api-sandbox/milestones/2\",\"labels_url\":\"https://api.github.com/repos/pengwynn/api-sandbox/milestones/2/labels\",\"id\":324343,\"number\":2,\"title\":\"2.0.0\",\"description\":null,\"creator\":{\"login\":\"<GITHUB_LOGIN[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/octokit/milestones/2
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4996"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 21:34:54 GMT
[...]
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/pengwynn/api-sandbox/milestones/2
    body: 
      encoding: UTF-8
      string: "{\"description\":\"Add support for API v3\"}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4993"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Tue, 30 Apr 2013 21:35:30 GMT
recorded_with: VCR 2.4.0
