--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/orgs/codeforamerica
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "38"
      Last-Modified: 
      - Fri, 10 May 2013 10:12:07 GMT
      Etag: 
      - "\"e7f409b21fbd7845dd5f154be9da2501\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"login\":\"codeforamerica\",\"id\":337792,\"url\":\"https://api.github.com/orgs/codeforamerica\",\"repos_url\":\"https://api.github.com/orgs/codeforamerica/repos\",\"events_url\":\"https://api.github.com/orgs/codeforamerica/events\",\"members_url\":\"https://api.github.com/orgs/codeforamerica/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/codeforamerica/public_members{/member}\",\"avatar_url\":\"https://secure.gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"name\":\"Code For America\",\"company\":null,\"blog\":\"http://codeforamerica.org\",\"location\":null,\"email\":\"labs@codeforamerica.org\",\"public_repos\":307,\"public_gists\":0,\"followers\":1,\"following\":0,\"html_url\":\"https://github.com/codeforamerica\",\"created_at\":\"2010-07-19T19:41:04Z\",\"updated_at\":\"2013-05-10T10:12:07Z\",\"type\":\"Organization\"}"
  recorded_at: Fri, 10 May 2013 16:48:50 GMT
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/api-playground
    body: 
      encoding: UTF-8
      string: "{\"organization\":{\"name\":\"API Playground\"}}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4999"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"36d1eff1e5c427704032345f8c3147fa\""
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"api-playground\",\"id\":4312013,\"url\":\"https://api.github.com/orgs/api-playground\",\"repos_url\":\"https://api.github.com/orgs/api-playground/repos\",\"events_url\":\"https://api.github.com/orgs/api-playground/events\",\"members_url\":\"https://api.github.com/orgs/api-playground/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/api-playground/public_members{/member}\",\"avatar_url\":\"https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"public_repos\":1,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/api-playground\",\"created_at\":\"2013-05-01T13:16:01Z\",\"updated_at\":\"2013-05-10T16:48:50Z\",\"type\":\"Organization\",\"total_private_repos\":1,\"owned_private_repos\":0,\"private_gists\":0,\"disk_usage\":0,\"collaborators\":0,\"billing_email\":\"wynn.netherland+api-sandbox@gmail.com\",\"plan\":{\"name\":\"free\",\"space\":307200,\"private_repos\":0}}"
  recorded_at: Fri, 10 May 2013 16:48:50 GMT
- request: 
    method: get
    uri: https://api.github.com/users/sferik/orgs
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "37"
      Last-Modified: 
      - Fri, 10 May 2013 15:36:27 GMT
      Etag: 
      - "\"05a049d2055396799dc192d4[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/orgs
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4998"
      Last-Modified: 
      - Fri, 10 May 2013 16:48:50 GMT
      Etag: 
      [...]
- request: 
    method: get
    uri: https://api.github.com/orgs/codeforamerica/repos
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "36"
      Last-Modified: 
      - Fri, 10 May 2013 06:52:45 GMT
      Etag: 
      - "\"6d3cfb0099c0bd3ba2a0960b2c7458a6\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/organizations/337792/repos?page=2>; rel="next", <https://api.github.com/organizations/337792/repos?page=11>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"id\":967930,\"name\":\"cfahelloworld\",\"full_name\":\"codeforamerica/cfahelloworld\",\"owner\":{\"login\":\"codeforamerica\",\"id\":337792,\"avatar_url\":\"https://secure.gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"gravatar_id\":\"ec81184c572bc827b72ebb489d49f821\",\"url\":\"https://api.github.com/users/codeforamerica\",\"html_url\":\"https://github.com/codeforamerica\",\"followers_url\":\"https://api.github.com/users/codeforamerica/followers\",\"following_url\":\"https://api.github.com/users/codeforamerica/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/codeforamerica/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/codeforamerica/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/codeforamerica/subscriptions\",\"organizations_url\":\"https://api.github.com/users/codeforamerica/orgs\",\"repos_url\":\"https://api.github.com/users/codeforamerica/repos\",\"events_url\":\"https://api.github.com/users/codeforamerica/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/codeforamerica/received_events\",\"type\":\"Organization\"},\"private\":false,\"html_url\":\"https://github.com/codeforamerica/cfahelloworld\",\"description\":\"Hello World Training\",\"fork\":false,\"url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld\",\"forks_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/forks\",\"keys_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/teams\",\"hooks_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/hooks\",\"issue_events_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/events\",\"assignees_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/tags\",\"blobs_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/languages\",\"stargazers_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/stargazers\",\"contributors_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/contributors\",\"subscribers_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/subscribers\",\"subscription_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/subscription\",\"commits_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/merges\",\"archive_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/downloads\",\"issues_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/labels{/name}\",\"created_at\":\"2010-10-06T23:17:15Z\",\"updated_at\":\"2012-12-15T07:18:43Z\",\"pushed_at\":null,\"git_url\":\"git://github.com/codeforamerica/cfahelloworld.git\",\"ssh_url\":\"git@github.com:codeforamerica/cfahelloworld.git\",\"clone_url\":\"https://github.com/codeforamerica/cfahelloworld.git\",\"svn_url\":\"https://github.com/codeforamerica/cfahelloworld\",\"homepage\":\"cfahello.heroku.com\",\"size\":84,\"watchers_count\":1,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":1,\"master_branch\":\"master\",\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":1054616,\"name\":\"shortstack\",\"full_name\":\"codeforamerica/shortstack\",\"owner\":{\"login\":\"codeforamerica\",\"id\":337792,\"avatar_url\":\"https://secure.gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"gravatar_id\":\"ec81184c572bc827b72ebb489d49f821\",\"url\":\"https://api.github.com/users/codeforamerica\",\"html_url\":\"https://github.com/codeforamerica\",\"followers_url\":[...]
- request: 
    method: get
    uri: https://api.github.com/orgs/codeforamerica/members
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "35"
      Last-Modified: 
      - Fri, 10 May 2013 16:13:54 GMT
      Etag: 
      - "\"ea49bc2bc87125[...]
- request: 
    method: get
    uri: https://api.github.com/orgs/github/members/pengwynn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html;charset=utf-8
      Status: 
      - 302 Found
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "34"
      Location: 
      - https://api.github.com/organizations/9919/public_members/pengwynn
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:53 GMT
- request: 
    method: get
    uri: https://api.github.com/organizations/9919/public_members/pengwynn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "33"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:53 GMT
- request: 
    method: get
    uri: https://api.github.com/orgs/github/public_members/pengwynn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "32"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:53 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/api-playground/teams
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4997"
      Last-Modified: 
      - Wed, 01 May 2013 13:16:01 GMT
      Etag: 
      - "\"9e7ea3780af8d27dbbb6014eaf1f16cd\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"name\":\"Owners\",\"id\":396654,\"slug\":\"owners\",\"permission\":\"admin\",\"url\":\"https://api.github.com/teams/396654\",\"members_url\":\"https://api.github.com/teams/396654/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/396654/repos\"}]"
  recorded_at: Fri, 10 May 2013 16:48:54 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/api-playground/teams
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Jedi\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4996"
      Location: 
      - https://api.github.com/teams/403882
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"a6e2f8190ac79b93b055829346c59f45\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"Jedi\",\"id\":403882,\"slug\":\"jedi\",\"permission\":\"pull\",\"url\":\"https://api.github.com/teams/403882\",\"members_url\":\"https://api.github.com/teams/403882/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/403882/repos\",\"members_count\":0,\"repos_count\":0}"
  recorded_at: Fri, 10 May 2013 16:48:54 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4995"
      Last-Modified: 
      - Fri, 10 May 2013 16:48:54 GMT
      Etag: 
      - "\"01add65acaa8964b0ed09c710bedee9b\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"name\":\"Jedi\",\"id\":403882,\"slug\":\"jedi\",\"permission\":\"pull\",\"url\":\"https://api.github.com/teams/403882\",\"members_url\":\"https://api.github.com/teams/403882/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/403882/repos\",\"members_count\":0,\"repos_count\":0}"
  recorded_at: Fri, 10 May 2013 16:48:54 GMT
[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882/members
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4993"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 16:48:55 GMT
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882/members/<GITHUB_LOGIN>
    body: 
      encoding: UTF-8
      string: "{\"name\":\"<GITHUB_LOGIN>\"}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4992"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:56 GMT
[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882/repos
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4989"
      Last-Modified: 
      - Fri, 10 May 2013 16:48:54 GMT
      Etag: 
      - "\"01add65acaa8964b0ed09c710bedee9b\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 10 May 2013 16:48:57 GMT
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882/repos/api-playground/api-sandbox
    body: 
      encoding: UTF-8
      string: "{\"name\":\"api-playground/api-sandbox\"}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4988"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:57 GMT
[...]
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/api-playground/public_members/<GITHUB_LOGIN>
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4986"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:58 GMT
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/teams/403882
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4984"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Fri, 10 May 2013 16:48:59 GMT
recorded_with: VCR 2.4.0
