--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails/issues?per_page=3&state=closed
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "30"
      Last-Modified: 
      - Fri, 19 Apr 2013 17:37:06 GMT
      Etag: 
      - "\"8a664488445765fc7c712d6217b44688\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/repositories/8514/issues?page=2&per_page=3&state=closed>; rel="next", <https://api.github.com/repositories/8514/issues?page=3269&per_page=3&state=closed>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/repos/rails/rails/issues/5239\",\"labels_url\":\"https://api.github.com/repos/rails/rails/issues/5239/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/rails/rails/issues/5239/comments\",\"events_url\":\"https://api.github.com/repos/rails/rails/issues/5239/events\",\"html_url\":\"https://github.com/rails/rails/issues/5239\",\"id\":3472593,\"number\":5239,\"title\":\"I'm Bender from Future. [TITLE FOR SALE]\",\"user\":{\"login\":\"homakov\",\"id\":174693,\"avatar_url\":\"https://secure.gravatar.com/avatar/d2881b5d4c082996a62f23055b61956d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"d2881b5d4c082996a62f23055b61956d\",\"url\":\"https://api.github.com/users/homakov\",\"html_url\":\"https://github.com/homakov\",\"followers_url\":\"https://api.github.com/users/homakov/followers\",\"following_url\":\"https://api.github.com/users/homakov/following\",\"gists_url\":\"https://api.github.com/users/homakov/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/homakov/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/homakov/subscriptions\",\"organizations_url\":\"https://api.github.com/users/homakov/orgs\",\"repos_url\":\"https://api.github.com/users/homakov/repos\",\"events_url\":\"https://api.github.com/users/homakov/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/homakov/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"closed\",\"assignee\":null,\"milestone\":null,\"comments\":42,\"created_at\":\"3012-03-02T14:10:15Z\",\"updated_at\":\"2013-03-25T12:02:30Z\",\"closed_at\":\"2012-03-02T11:49:16Z\",\"pull_request\":{\"html_url\":null,\"diff_url\":null,\"patch_url\":null},\"body\":\"```\\r\\nHey. Where is a suicide booth?\\r\\n```\\r\\nfrom 3012 with love\\r\\n\\r\\nYou should check it ... #5228 :trollface:\\r\\n[CONTENT IS FOR SALE EITHER]\"},{\"url\":\"https://api.github.com/repos/rails/rails/issues/10269\",\"labels_url\":\"https://api.github.com/repos/rails/rails/issues/10269/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/rails/rails/issues/10269/comments\",\"events_url\":\"https://api.github.com/repos/rails/rails/issues/10269/events\",\[...]
- request: 
    method: get
    uri: https://api.github.com/repositories/8514/issues?page=<%= i %>&per_page=3&state=closed
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "<%= (30 - i) < 0 ? 0 : (30 - i) %>"
      Last-Modified: 
      - F[...]
