{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/rate_limit","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"f0d4ab5de6eef922b429a20f9c4446b0\""]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJyYXRlIjp7ImxpbWl0Ijo2MCwicmVtYWluaW5nIjo1NX19\n"},"http_version":null},"recorded_at":"Fri, 31 May 2013 16:00:44 GMT"}],"recorded_with":"VCR 2.4.0"}