{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/rate_limit","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["60"], "X-Ratelimit-Reset":["1373946285"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"cd82abf6f4fe2a941c105433fa3c6be9\""]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJyYXRlIjp7ImxpbWl0Ijo2MCwicmVtYWluaW5nIjo2MCwicmVzZXQiOjEz\nNzM5NDYyODV9fQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Jul 2013 02:44:42 GMT"}],"recorded_with":"VCR 2.4.0"}