{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/rate_limit","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["60"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"997babbe76bed0ff63c83238645795f6\""]},"body":{"encoding":"UTF-8","base64_string":"eyJyYXRlIjp7ImxpbWl0Ijo2MCwicmVtYWluaW5nIjo2MH19\n"},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 01:16:58 GMT"}],"recorded_with":"VCR 2.4.0"}