--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/sferik/rails_admin
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "55"
      Last-Modified: 
      - Wed, 01 May 2013 17:06:23 GMT
      Etag: 
      - "\"b4086c9a07e737ea9b6edc7d9bdbdc46\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"id\":810796,\"name\":\"rails_admin\",\"full_name\":\"sferik/rails_admin\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://secure.gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\"},\"private\":false,\"html_url\":\"https://github.com/sferik/rails_admin\",\"description\":\"RailsAdmin is a Rails 3 engine that provides an easy-to-use interface for managing your data\",\"fork\":false,\"url\":\"https://api.github.com/repos/sferik/rails_admin\",\"forks_url\":\"https://api.github.com/repos/sferik/rails_admin/forks\",\"keys_url\":\"https://api.github.com/repos/sferik/rails_admin/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sferik/rails_admin/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sferik/rails_admin/teams\",\"hooks_url\":\"https://api.github.com/repos/sferik/rails_admin/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sferik/rails_admin/events\",\"assignees_url\":\"https://api.github.com/repos/sferik/rails_admin/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sferik/rails_admin/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sferik/rails_admin/tags{/tag}\",\"blobs_url\":\"https://api.github.com/repos/sferik/rails_admin/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sferik/rails_admin/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sferik/rails_admin/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sferik/rails_admin/languages\",\"stargazers_url\":\"https://api.github.com/repos/sferik/rails_admin/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sferik/rails_admin/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sferik/rails_admin/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sferik/rails_admin/subscription\",\"commits_url\":\"https://api.github.com/repos/sferik/rails_admin/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/sferik/rails_admin/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sferik/rails_admin/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sferik/rails_admin/merges\",\"archive_url\":\"https://api.github.com/repos/sferik/rails_admin/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sferik/rails_admin/downloads\",\"issues_url\":\"https://api.github.com/repos/sferik/rails_admin/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sferik/rails_admin/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sferik/rails_admin/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sferik/rails_admin/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/labels{/name}\",\"created_at\":\"2010-08-01T17:01:00Z\",\"updated_at\":\"2013-05-01T17:06:23Z\",\"pushed_at\":\"2013-05-01T17:06:18Z\",\"git_url\":\"git://github.com/sferik/rails_admin.git\",\"ssh_url\":\"git@github.com:sferik/rails_admin.git\",\"clone_url\":\"https://github.com/sferik/rails_admin.git\",\"svn_url\":\"https://github.com/sferik/rails_admin\",\"homepage\":\"\",\"size\":884,\"watchers_count\":3787,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":934,\"mirror_url\":null,\"open_issues_count\":161,\"forks\":934,\"open_issues\":161,\"watchers\":3787,\"master_branch\":\"master\",\"default_branch\":\"master\",\"network_count\":934}"
  recorded_at: Wed, 01 May 2013 18:04:01 GMT
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/api-playground/api-sandbox
    body: 
      encoding: UTF-8
      string: "{\"description\":\"It's epic\",\"name\":\"api-sandbox\"}"
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4993"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      [...]
- request: 
    method: get
    uri: https://api.github.com/users/sferik/repos
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "54"
      Last-Modified: 
      - Wed, 01 May 2013 15:00:47 GMT
      Etag: 
      - "\"f528ca6db53f8c4327e367e23fe00b52\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/user/10308/repos?page=2>; rel="next", <https://api.github.com/user/10308/repos?page=3>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"id\":8601427,\"name\":\"410_in_140\",\"full_name\":\"sferik/410_in_140\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://secure.gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/repos
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4992"
      Last-Modified: 
      - Wed, 01 May 2013 14:04:34 GMT
      Etag: 
     [...]
- request: 
    method: get
    uri: https://api.github.com/repositories
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "53"
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/reposit[...]
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/starred/sferik/rails_admin
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4991"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Wed, 01 May 2013 18:17:54 GMT
[...]
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/watched/sferik/rails_admin
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4989"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Wed, 01 May 2013 18:19:00 GMT
[...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/sferik/rails_admin/forks
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 202 Accepted
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4987"
      X-Github-Media-Type: 
      - github.bet[...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/repos
    body: 
      encoding: UTF-8
      string: "{\"name\":\"an-repo\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4986"
      Location: 
      - https://api.github.com/repos/<GITHUB_LOGIN>/an-repo
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"87b2ddfd8bf34fcbdd51dce0cc565367\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":9797203,\"name\":\"an-repo\",\"full_name\":\"<GITHUB_LOGIN>/an-repo\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":3513548,\"avatar_url\":\"https://secure.gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravata[...]
[...]
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/api-playground/repos
    body: 
      encoding: UTF-8
      string: "{\"name\":\"an-org-repo\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4984"
      Location: 
      - http[...]
- request: 
    method: patch
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo
    body: 
      encoding: UTF-8
      string: "{\"private\":true,\"name\":\"an-repo\"}"
    headers: 
  response: 
    status: 
      code: 422
      message: Unprocessable Entity
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 422 Unprocessable Entity
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4983"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Repository\",\"code\":\"custom\",\"message\":\"Upgrade your plan to make this repository private\"}]}"
  recorded_at: Wed, 01 May 2013 18:25:14 GMT
[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/keys
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4981"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Wed, 01 May 2013 18:26:08 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/keys
    body: 
      encoding: UTF-8
      string: "{\"title\":\"Padawan\",\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDN/h7Hf5TA6G4p19deF8YS9COfuBd133GPs49tO6AU/DKIt7tlitbnUnttT0VbNZM4fplyinPu5vJl60eusn/Ngq2vDfSHP5SfgHfA9H8cnHGPYG7w6F0CujFB3tjBhHa3L6Je50E3NC4+BGGhZMpUoTClEI5yEzx3qosRfpfJu/2MUp/V2aARCAiHUlUoj5eiB15zC25uDsY7SYxkh1JO0ecKSMISc/OCdg0kwi7it4t7S/qm8Wh9pVGuA5FmVk8w0hvL+hHWB9GT02WPqiesMaS9Sj3t0yuRwgwzLDaudQPKKTKYXi+SjwXxTJ/lei2bZTMC4QxYbqfqYQt66pQB wynn.netherland+<GITHUB_LOGIN>@gmail.com\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4999"
      Location: 
      - https://api.github.com/user/keys/4729656
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d719465af9a77024fd433a1253726050\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":4729656,\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDN/h7Hf5TA6G4p19deF8YS9COfuBd133GPs49tO6AU/DKIt7tlitbnUnttT0VbNZM4fplyinPu5vJl60eusn/Ngq2vDfSHP5SfgHfA9H8cnHGPYG7w6F0CujFB3tjBhHa3L6Je50E3NC4+BGGhZMpUoTClEI5yEzx3qosRfpfJu/2MUp/V2aARCAiHUlUoj5eiB15zC25uDsY7SYxkh1JO0ecKSMISc/OCdg0kwi7it4t7S/qm8Wh9pVGuA5FmVk8w0hvL+hHWB9GT02WPqiesMaS9Sj3t0yuRwgwzLDaudQPKKTKYXi+SjwXxTJ/lei2bZTMC4QxYbqfqYQt66pQB\",\"url\":\"https://api.github.com/user/keys/4729656\",\"title\":\"Padawan\",\"verified\":true}"
  recorded_at: Wed, 01 May 2013 18:37:13 GMT
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/keys/4729656
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4998"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Wed, 01 May 2013 18:37:14 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/sferik/rails_admin/collaborators
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4997"
      Last-Modified: 
      - Wed, 01 May 2013 18:[...]
- request: 
    method: get
    uri: https://api.github.com/repos/sferik/rails_admin/collaborators
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      Last-Modified: 
      - Wed, 01 May 2013 18:19:44 GMT
      Etag: 
      - "\"016[...]
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/sferik/rails_admin/collaborators/sferik
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4996"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Wed, 01 May 2013 18:40:22 GMT
- request: 
    method: delete
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/collaborators/pengwynn
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4995"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Wed, 01 May 2013 18:40:23 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/codeforamerica/open311/teams
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Wed, 01 May 2013 18:41:57 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/teams
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4992"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Wed, 01 May 2013 18:46:45 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/contributors?anon=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4991"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Wed, 01 May 2013 18:48:07 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/an-repo/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4990"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Wed, 01 May 2013 18:48:07 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/rails_admin/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4989"
      Last-Modified: 
      - We[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/rails_admin/contributors?anon=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4988"
      Last-Modified: 
      - Wed[...]
