--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"0e2423cbc08777ba92f98a11ee785561\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"current_user_url\":\"https://api.github.com/user\",\"authorizations_url\":\"https://api.github.com/authorizations\",\"emails_url\":\"https://api.github.com/user/emails\",\"emojis_url\":\"https://api.github.com/emojis\",\"events_url\":\"https://api.github.com/events\",\"following_url\":\"https://api.github.com/user/following{/target}\",\"gists_url\":\"https://api.github.com/gists{/gist_id}\",\"hub_url\":\"https://api.github.com/hub\",\"issue_search_url\":\"https://api.github.com/legacy/issues/search/{owner}/{repo}/{state}/{keyword}\",\"issues_url\":\"https://api.github.com/issues\",\"keys_url\":\"https://api.github.com/user/keys\",\"notifications_url\":\"https://api.github.com/notifications\",\"organization_repositories_url\":\"https://api.github.com/orgs/{org}/repos/{?type,page,per_page,sort}\",\"organization_url\":\"https://api.github.com/orgs/{org}\",\"public_gists_url\":\"https://api.github.com/gists/public\",\"rate_limit_url\":\"https://api.github.com/rate_limit\",\"repository_url\":\"https://api.github.com/repos/{owner}/{repo}\",\"repository_search_url\":\"https://api.github.com/legacy/repos/search/{keyword}{?language,start_page}\",\"current_user_repositories_url\":\"https://api.github.com/user/repos{?type,page,per_page,sort}\",\"starred_url\":\"https://api.github.com/user/starred{/owner}{/repo}\",\"starred_gists_url\":\"https://api.github.com/gists/starred\",\"team_url\":\"https://api.github.com/teams\",\"user_url\":\"https://api.github.com/users/{user}\",\"user_organizations_url\":\"https://api.github.com/user/orgs\",\"user_repositories_url\":\"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}\",\"user_search_url\":\"https://api.github.com/legacy/user/search/{keyword}\"}"
  recorded_at: Thu, 18 Apr 2013 19:57:28 GMT
- request: 
    method: get
    uri: https://api.github.com/?foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "55"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"0e2423cbc08777ba92f98a11ee785561[...]
- request: 
    method: head
    uri: https://api.github.com/zen
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 406
      message: Not Acceptable
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 406 Not Acceptable
      X-Github-Media-Type: 
      - unknown
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "51"
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Tue, 23 Apr 2013 14:58:24 GMT
[...]
- request: 
    method: head
    uri: https://api.github.com/zen?foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 406
      message: Not Acceptable
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 406 Not Acceptable
      X-Github-Media-Type: 
      - unknown
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Tue, 23 Apr 2013 15:04:02 GMT
- request: 
    method: get
    uri: https://api.github.com/?client_id=97b4937b385eb63d1f46&client_secret=d255197b4937b385eb63d1f4677e3ffee61fbaea&foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
   [...]
- request: 
    method: get
    uri: https://api.github.com/zen?client_id=97b4937b385eb63d1f46&client_secret=d255197b4937b385eb63d1f4677e3ffee61fbaea&foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 406
      message: Not Acceptable
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 406 Not Acceptable
      X-Github-Media-Type: 
      - unknown
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Must ACCEPT application/json: [\\\"text/plain\\\"]\"}"
  recorded_at: Wed, 01 May 2013 21:10:38 GMT
[...]
- request: 
    method: head
    uri: https://pengwynn:il0veruby@api.github.com/?foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 401 Unauthorized
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Thu, 02 May 2013 00:01:03 GMT
- request: 
    method: head
    uri: https://pengwynn:il0veruby@api.github.com/zen?foo=bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 401 Unauthorized
      X-Github-Media-Type: 
      - unknown
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Thu, 02 May 2013 00:01:04 GMT
[...]
- request: 
    method: get
    uri: https://pengwynn:il0veruby@api.github.com/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 401 Unauthorized
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Bad credentials\"}"
  recorded_at: Tue, 07 May 2013 20:33:12 GMT
recorded_with: VCR 2.4.0
