--- 
http_interactions: 
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/rails_admin/statuses/ebbda2c02d067bb9c3ee1c0a86de2c72fc882d6e
    body: 
      encoding: UTF-8
      string: "{\"target_url\":\"http://wynnnetherland.com\",\"state\":\"success\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4999"
      Location: 
      - https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/statuses/ebbda2c02d067bb9c3ee1c0a86de2c72fc882d6e
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"9e92ded1d0b7f01e2c912f78b4bea50f\""
    body: 
      encoding: US-ASCII
      string: "{\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/rails_admin/statuses/ebbda2c02d067bb9c3ee1c0a86de2c72fc882d6e\",\"id\":9245099,\"state\":\"success\",\"description\":null,\"target_url\":\"http://wynnnetherland.com\",\"creator\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":3513548,\"avatar_url\":\"https://secure.gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"becfacf16d1c453662cc46abf5b6f0f9\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\"},\"created_at\":\"2013-05-01T19:38:30Z\",\"updated_at\":\"2013-05-01T19:38:30Z\"}"
  recorded_at: Wed, 01 May 2013 19:38:30 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/statuses/7d069dedd4cb56bf57760688657abd0e6b5a28b8
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "42"
      X-Github-Media-Type: 
      - github.beta; form[...]
[...]
