--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/stats/contributors
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "50"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"b5a1e23cd843935f892f9365adf51dbc\""
    body: 
      encoding: ASCII-8BIT
      string: "[{\"total\":1,\"weeks\":[{\"w\":1260057600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1260662400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1261267200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1261872000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1262476800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1263081600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1263686400,\"a\":0,\"d\":0,\"c\":0},{\"w\":1264291200,\"a\":0,\"d\":0,\"c\":0},{\"w\":1264896000,\"a\":0,\"d\":0,\"c\":0},{\"w\":1265500800,\"a\":0,\"d\":0,\"c\":0},{\"w\":1266105600,\"a\":0,\"d\":0,\"c\":0},{\"w\":1266710400,\"a\":0,[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/stats/participation
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "49"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"9d017ce3d2afc8258f637a1be16a168e\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"all\":[13,34,15,16,17,33,8,25,1,5,1,11,4,10,2,0,5,6,1,11,11,19,29,28,25,12,32,12,29,55,15,8,2,3,4,8,4,4,19,36,5,1,3,3,3,7,2,10,3,7,2,7],\"owner\":[5,6,2,2,0,24,1,7,1,4,0,4,2,3,0,0,5,3,0,5,3,11,12,0,7,7,21,6,1,20,6,3,2,1,1,2,1,0,4,9,2,0,0,0,0,5,0,7,0,2,0,5]}"
  recorded_at: Tue, 07 May 2013 19:34:50 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/stats/code_frequency
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "48"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - [...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/stats/commit_activity
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "47"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"7969cb36aee64b27026e7578c88ca51e\""
    body: 
      encoding: ASCII-8BIT
      string: "[{\"days\":[2,1,0,8,3,5,2],\"total\":21,\"week\":1336867200},{\"days\":[2,2,0,0,0,11,0],\"total\":15,\"week\":1337472000},{\"days\":[0,0,0,0,0,0,1],\"total\":1,\"week\":1338076800},{\"days\":[9,1,0,5,6,1,0],\"total\":22,\"week\":1338681600},{\"days\":[0,0,0,1,4,8,3],\"total\":16,\"week\":1339286400},{\"days\":[1,11,2,0,0,0,0],\"total\":14,\"week\":1339891200},{\"days\":[3,0,1,0,2,5,0],\"total\":11,\"week\":1340496000},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1341100800},{\"days\":[0,1,1,4,0,0,0],\"total\":6,\"week\":1341705600},{\"days\"[...]
- request: 
    method: get
    uri: https://api.github.com/repos/pengwynn/octokit/stats/punch_card
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "46"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"e[...]
