{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/octokit/stats/contributors","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["202 Accepted"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["31"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"US-ASCII","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Fri, 31 May 2013 16:03:01 GMT"}],"recorded_with":"VCR 2.4.0"}