--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/users
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "59"
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/users?since=135>; rel="next", <https://api.github.com/users{?since}>; rel="first"
      Etag: 
      - "\"324912429a6c8d7f41cb480e07da772a\""
    body: 
      encoding: ASCII-8BIT
      string: "[{\"login\":\"mojombo\",\"id\":1,\"avatar_url\":\"https://secure.gravatar.com/avatar/25c7c18223fb42a4c6ae1c8db6f50f9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"25c7c18223fb42a4c6ae1c8db6f50f9b\",\"url\":\"https://api.github.com/users/mojombo\",\"html_url\":\"https://github.com/mojombo\",\"followers_url\":\"https://api.github.com/users/mojombo/followers\",\"following_url\":\"https://api.github.com/users/mojombo/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mojombo/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mojombo/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mojombo/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mojombo/orgs\",\"repos_url\":\"https://api.github.com/users/mojombo/repos\",\"events_url\":\"https://api.github.com/users/mojombo/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mojombo/received_events\",\"type\":\"User\"},{\"login\":\"defunkt\",\"id\":2,\"avatar_url\":\"https://secure.gravatar.com/avatar/b8dbb1987e8e5318584865f880036796?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"b8dbb1987e8e5318584865f880036796\",\"url\":\"https://api.github.com/users/defunkt\",\"html_url\":\"https://github.com/defunkt\",\"followers_url\":\"https://api.github.com/users/defunkt/followers\",\"following_url\":\"https://api.github.com/users/defunkt/followin[...]
- request: 
    method: get
    uri: https://api.github.com/users/sferik
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "58"
      Last-Modified: 
      - Mon, 13 May 2013 16:17:10 GMT
      Etag: 
      - "\"4c65ad8fa3a06c6b069e7c109a0908c1\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://secure.gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"name\":\"Erik Michaels-Ober\",\"company\":\"\",\"blog\":\"http://twitter.com/sferik\",\"location\":\"San Francisco, CA\",\"email\":\"sferik@gmail.com\",\"hireable\":false,\"bio\":\"\",\"public_repos\":77,\"followers\":650,\"following\":102,\"created_at\":\"2008-05-14T20:36:12Z\",\"updated_at\":\"2013-05-13T16:17:10Z\",\"public_gists\":54}"
  recorded_at: Mon, 13 May 2013 17:18:32 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4994"
      Last-Modified: 
      - Mon, 13 May 2013 17:16:48 GMT
      Etag: 
      - "\"0bd4c31063b7d3c4241094bcb375ddea\""
      X-Github-Media-Type: 
      - githu[...]
[...]
- request: 
    method: get
    uri: https://api.github.com/users/sferik/followers
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "57"
      Last-Modified: 
      - Mon, 13 May 2013 14:56:51 GMT
      Etag: 
      - "\"2a1bb35c979f569cee0[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/users/<GITHUB_LOGIN>/followers
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4992"
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Mon, 13 May 2013 17:18:33 GMT
- request: 
    method: get
    uri: https://api.github.com/users/sferik/following
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "56"
      Last-Modified: 
      - Mon, 13 May 2013 17:17:14 GMT
      Etag: 
      - "\"a158a35cb3eb9633868[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/users/<GITHUB_LOGIN>/following
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4991"
      Last-Modified: 
      - Mon, 13 May 2013 11:22:02 GM[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/following/sferik
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4990"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Mon, 13 May 2013 17:18:34 GMT
- request: 
    method: put
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/following/pengwynn
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
      Status: 
      - 204 No Content
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4989"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Mon, 13 May 2013 17:18:35 GMT
[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/starred/sferik/rails_admin
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4987"
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Mon, 13 May 2013 17:18:35 GMT
- request: 
    method: get
    uri: https://api.github.com/users/sferik/starred
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "55"
      Last-Modified: 
      - Thu, 18 Apr 2013 09:05:51 GMT
      Etag: 
      - "\"9b4424c3e8ced3a918e15f90de41260f\""
      X-Github-Media-Type: 
      - github.beta; format=json
      Link: 
      - <https://api.github.com/user/10308/starred?page=2>; rel="next", <https://api.github.com/user/10308/starred?page=8>; rel="last"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"id\":4279682,\"name\":\"fish-shell\",\"full_name\":\"fish-shell/fish-shell\",\"owner\":{\"login\":\"fish-shell\",\"id\":1828073,\"avatar_url\":\"https://secure.gravatar.com/avatar/b1c9fbd02a50384d299ab908379a3d2e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"gravatar_id\":\"b1c9fbd02a50384d299ab908379a3d2e\",\"url\":\"https://api.github.com/users/fish-shell\",\"html_url\":\"https://github.com/fish-shell\",\"followers_url\":\"https://api.github.com/users/fish-shell/followers\",\"following_url\":\"https://api.github.com/users/fish-shell/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/fish-shell/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/fish-shell/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/fish-shell/subscriptions\",\"organizations_url\":\"https://api.github.com/users/fish-shell/orgs\",\"repos_url\":\"https://api.github.com/users/fish-shell/repos\",\"events_url\":\"https://api.github.com/users/fish-shell/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/fish-shell/received_events\",\"type\":\"Organization\"},\"private\":false,\"html_url\":\"https://github.com/fish-shell/fish-shell\",\"description\":\"The user-friendly command line shell.\",\"fork\":false,\"url\":\"https://api.github.com/repos/fish-shell/fish-shell\",\"forks_url\":\"https://api.github.com/repos/fish-shell/fish-shell/forks\",\"keys_url\":\"https://api.github.com/repos/fish-shell/fish-shell/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/fish-shell/fish-shell/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/fish-shell/fish-shell/teams\",\"hooks_url\":\"https://api.github.com/repos/fish-shell/fish-shell/hooks\",\"issue_events_url\":\"https://api.github.com/repos/fish-shell/fish-shell/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/fish-shell/fish-shell/events\",\"assignees_url\":\"https://api.github.com/repos/fish-shell/fish-shell/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/fish-shell/fish-shell/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/fish-shell/fish-shell/tags\",\"blobs_url\":\"https://api.github.com/repos/fish-shell/fish-shell/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/fish-shell/fish-shell/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/fish-shell/fish-shell/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/fish-shell/fish-shell/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/fish-shell/fish-shell/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/fish-shell/fish-shell/languages\",\"stargazers_url\":\"https://api.github.com/repos/fish-shell/fish-shell/stargazers\",\"contributors_url\":\"https://api.github.com/repos/fish-shell/fish-shell/contributors\",\"subscribers_url\":\"https://api.github.com/repos/fish-shell/fish-shell/subscribers\",\"subscription_url\":\"https://api.github.com/repos/fish-shell/fish-shell/subscription\",\"commits_url\":\"https://api.github.com/repos/fish-shell/fish-shell/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/fish-shell/fish-shell/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/fish-shell/fish-shell/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/fish-shell/fish-shell/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/fish-shell/fish-shell/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/fish-shell/fish-shell/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/fish-shell/fish-shell/merges\",\"archive_url\":\"https://api.github.com/repos/fish-shell/fish-shell/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/fish-shell/fish-shell/downloads\",\"issues_url\":\"https://api.github.com/repos/fish-shell/fish-shell/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/fish-shell/fish-shell/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/fish-shell/fish-shell/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/fish-shell/fish-shell/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/fish-shell/fish-shell/labels{/name}\",\"created_at\":\"2012-05-10T03:00:55Z\",\"updated_at\":\"2013-05-13T16:18:10Z\",\"pushed_at\":\"2013-05-13T09:09:24Z\",\"git_url\":\"git://github.com/fish-shell/fish-shell.git\",\"ssh_url\":\"git@github.com:fish-shell/fish-shell.git\",\"clone_url\":\"https://github.com/fish-shell/fish-shell.git\",\"svn_url\":\"https://github.com/fish-shell/fish-shell\",\"homepage\":\"\",\"size\":1956,\"watchers_count\":1331,\"language\":\"C++\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":121,\"mirror_url\":null,\"open_issues_count\":236,\"forks\":121,\"open_issues\":236,\"watchers\":1331,\"master_branch\":\"master\",\"default_branch\":\"master\"},{\"id\":8229400,\"name\":\"recipes-rss\",\"full_name\":\"Netflix/recipes-rss\",\"owner\":{\"login\":\"Netflix\",\"id\":913567,\"avatar_url\":\"https://secure.gravatar.com/avatar/8f271bdc9d66d434e2b473273353110a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"gravatar_id\":\"8f271bdc9d66d434e2b473273353110a\",\"url\":\"https://api.github.com/users/Netflix\",\"html_url\":\"https://github.com/Netflix\",\"followers_url\":\"https://api.github.[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/starred
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4986"
      Last-Modified: 
      - Wed, 13 Feb 2013 14:45:21 GMT
      Etag: 
   [...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/keys
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4985"
      Last-Modified: 
      - Mon, 13 May 2013 17:18:32 GMT
      Etag: 
      - "\"a4ba284b96c92474aaa422192e744d53\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Mon, 13 May 2013 17:18:37 GMT
- request: 
    method: get
    uri: https://api.github.com/users/pengwynn/keys
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "54"
      Last-Modified: 
      - Mon, 13 May 2013 15:43:10 GMT
      Etag: 
      - "\"fa22e3b0ad720d4aa201c9ba0815528f\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[{\"id\":2819277,\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaNrK6h1QL79XbK+4X7Ww7M5ARnrnS21EwB5dv9Q1laBp1x/NU+HwkDo7bXJGPl2MXvDLfmqkxhBUJablEKYQSoM18dY2vViPK8ODFxiU7yDI05YFeJ8oU5q0PP8Y859YaQAtMvj0u+HVfnq7+GLjDUcFMQCKE3MuPt6dyK12gG0vEbYWDfphAKatbMd4TcjCTIfPGmGD85DqO11B4dBc/NP0o2boRqptQqg5IYb02kWRdErtbay/DgsKB2R5wtL7w+TyF/E0sbHIqF9ygJ0NYpBhOQU6yF3IAoCi/wG9B4K772e8kQW3y77u2jkO8zJk+k5J3xsS4jEa0Y/PBRgK7\"}]"
  recorded_at: Mon, 13 May 2013 17:18:37 GMT
- request: 
    method: post
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/keys
    body: 
      encoding: UTF-8
      string: "{\"title\":\"wynning\",\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDN/h7Hf5TA6G4p19deF8YS9COfuBd133GPs49tO6AU/DKIt7tlitbnUnttT0VbNZM4fplyinPu5vJl60eusn/Ngq2vDfSHP5SfgHfA9H8cnHGPYG7w6F0CujFB3tjBhHa3L6Je50E3NC4+BGGhZMpUoTClEI5yEzx3qosRfpfJu/2MUp/V2aARCAiHUlUoj5eiB15zC25uDsY7SYxkh1JO0ecKSMISc/OCdg0kwi7it4t7S/qm8Wh9pVGuA5FmVk8w0hvL+hHWB9GT02WPqiesMaS9Sj3t0yuRwgwzLDaudQPKKTKYXi+SjwXxTJ/lei2bZTMC4QxYbqfqYQt66pQB wynn.netherland+<GITHUB_LOGIN>@gmail.com\"}"
    headers: 
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 201 Created
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4984"
      Location: 
      - https://api.github.com/user/keys/4818404
      X-Github-Media-Type: 
      - github.beta; format=json
      Etag: 
      - "\"c75ce0446810ffa88c0cd8d103865e6f\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":4818404,\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDN/h7Hf5TA6G4p19deF8YS9COfuBd133GPs49tO6AU/DKIt7tlitbnUnttT0VbNZM4fplyinPu5vJl60eusn/Ngq2vDfSHP5SfgHfA9H8cnHGPYG7w6F0CujFB3tjBhHa3L6Je50E3NC4+BGGhZMpUoTClEI5yEzx3qosRfpfJu/2MUp/V2aARCAiHUlUoj5eiB15zC25uDsY7SYxkh1JO0ecKSMISc/OCdg0kwi7it4t7S/qm8Wh9pVGuA5FmVk8w0hvL+hHWB9GT02WPqiesMaS9Sj3t0yuRwgwzLDaudQPKKTKYXi+SjwXxTJ/lei2bZTMC4QxYbqfqYQt66pQB\",\"url\":\"https://api.github.com/user/keys/4818404\",\"title\":\"wynning\",\"verified\":true}"
  recorded_at: Mon, 13 May 2013 17:18:38 GMT
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/keys/4818404
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4983"
      Last-Modified: 
      - Mon, 13 May 2013 17:18:32 GMT
      Etag: 
      - "\"a4ba284b96c92474aaa422192e744d53\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "{\"id\":4818404,\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDN/h7Hf5TA6G4p19deF8YS9COfuBd133GPs49tO6AU/DKIt7tlitbnUnttT0VbNZM4fplyinPu5vJl60eusn/Ngq2vDfSHP5SfgHfA9H8cnHGPYG7w6F0CujFB3tjBhHa3L6Je50E3NC4+BGGhZMpUoTClEI5yEzx3qosRfpfJu/2MUp/V2aARCAiHUlUoj5eiB15zC25uDsY7SYxkh1JO0ecKSMISc/OCdg0kwi7it4t7S/qm8Wh9pVGuA5FmVk8w0hvL+hHWB9GT02WPqiesMaS9Sj3t0yuRwgwzLDaudQPKKTKYXi+SjwXxTJ/lei2bZTMC4QxYbqfqYQt66pQB\",\"url\":\"https://api.github.com/user/keys/4818404\",\"title\":\"wynning\",\"verified\":true}"
  recorded_at: Mon, 13 May 2013 17:18:38 GMT
[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/emails
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4980"
      Last-Modified: 
      - Mon, 13 May 2013 17:18:32 GMT
      Etag: 
      - "\"a4ba284b96c92474aaa422192e744d53\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: ASCII-8BIT
      string: "[\"wynn.netherland+<GITHUB_LOGIN>@gmail.com\"]"
  recorded_at: Mon, 13 May 2013 17:18:40 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/users/pengwynn/subscriptions
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "53"
      Last-Modified: 
      - Mon, 13 May 2013 16:46:03 GMT
      Etag: 
      - "\"94b12a743ea92[...]
- request: 
    method: get
    uri: https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/subscriptions
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "5000"
      X-Ratelimit-Remaining: 
      - "4977"
      Last-Modified: 
      - Fri, 10 May 2013 15:10:11 GMT
      Etag[...]
