{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImVkZWRlZCJ9\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4913"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 17 Jun 2013 18:49:43 GMT"},{"request":{"method":"post","uri":"https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/labels","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoidGVzdC1sYWJlbCIsImNvbG9yIjoiZWRlZGVkIn0=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4912"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "Location":["https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/labels/test-label"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"25a24312ad8e98fadb2f84b82f8806cd\""]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zL2FwaS1wbGF5\nZ3JvdW5kLzxHSVRIVUJfVEVTVF9SRVBPU0lUT1JZPi9sYWJlbHMvdGVzdC1s\nYWJlbCIsIm5hbWUiOiJ0ZXN0LWxhYmVsIiwiY29sb3IiOiJlZGVkZWQifQ==\n"},"http_version":null},"recorded_at":"Mon, 17 Jun 2013 18:49:44 GMT"},[...]
{"request":{"method":"delete","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImVkZWRlZCJ9\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4995"], "X-Ratelimit-Reset":["1394228651"], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 20:45:56 GMT"},{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoidGVzdC1sYWJlbCIsImNvbG9yIjoiZWRlZGVkIn0=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4994"], "X-Ratelimit-Reset":["1394228651"], "Etag":["\"04e28858f734991013307bf94ad23672\""], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":[""], "Location":["https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zLzxHSVRIVUJf\nTE9HSU4+LzxHSVRIVUJfVEVTVF9SRVBPU0lUT1JZPi9sYWJlbHMvdGVzdC1s\nYWJlbCIsIm5hbWUiOiJ0ZXN0LWxhYmVsIiwiY29sb3IiOiJlZGVkZWQifQ==\n"},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 20:45:57 GMT"},{"request":{"method":"patch","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImZmZGQzMyJ9\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4993"], "X-Ratelimit-Reset":["1394228651"], "Etag":["\"204a10ea0b37cf3e932533ade59c81f9\""], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zLzxHSVRIVUJf\nTE9HSU4+LzxHSVRIVUJfVEVTVF9SRVBPU0lUT1JZPi9sYWJlbHMvdGVzdC1s\nYWJlbCIsIm5hbWUiOiJ0ZXN0LWxhYmVsIiwiY29sb3IiOiJmZmRkMzMifQ==\n"},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 20:45:57 GMT"}],"recorded_with":"VCR 2.8.0"}