{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/search/issues?order=desc&q=http%20author:jasonrudolph&sort=created","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["20"], "X-Ratelimit-Remaining":["14"], "X-Ratelimit-Reset":["1389451525"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"total_count\":10,\"items\":[{\"url\":\"https://api.github.com/repos/github/developer.github.com/issues/262\",\"labels_url\":\"https://api.github.com/repos/github/developer.github.com/issues/262/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/github/developer.github.com/issues/262/comments\",\"events_url\":\"https://api.github.com/repos/github/developer.github.com/issues/262/events\",\"html_url\":\"https://github.com/github/developer.github.com/pull/262\",\"id\":15400876,\"number\":262,\"title\":\"Clarify pagination via `since` parameter\",\"user\":{\"login\":\"jasonrudolph\",\"id\":2988,\"avatar_url\":\"https://gravatar.com/avatar/592e1e6f041f9a4ec51846fd82013aea?d=https%3A%2F%2Fidenticons.github.com%2Ffaa453efde4ac6a36849ba381feb9e87.png&r=x\",\"gravatar_id\":\"592e1e6f041f9a4ec51846fd82013aea\",\"url\":\"https://api.github.com/users/jasonrudolph\",\"html_url\":\"https://github.com/jasonrudolph\",\"followers_url\":\"https://api.github.com/users/jasonrudolph/followers\",\"following_url\":\"https://api.github.com/users/jasonrudolph/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jasonrudolph/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jasonrudolph/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jasonrudolph/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jasonrudolph/orgs\",\"repos_url\":\"https://api.github.com/users/jasonrudolph/repos\",\"events_url\":\"https://api.github.com/users/jasonrudolph/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jasonrudolph/received_events\",\"type\":\"User\",\"site_admin\":true},\"labels\":[],\"state\":\"closed\",\"assignee\":null,\"milestone\":null,\"comments\":1,\"created_at\":\"2013-06-11T14:15:21Z\",\"updated_at\":\"2013-06-12T14:21:43Z\",\"closed_at\":\"2013-06-12T14:21:38Z\",\"pull_request\":{\"html_url\":\"https://github.com/github/developer.github.com/pull/262\",\"diff_url\":\"https://github.com/github/developer.github.com/pull/262.diff\",\"patch_url\":\"https://github.com/github/developer.github.com/pull/262.patch\"},\"body\":\"This Pull Request attempts to clarify the documentation as discussed in https://github.com/github/developer.github.com/pull/259#issuecomment-19231530.\\r\\n\\r\\nAlso, since `/repositories` uses the same pagination strategy as `/users`, this PR updates the docs for `/repositories` as well.\\r\\n\\r\\n/cc @watsonian @gjtorikian \",\"score\":0.26728848},{\"url\":\"https://api.github.com/repos/tekezo/KeyRemap4MacBook/issues/128\",\"labels_url\":\"https://api.github.com/repos/tekezo/KeyRemap4MacBook/issues/128/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/tekezo/KeyRemap4MacBook/issues/128/comments\",\"events_url\":\"https://api.github.com/repos/tekezo/KeyRemap4MacBook/issues/128/events\",\"html_url\":\"https://github.com/tekezo/KeyRemap4MacBook/issues/128\",\"id\":12637246,\"number\":128,\"title\":\"\\\"Simultaneous[...]
