{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/commits/asdf/check-suites","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <INSTALLATION_BEARER_TOKEN>"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Github-Media-Type":["github.antiope-preview; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["59"], "X-Ratelimit-Reset":["1540219050"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Mon, 22 Oct 2018 13:37:30 GMT"}],"recorded_with":"VCR 4.0.0"}