{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/teams/946194/memberships/<GITHUB_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1407177624"], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.the-wasp-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 04 Aug 2014 17:48:55 GMT"}],"recorded_with":"VCR 2.9.2"}