{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/teams/<GITHUB_TEAM_ID>/memberships/<GITHUB_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Content-Type":["application/octet-stream"], "Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4997"], "X-Ratelimit-Reset":["1536613529"], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 10 Sep 2018 20:05:30 GMT"}],"recorded_with":"VCR 3.0.3"}