{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/git/refs/tags","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4870"], "X-Ratelimit-Reset":["1389618704"], "Last-Modified":["Mon, 13 Jan 2014 06:53:02 GMT"], "Etag":["\"3c9a91883662e338fd5ea1f9f03f1753\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"ref\":\"refs/tags/v0.0.1\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs/tags/v0.0.1\",\"object\":{\"sha\":\"69edc0b0ac7dfa2780a39c113b54718b6defe081\",\"type\":\"tag\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/tags/69edc0b0ac7dfa2780a39c113b54718b6defe081\"}},{\"ref\":\"refs/tags/v0.0.2\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs/tags/v0.0.2\",\"object\":{\"sha\":\"daa8d377587115484ab4f06272a9242436ab615c\",\"type\":\"tag\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/tags/daa8d377587115484ab4f06272a9242436ab615c\"}},{\"ref\":\"refs/tags/v0.0.3\",\"url\":\"https://api.github.com/repos/sferik[...]
