{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/git/refs","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4871"], "X-Ratelimit-Reset":["1389618704"], "Last-Modified":["Mon, 13 Jan 2014 06:53:02 GMT"], "Etag":["\"3c9a91883662e338fd5ea1f9f03f1753\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"ref\":\"refs/heads/actions\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs/heads/actions\",\"object\":{\"sha\":\"19453d77913e5cc92dd836294bcb6e7ceb4d2a7f\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/19453d77913e5cc92dd836294bcb6e7ceb4d2a7f\"}},{\"ref\":\"refs/heads/activo\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs/heads/activo\",\"object\":{\"sha\":\"9746b485e4fc27eb26bd20ddb441ca8418eedfc4\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/9746b485e4fc27eb26bd20ddb441ca8418eedfc4\"}},{\"ref\":\"refs/heads/associated-collection-refact\",\"url\":[...]
