{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/watchers","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["56"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"3ca5c2f7e963a165955a7fd4ff34099a\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/watchers?page=2>; rel=\"next\", <https://api.github.com/repositories/810796/watchers?page=145>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"wycats\",\"id\":4,\"avatar_url\":\"https://gravatar.com/avatar/428167a3ec72235ba971162924492609?d=https%3A%2F%2Fidenticons.github.com%2Fa87ff679a2f3e71d9181a67b7542122c.png&r=x\",\"gravatar_id\":\"428167a3ec72235ba971162924492609\",\"url\":\"https://api.github.com/users/wycats\",\"html_url\":\"https://github.com/wycats\",\"followers_url\":\"https://api.github.com/users/wycats/followers\",\"following_url\":\"https://api.github.com/users/wycats/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/wycats/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/wycats/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/wycats/subscriptions\",\"organizations_url\":\"https://api.github.com/users/wycats/orgs\",\"repos_url\":\"https://api.github.com/users/wycats/repos\",\"events_url\":\"https://api.github.com/users/wycats/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/wycats/received_events\",\"type\":\"User\",\"site_admin\":false},{\"login\":\"Caged\",\"id\":25,\"avatar_url\":\"https://gravatar.com/avatar/97c3a8eea9b7eaa9e1e93ea3cd47399f?d=https%3A%2F%2Fidenticons.github.com%2F8e296a067a37563370ded05f5a3bf3ec.png&r=x\",\"gravatar_id\":\"97c3a8eea9b7eaa9e1e93ea3cd47399f\",\"url\":\"https://api.github.com/users/Caged\",\"html_url\":\"https://github.com/Caged\",\"followers_url\":\"https://api.github.com/users/Caged/followers\",\"following_url\":\"https://api.github.com/users/Caged/following{/other_user}\",\"gists_url\[...]
