{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/hub","body":{"encoding":"UTF-8","string":"hub.callback=github%3A%2F%2FTravis%3Ftoken%3Dtravistoken&hub.mode=subscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fjoshk%2Fnot_existing_project%2Fevents%2Fpush"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["422 Unprocessable Entity"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4813"], "X-Ratelimit-Reset":["1389611485"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.beta"]},"body":{"encoding":"UTF-8","string":"{\"message\":\"No repository found for hub.topic: \\\"https://github.com/joshk/not_existing_project/events/push\\\"\",\"documentation_url\":\"http://developer.github.com/v3/repos/hooks/#pubsubhubbub\"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 11:00:56 GMT"}],"recorded_with":"VCR 2.4.0"}