{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/git/commits/2bfca14ed8ebc3dad75082ff175e6703aed7ccc0","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4880"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sat, 14 Dec 2013 21:15:23 GMT"], "Etag":["\"eb760ae9b20c3e1f00674f639317a2f6\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"sha\":\"2bfca14ed8ebc3dad75082ff175e6703aed7ccc0\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits/2bfca14ed8ebc3dad75082ff175e6703aed7ccc0\",\"html_url\":\"https://github.com/octokit/octokit.rb/commits/2bfca14ed8ebc3dad75082ff175e6703aed7ccc0\",\"author\":{\"name\":\"Joey Wendt\",\"email\":\"joey@joeywendt.com\",\"date\":\"2013-12-13T03:12:29Z\"},\"committer\":{\"name\":\"Joey Wendt\",\"email\":\"joey@joeywendt.com\",\"date\":\"2013-12-14T21:15:23Z\"},\"tree\":{\"sha\":\"6b8376588d5ccb4215fda20b5e317c35c0d9d639\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/trees/6b8376588d5ccb4215fda20b5e317c35c0d9d639\"},\"message\":\"Implement Feeds API #feeds method.\",\"parents\":[{\"sha\":\"68f3af088c9c95c20030bc269c1358c3d30a9e5e\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits/68f3af088c9c95c20030bc269c1358c3d30a9e5e\",\"html_url\":\"https://github.com/octokit/octokit.rb/commits/68f3af088c9c95c20030bc269c1358c3d30a9e5e\"}]}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 10:22:32 GMT"}],"recorded_with":"VCR 2.4.0"}