{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4966"], "X-Ratelimit-Reset":["1388067298"], "Last-Modified":["Thu, 26 Dec 2013 05:30:46 GMT"], "Etag":["\"cf71b712044c3590d7107169b21d308b\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.beta; format=json"], "Link":["<https://api.github.com/repositories/810796/commits?top=master&last_sha=a9d373b953e3b74927d028b1fe0c4dc2cd815667>; rel=\"next\", <https://api.github.com/repositories/810796/commits?sha=master>; rel=\"first\""]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"40c96bff5bc09cf1d7ef33912ee21fee82b6b606\",\"commit\":{\"author\":{\"name\":\"Mitsuhiro Shibuya\",\"email\":\"mit.shibuya@gmail.com\",\"date\":\"2013-12-26T05:30:46Z\"},\"committer\":{\"name\":\"Mitsuhiro Shibuya\",\"email\":\"mit.shibuya@gmail.com\",\"date\":\"2013-12-26T05:30:46Z\"},\"message\":\"Merge pull request #1871 from jgorset/rails-4.1\\n\\nRails 4.1 support\",\"tree\":{\"sha\":\"4629ab7d8da95aaf71c3c98dde5db5819012ec98\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/4629ab7d8da95aaf71c3c98dde5db5819012ec98\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/40c96bff5bc09cf1d7ef33912ee21fee82b6b606\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/40c96bff5bc09cf1d7ef33912ee21fee82b6b606\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/40c96bff5bc09cf1d7ef33912ee21fee82b6b606\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/40c96bff5bc09cf1d7ef33912ee21fee82b6b606/comments\",\"author\":{\"login\":\"mshibuya\",\"id\":486678,\"avatar_url\":\"https://gravatar.com/avatar/e12723d14998d24616bd7b2ece2b71b2?d=https%3A%2F%2Fidenticons.github.com%2Ffc837c22671faf40433607262c2c9b73.png&r=x\",\"gravatar_id\":\"e12723d14998d24616bd7b2ece2b71b2\",\"url\":\"https://api.github.com/users/mshibuya\",\"html_url\":\"https://github.com/mshibuya\",\"followers_url\":\"https://api.github.com/users/mshibuya/followers\",\"following_url\":\"https://api.github.com/users/mshibuya/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mshibuya/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mshibuya/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mshibuya/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mshibuya/orgs\",\"repos_url\":\"https://api.github.com/users/mshibuya/repos\",\"events_url\":\"https://api.github.com/users/mshibuya/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mshibuya/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"mshibuya\",\"id\":486678,\"avatar_url\":\"https://gravatar.com/avatar/e12723d14998d24616bd7b2ece2b71b2?d=https%3A%2F%2Fidenticons.github.com%2Ffc837c22671faf40433607262c2c9b73.png&r=x\",\"gravatar_id\":\"e12723d14998d24616bd7b2ece2b71b2\",\"url\":\"https://api.github.com/users/mshibuya\",\"html_url\":\"https://github.com/mshibuya\",\"followers_url\":\"https://api.github.com/users/mshibuya/followers\",\"following_url\":\"https://api.github.com/users/mshibuya/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mshibuya/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mshibuya/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mshibuya/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mshibuya/orgs\",\"repos_url\":\"https://api.github.com/users/mshibuya/repos\",\"events_url\":\"https://api.github.com/users/mshibuya/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mshibuya/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"6e0c11bc32a6b306e632143a8febc403b059aad3\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/6e0c11bc32a6b306e632143a8febc403b059aad3\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/6e0c11bc32a6b306e632143a8febc403b059aad3\"},{\"sha\":\"969aebc4a1f52dc6f5b24fc9aab6aa9c714b14d3\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/969aebc4a1f52dc6f5b24fc9aab6aa9c714b14d3\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/969aebc4a[...]
