{"http_interactions":[{"request":{"method":"get","uri":"https://enterprise.github.dev/enterprise/stats/pages","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"0bd86b460e28a3779500ac5614b51f3a\""]},"body":{"encoding":"UTF-8","base64_string":"eyJ0b3RhbF9wYWdlcyI6MH0=\n"},"http_version":null},"recorded_at":"Thu, 19 Dec 2013 13:07:24 GMT"}],"recorded_with":"VCR 2.4.0"}