{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/search/topics?order=desc&q=tetris%20language:assembly&sort=stars",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Oauth-Scopes": [
            "repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            ""
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-08-09"
          ],
          "X-Github-Api-Version-Selected-Reason": [
            "default"
          ],
          "X-Ratelimit-Limit": [
            "30"
          ],
          "X-Ratelimit-Remaining": [
            "29"
          ],
          "X-Ratelimit-Reset": [
            "1657710490"
          ],
          "X-Ratelimit-Used": [
            "1"
          ],
          "X-Ratelimit-Resource": [
            "search"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJ0b3RhbF9jb3VudCI6MCwiaW5jb21wbGV0ZV9yZXN1bHRzIjpmYWxzZSwi\naXRlbXMiOltdfQ==\n"
        }
      },
      "recorded_at": "Wed, 13 Jul 2022 11:07:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}