{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/repos/octokit/octokit.rb/subscription","body":{"encoding":"UTF-8","string":"{\"subscribed\":false}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4928"], "X-Ratelimit-Reset":["1390200528"], "Etag":["\"74b5a502c3844266a99fcb90d6f861aa\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"subscribed\":true,\"ignored\":false,\"reason\":null,\"created_at\":\"2014-01-20T05:49:33Z\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/subscription\",\"repository_url\":\"https://api.github.com/repos/octokit/octokit.rb\"}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:33 GMT"}],"recorded_with":"VCR 2.4.0"}