{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/installations","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4985"], "X-Ratelimit-Reset":["1505488309"], "Etag":["W/\"4d8250bf3ea7005652f150ed27533f94\""], "X-Oauth-Scopes":[""], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["Iv1.707b53cbd6898831"], "X-Github-Media-Type":["github.machine-man-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MCwiaW5zdGFsbGF0aW9ucyI6W10sImludGVncmF0\naW9uX2luc3RhbGxhdGlvbnMiOltdfQ==\n"},"http_version":null},"recorded_at":"Fri, 15 Sep 2017 15:07:13 GMT"}],"recorded_with":"VCR 2.9.3"}