{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/defunkt/gists","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["58"], "X-Ratelimit-Reset":["1389662319"], "Etag":["\"02b0a3a60d8570e7605d2f4366da16b6\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/user/2/gists?page=2>; rel=\"next\", <https://api.github.com/user/2/gists?page=10>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/gists/4283721\",\"forks_url\":\"https://api.github.com/gists/4283721/forks\",\"commits_url\":\"https://api.github.com/gists/4283721/commits\",\"id\":\"4283721\",\"git_pull_url\":\"https://gist.github.com/4283721.git\",\"git_push_url\":\"https://gist.github.com/4283721.git\",\"html_url\":\"https://gist.github.com/4283721\",\"files\":{\"pjax.md\":{\"filename\":\"pjax.md\",\"type\":\"text/plain\",\"language\":\"Markdown\",\"raw_url\":\"https://gist.github.com/defunkt/4283721/raw/c87aaf4333da78d7b36e44a8f94311e4497258a7/pjax.md\",\"size\":353}},\"public\":true,\"created_at\":\"2012-12-14T08:45:47Z\",\"updated_at\":\"2013-10-21T21:34:05Z\",\"description\":\"pjax helpers for different frameworks\",\"comments\":6,\"user\":null,\"comments_url\":\"https://api.github.com/gists/4283721/comments\",\"owner\":{\"login\":\"defunkt\",\"id\":2,\"avatar_url\":\"https://gravatar.com/avatar/b8dbb1987e8e5318584865f880036796?d=https%3A%2F%2Fidenticons.github.com%2Fc81e728d9d4c2f636f067f89cc14862c.png&r=x\",\"gravatar_id\":\"b8dbb1987e8e5318584865f880036796\",\"url\":\"https://api.github.com/users/defunkt\",\"html_url\":\"https://github.com/defunkt\",\"followers_url\":\"https://api.github.com/users/defunkt/followers\",\"following_url\":\"https://api.github.com/users/defunkt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/defunkt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/defunkt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/defunkt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/defunkt/orgs\",\"repos_url\":\"https://api.github.com/users/defunkt/repos\",\"events_url\":\"https://api.github.com/users/defunkt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/defunkt/received_events\",\"type\":\"User\",\"site_admin\":true}},{\"url\":\"https://api.github.com/gists/4256043\",\"forks_url\":\"https://api.github.com/gists/4256043/forks\",\"commits_url\":\"https://api.github.com/gists/4256043/commits\",\"id\":\"4256043\",\"git_pull_url\":\"https://gist.github.com/4256043.git\",\"git_push_url\":\"https://gist.github.com/4256043.git\",\"html_url\":\"https://gist.github.com/4256043\",\"files\":{\"namespace.coffee\":{\"filename\":\"namespace.coffee\",\"type\":\"text/coffescript\",\"language\":\"CoffeeScript\",\"raw_url\":\"https://gist.github.com/defunkt/4256043/raw/54252fec76e60ef1beb6ce56835e224d340e5620/namespace.coffee\",\"size\":6476}},\"public\":true,\"created_at\":\"2012-12-11T05:05:38Z\",\"updated_at\":\"2013-08-02T05:23:46Z\",\"description\":null,\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/4256043/comments\",\"owner\":{\"login\":\"defunkt\",\"id\":2,\"avatar_url\":\[...]
