{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/teams/946194/memberships/pengwynn","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1407177624"], "Etag":["\"1e5bb6f8104265e40ecbbe9cb006a0a7\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.the-wasp-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiJhY3RpdmUiLCJ1cmwiOiJodHRwczovL2FwaS5naXRodWIu\nY29tL3RlYW1zLzk0NjE5NC9tZW1iZXJzaGlwcy9wZW5nd3lubiJ9\n"},"http_version":null},"recorded_at":"Mon, 04 Aug 2014 17:40:24 GMT"}],"recorded_with":"VCR 2.9.2"}