{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/feeds","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["50"], "X-Ratelimit-Reset":["1389662319"], "Etag":["\"5bbcf47a2e0583ed37f6702e28f3cfbb\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"timeline_url\":\"https://github.com/timeline\",\"user_url\":\"https://github.com/{user}\",\"_links\":{\"timeline\":{\"href\":\"https://github.com/timeline\",\"type\":\"application/atom+xml\"},\"user\":{\"href\":\"https://github.com/{user}\",\"type\":\"application/atom+xml\"}}}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 01:11:09 GMT"}],"recorded_with":"VCR 2.4.0"}