{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/contributors","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["45"], "X-Ratelimit-Reset":["1390200555"], "Last-Modified":["Mon, 20 Jan 2014 03:42:13 GMT"], "Etag":["\"20a821555901dafad45119e1782e0c1b\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"bbenezech\",\"id\":26794,\"avatar_url\":\"https://gravatar.com/avatar/c1607873b99845b2cd53f8634860d4d4?d=https%3A%2F%2Fidenticons.github.com%2F3af65294001defdf7d60d4b9e3151fff.png&r=x\",\"gravatar_id\":\"c1607873b99845b2cd53f8634860d4d4\",\"url\":\"https://api.github.com/users/bbenezech\",\"html_url\":\"https://github.com/bbenezech\",\"followers_url\":\"https://api.github.com/users/bbenezech/followers\",\"following_url\":\"https://api.github.com/users/bbenezech/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bbenezech/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bbenezech/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bbenezech/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bbenezech/orgs\",\"repos_url\":\"https://api.github.com/users/bbenezech/repos\",\"events_url\":\"https://api.github.com/users/bbenezech/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bbenezech/received_events\",\"type\":\"User\",\"site_admin\":false,\"contributions\":1003},{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gis[...]
