{"http_interactions":[{"request":{"method":"post","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/user/repos","body":{"encoding":"UTF-8","string":"{\"auto_init\":true,\"name\":\"<GITHUB_TEST_REPOSITORY>\"}"},"headers":{}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1390191593"], "Etag":["\"5ee17fe124e2190b3d8d6c42ad9809e4\""], "Location":["https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"id\":16059989,\"name\":\"<GITHUB_TEST_REPOSITORY>\",\"full_name\":\"<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>\",\"forks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/releases{/id}\",\"created_at\":\"2014-01-20T03:19:53Z\",\"updated_at\":\"2014-01-20T03:19:53Z\",\"pushed_at\":\"2014-01-20T03:19:53Z\",\"git_url\":\"git://github.com/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>.git\",\"ssh_url\":\"git@github.com:<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>.git\",\"clone_url\":\"https://github.com/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>.git\",\"svn_url\":\"https://github.com/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":1}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 03:19:53 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/commits","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1390191593"], "Last-Modified":["Mon, 20 Jan 2014 03:19:53 GMT"], "Etag":["\"b4895943b80780a8b816bb60bafb145f\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"c8da65c849adf872a6222dadca4fcf9014d7b291\",\"commit\":{\"author\":{\"name\":\"<GITHUB_LOGIN>\",\"email\":\"joeydotw+apijunkie@gmail.com\",\"date\":\"2014-01-20T03:19:53Z\"},\"committer\":{\"name\":\"<GITHUB_LOGIN>\",\"email\":\"joeydotw+apijunkie@gmail.com\",\"date\":\"2014-01-20T03:19:53Z\"},\"message\":\"Initial commit\",\"tree\":{\"sha\":\"bcd62f5d439d2e808b8ad9b147b5d4354ff104c5\",\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/trees/bcd62f5d439d2e808b8ad9b147b5d4354ff104c5\"},\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/git/commits/c8da65c849adf872a6222dadca4fcf9014d7b291\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/commits/c8da65c849adf872a6222dadca4fcf9014d7b291\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/commit/c8da65c849adf872a6222dadca4fcf9014d7b291\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/commits/c8da65c849adf872a6222dadca4fcf9014d7b291/comments\",\"author\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/a[...]
{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/statuses/c8da65c849adf872a6222dadca4fcf9014d7b291","body":{"encoding":"UTF-8","string":"{\"target_url\":\"http://wynnnetherland.com\",\"state\":\"success\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4997"], "X-Ratelimit-Reset":["1390191593"], "Etag":["\"c1028fba4fa7b00c88ed0e96c36abd29\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "Location":["https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/statuses/c8da65c849adf872a6222dadca4fcf9014d7b291"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/statuses/c8da65c849adf872a6222dadca4fcf9014d7b291\",\"id\":35572879,\"state\":\"success\",\"description\":null,\"target_url\":\"http://wynnnetherland.com\",\"creator\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2014-01-20T03:19:54Z\",\"updated_at\":\"2014-01-20T03:19:54Z\"}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 03:19:54 GMT"},{"request":{"method":"delete","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>","body":{"encoding":"UTF-8","string":"{}"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1390191593"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 03:19:55 GMT"}],"recorded_with":"VCR 2.4.0"}