{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/automated-security-fixes",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Oauth-Scopes": [
            "admin:public_key, codespace, gist, read:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "repo"
          ],
          "X-Oauth-Client-Id": [
            "178c6fc778ccc68e1d6a"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4900"
          ],
          "X-Ratelimit-Reset": [
            "1721311964"
          ],
          "X-Ratelimit-Used": [
            "100"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": ""
        }
      },
      "recorded_at": "Thu, 18 Jul 2024 13:41:38 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/automated-security-fixes",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"c1017bef99473260bb4a77e5bbf50af9cb7623bcb9c42ea3b4d06941dddb5a57\""
          ],
          "X-Oauth-Scopes": [
            "admin:public_key, codespace, gist, read:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "repo"
          ],
          "X-Oauth-Client-Id": [
            "178c6fc778ccc68e1d6a"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4897"
          ],
          "X-Ratelimit-Reset": [
            "1721311964"
          ],
          "X-Ratelimit-Used": [
            "103"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJlbmFibGVkIjp0cnVlLCJwYXVzZWQiOmZhbHNlfQ==\n"
        }
      },
      "recorded_at": "Thu, 18 Jul 2024 13:41:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}