{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_LOGIN>.github.io/pages","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4965"], "X-Ratelimit-Reset":["1571190497"], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.switcheroo-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 16 Oct 2019 00:51:02 GMT"}],"recorded_with":"VCR 4.0.0"}