{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/teams","body":{"encoding":"UTF-8","string":"{\"name\":\"Test Team 1389654517.131488\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4976"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"73fa250a9bd0b8e6c6246a2df39b39d8\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "Location":["https://api.github.com/teams/<ORGANIZATION_TEAM_ID>"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"Test Team 1389654517.131488\",\"id\":<ORGANIZATION_TEAM_ID>,\"slug\":\"test-team-1389654517-131488\",\"permission\":\"pull\",\"url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>\",\"members_url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>/repos\",\"members_count\":0,\"repos_count\":0,\"organization\":{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>\",\"repos_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/events\",\"members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/public_members{/member}\",\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"public_repos\":19,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"created_at\":\"2014-01-11T06:48:31Z\",\"updated_at\":\"2014-01-13T22:42:05Z\",\"type\":\"Organization\"}}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:37 GMT"},{"request":{"method":"get","uri":"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4975"], "X-Ratelimit-Reset":["1389658107"], "Last-Modified":["Mon, 13 Jan 2014 23:08:37 GMT"], "Etag":["\"8690e8797c60821491284bea78dec04c\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["read:org, write:org, admin:org, repo, user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"Test Team 1389654517.131488\",\"id\":<ORGANIZATION_TEAM_ID>,\"slug\":\"test-team-1389654517-131488\",\"permission\":\"pull\",\"url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>\",\"[...]
{"request":{"method":"delete","uri":"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4974"], "X-Ratelimit-Reset":["1389658107"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:38 GMT"}],"recorded_with":"VCR 2.4.0"}