{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/actions/secrets/public-key",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"aa41a98fa5415fc5a3e22c00ea9be5c5d60b20bac3cf4fcecbf1b751180b3347\""
          ],
          "X-Oauth-Scopes": [
            "admin:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:org"
          ],
          "Github-Authentication-Token-Expiration": [
            "2023-12-19 21:50:28 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4989"
          ],
          "X-Ratelimit-Reset": [
            "1702418555"
          ],
          "X-Ratelimit-Used": [
            "11"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJrZXlfaWQiOiI1NjgyNTAxNjcyNDI1NDk3NDMiLCJrZXkiOiJPSkU3Q1dq\nOEFPZVY1cUVaeUVnck1oZ1RGTjlaK3FPNzlmUUN4cmJiUkZFPSJ9\n"
        }
      },
      "recorded_at": "Tue, 12 Dec 2023 21:53:47 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}