{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/gists","body":{"encoding":"UTF-8","string":"{\"description\":\"A gist from Octokit\",\"public\":true,\"files\":{\"zen.text\":{\"content\":\"Keep it logically awesome.\"}}}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4528"], "X-Ratelimit-Reset":["1389539611"], "Etag":["\"8d373c0013003d3d8466a98605a9fb42\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "Location":["https://api.github.com/gists/8385688"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/gists/8385688\",\"forks_url\":\"https://api.github.com/gists/8385688/forks\",\"commits_url\":\"https://api.github.com/gists/8385688/commits\",\"id\":\"8385688\",\"git_pull_url\":\"https://gist.github.com/8385688.git\",\"git_push_url\":\"https://gist.github.com/8385688.git\",\"html_url\":\"https://gist.github.com/8385688\",\"files\":{\"zen.text\":{\"filename\":\"zen.text\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/<GITHUB_LOGIN>/8385688/raw/fde0619cfe8ece129304af54eed78bf866287178/zen.text\",\"size\":26,\"content\":\"Keep it logically awesome.\"}},\"public\":true,\"created_at\":\"2014-01-12T15:02:11Z\",\"updated_at\":\"2014-01-12T15:02:11Z\",\"description\":\"A gist from Octokit\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8385688/comments\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"3607ce7a6471e202089fd73e4236c2a9216c3fe1\",\"committed_at\":\"2014-01-12T15:02:11Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/8385688/3607ce7a6471e202089fd73e4236c2a9216c3fe1\"}]}"},"http_version":null},"recorded_at":"Sun, 12 Jan 2014 15:02:11 GMT"},{"request":{"method":"post","uri":"https://api.github.com/gists/5421307/comments","body":{"encoding":"UTF-8","string":"{\"body\":\":metal:\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4527"], "X-Ratelimit-Reset":["1389539611"], "Etag":["\"c0c6462380d4de15bfd70ef32d386add\""], "X-Oauth[...]
{"request":{"method":"delete","uri":"https://api.github.com/gists/8385688","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4526"], "X-Ratelimit-Reset":["1389539611"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sun, 12 Jan 2014 15:02:11 GMT"}],"recorded_with":"VCR 2.4.0"}