{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits/3cdfabd973bc3caac209cba903cfdb3bf6636bcd","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4860"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Fri, 21 Jan 2011 19:23:58 GMT"], "Etag":["\"8763d4bc5700e1aa36cd5212da8eedf7\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"sha\":\"3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"commit\":{\"author\":{\"name\":\"toby cabot\",\"email\":\"toby@caboteria.org\",\"date\":\"2011-01-21T19:23:58Z\"},\"committer\":{\"name\":\"toby cabot\",\"email\":\"toby@caboteria.org\",\"date\":\"2011-01-21T19:23:58Z\"},\"message\":\"Merge branch '3pp_history'\",\"tree\":{\"sha\":\"53b3d8ade2ae5721e10bcd643a83e6b01c06462c\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/53b3d8ade2ae5721e10bcd643a83e6b01c06462c\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/3cdfabd973bc3caac209cba903cfdb3bf6636bcd/comments\",\"author\":{\"login\":\"caboteria\",\"id\":85106,\"avatar_url\":\"https://gravatar.com/avatar/e381ef5e90b6ed2bd5082a9a463cea3b?d=https%3A%2F%2Fidenticons.github.com%2F55227490325309e34291c4cc92204a69.png&r=x\",\"gravatar_id\":\"e381ef5e90b6ed2bd5082a9a463cea3b\",\"url\":\"https://api.github.com/users/caboteria\",\"html_url\":\"https://github.com/caboteria\",\"followers_url\":\"https://api.github.com/users/caboteria/followers\",\"following_url\":\"https://api.github.com/users/caboteria/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/caboteria/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/caboteria/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/caboteria/subscriptions\",\"organizations_url\":\"https://api.github.com/users/caboteria/orgs\",\"repos_url\":\"https://api.github.com/users/caboteria/repos\",\"events_url\":\"https://api.github.com/users/caboteria/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/caboteria/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"caboteria\",\"id\":85106,\"avatar_url\":\"https://gravatar.com/avatar/e381ef5e90b6ed2bd5082a9a463cea3b?d=https%3A%2F%2Fidenticons.github.com%2F55227490325309e34291c4cc92204a69.png&r=x\",\"gravatar_id\":\"e381ef5e90b6ed2bd5082a9a463cea3b\",\"url\":\"https://api.github.com/users/caboteria\",\"html_url\":\"https://github.com/caboteria\",\"followers_url\":\"https://api.github.com/users/caboteria/followers\",\"following_url\":\"https://api.github.com/users/caboteria/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/caboteria/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/caboteria/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/caboteria/subscriptions\",\"organizations_url\":\"https://api.github.com/users/caboteria/orgs\",\"repos_url\":\"https://api.github.com/users/caboteria/repos\",\"events_url\":\"https://api.github.com/users/caboteria/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/caboteria/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"a865e72344359f766b3ab03d3075c65798719ddd\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/a865e72344359f766b3ab03d3075c65798719ddd\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/a865e72344359f766b3ab03d3075c65798719ddd\"},{\"sha\":\"a0857d80960ad9ac543e1d2d38f23b04634f0109\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/a0857d80960ad9ac543e1d2d38f23b04634f0109\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/a0857d80960ad9ac543e1d2d38f23b04634f0109\"}],\"stats\":{\"total\":648,\"additions\":329,\"deletions\":319},\"files\":[{\"sha\":\"2247b418ad5d89ae7c4c7fd8be04098c90111fb2\",\"filename\":\"app/controllers/rails_admin/application_controller.rb\",\"status\":\"modified\",\"additions\":18,\"deletions\":0,\"changes\":18,\"blob_url\":\"https://github.com/sferik/rails_admin/blob/3cdfabd973bc3caac209cba903cfdb3bf6636bcd/app/controllers/rails_admin/application_controller.rb\",\"raw_url\":\"https://github.com/sferik/rails_admin/raw/3cdfabd973bc3caac209cba903cfdb3bf6636bcd/app/controllers/rails_admin/application_controller.rb\",\"contents_url\":\"https://api.github.com/repos/sferik/rails_admin/contents/app/controllers/rails_admin/application_controller.rb?ref=3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"patch\":\"@@ -8,6 +8,24 @@ class ApplicationController < ::ApplicationController\\n \\n     helper_method :_current_user\\n \\n+    def get_model\\n+      model_name = to_model_name(params[:model_name])\\n+      @abstract_model = RailsAdmin::AbstractModel.new(model_name)\\n+      @model_config = RailsAdmin.config(@abstract_model)\\n+      not_found if @model_config.excluded?\\n+      @properties = @abstract_model.properties\\n+    end\\n+\\n+    def to_model_name(param)\\n+      param.split(\\\"::\\\").[...]
