{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/search/users?per_page=1&q=user:joeyw%20user:pengwynn%20user:sferik","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5"], "X-Ratelimit-Remaining":["4"], "X-Ratelimit-Reset":["1389455483"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/search/users?q=user%3Ajoeyw+user%3Apengwynn+user%3Asferik&per_page=1&page=2>; rel=\"next\", <https://api.github.com/search/users?q=user%3Ajoeyw+user%3Apengwynn+user%3Asferik&per_page=1&page=3>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"{\"total_count\":3,\"items\":[{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false,\"score\":1.0}]}"},"http_version":null},"recorded_at":"Sat, 11 Jan 2014 15:50:23 GMT"},{"request":{"method":"get","uri":"https://api.github.com/search/users?page=2&per_page=1&q=user:joeyw%20user:pengwynn%20user:sferik","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5"], "X-Ratelimit-Remaining":["3"], "X-Ratelimit-Reset":["1389455483"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/sear[...]
[...]
