{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/67/commits","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4410"], "X-Ratelimit-Reset":["1389606162"], "Last-Modified":["Thu, 02 Jan 2014 02:10:58 GMT"], "Etag":["\"2809acca4d28e19e1de83633909df969\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"commit\":{\"author\":{\"name\":\"Koichiro Ohba\",\"email\":\"koichiro@meadowy.org\",\"date\":\"2012-01-31T10:47:47Z\"},\"committer\":{\"name\":\"Koichiro Ohba\",\"email\":\"koichiro@meadowy.org\",\"date\":\"2012-01-31T10:47:47Z\"},\"message\":\"Added new paramater for github_url\\n\\nSupport github alternative sites.\\nfor example: github:enterprise https://enterprise.github.com/\",\"tree\":{\"sha\":\"72bebc0a0a87b11b7ce4f1b766d2af375fc4cc24\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/trees/72bebc0a0a87b11b7ce4f1b766d2af375fc4cc24\"},\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits/2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"html_url\":\"https://github.com/octokit/octokit.rb/commit/2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"comments_url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/2097821c7c5aa4dc02a2cc54d5ca51968b373f95/comments\",\"author\":{\"login\":\"koichiro\",\"id\":9646,\"avatar_url\":\"https://gravatar.com/avatar/1ce18b10bd8f911566c5577042b6a44c?d=https%3A%2F%2Fidenticons.github.com%2F409bbd0d0f516a326f2080c26a10d530.png&r=x\",\"gravatar_id\":\"1ce18b10bd8f911566c5577042b6a44c\",\"url\":\"https://api.github.com/users/koichiro\",\"html_url\":\"https://github.com/koichiro\",\"followers_url\":\"https://api.github.com/users/koichiro/followers\",\"following_url\":\"https://api.github.com/users/koichiro/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/koichiro/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/koichiro/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/koichiro/subscriptions\",\"organizations_url\":\"https://api.github.com/users/koichiro/orgs\",\"repos_url\":\"https://api.github.com/users/koichiro/repos\",\"events_url\":\"https://api.github.com/users/koichiro/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/koichiro/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"koichiro\",\"id\":9646,\"avatar_url\":\"https://gravatar.com/avatar/1ce18b10bd8f911566c5577042b6a44c?d=https%3A%2F%2Fidenticons.github.com%2F409bbd0d0f516a326f2080c26a10d530.png&r=x\",\"gravatar_id\":\"1ce18b10bd8f911566c5577042b6a44c\",\"url\":\"https://api.github.com/users/koichiro\",\"html_url\":\"https://github.com/koichiro\",\"followers_url\":\"https://api.github.com/users/koichiro/followers\",\"following_url\":\"https://api.github.com/users/koichiro/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/koichiro/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/koichiro/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/koichiro/subscriptions\",\"organizations_url\":\"https://api.github.com/users/koichiro/orgs\",\"repos_url\":\"https://api.github.com/users/koichiro/repos\",\"events_url\":\"https://api.github.com/users/koichiro/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/koichiro/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"9c5d4c76b42f535bc796f46d0bf7a5526b6066bb\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/9c5d4c76b42f535bc796f46d0bf7a5526b6066bb\",\"html_url\":\"https://github.com/octokit/octokit.rb/commit/9c5d4c76b42f535bc796f46d0bf7a5526b6066bb\"}]}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 09:34:30 GMT"}],"recorded_with":"VCR 2.4.0"}