{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/repos/octokit/octokit.rb/topics","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lcyI6WyJvY3RvY2F0IiwiZ2l0aHViIiwiZ2l0aHViLWFwaSJdfQ==\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1533601052"], "Etag":["W/\"6b52d148e0b7b03d53fe018cf4554962\""], "X-Oauth-Scopes":["repo"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.mercy-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJuYW1lcyI6WyJvY3RvY2F0IiwiZ2l0aHViIiwiZ2l0aHViLWFwaSJdfQ==\n"},"http_version":null},"recorded_at":"Mon, 06 Aug 2018 23:17:33 GMT"}],"recorded_with":"VCR 3.0.3"}