{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/github/public_members/pengwynn","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4761"], "X-Ratelimit-Reset":["1394236515"], "X-Oauth-Scopes":["gist, repo, user, write:org"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 23:55:08 GMT"}],"recorded_with":"VCR 2.8.0"}