{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/<GITHUB_TEAM_ID>/memberships/<GITHUB_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1536613529"], "Etag":["W/\"cb7a3f06c01d6b1c54e55e4832483558\""], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJzdGF0ZSI6ImFjdGl2ZSIsInJvbGUiOiJtYWludGFpbmVyIiwidXJsIjoi\naHR0cHM6Ly9hcGkuZ2l0aHViLmNvbS90ZWFtcy88R0lUSFVCX1RFQU1fSUQ+\nL21lbWJlcnNoaXBzLzxHSVRIVUJfTE9HSU4+In0=\n"},"http_version":null},"recorded_at":"Mon, 10 Sep 2018 20:05:29 GMT"}],"recorded_with":"VCR 3.0.3"}