{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/946194/memberships/<GITHUB_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1407177624"], "Etag":["\"5e835dd2bab8125f11e838b61c8d8fa8\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.the-wasp-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiJhY3RpdmUiLCJ1cmwiOiJodHRwczovL2FwaS5naXRodWIu\nY29tL3RlYW1zLzk0NjE5NC9tZW1iZXJzaGlwcy88R0lUSFVCX0xPR0lOPiJ9\n"},"http_version":null},"recorded_at":"Mon, 04 Aug 2014 17:45:10 GMT"}],"recorded_with":"VCR 2.9.2"}