{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?since=2011-01-20T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4875"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sat, 11 Jan 2014 13:49:56 GMT"], "Etag":["\"d57c77233c0844c8e0ac8347bbefef88\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/commits?since=2011-01-20T00%3A00%3A00%2B00%3A00&top=master&last_sha=29d60f15edb824ad5fcb000cad5df74629ee856a>; rel=\"next\", <https://api.github.com/repositories/810796/commits?since=2011-01-20T00%3A00%3A00%2B00%3A00&sha=master>; rel=\"first\""]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"94ef72fdf9fa01fd90b363130de3ce3cd03426d3\",\"commit\":{\"author\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2014-01-11T13:34:48Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2014-01-11T13:49:56Z\"},\"message\":\"Replace personal Gittip link with gem team [ci skip]\",\"tree\":{\"sha\":\"fee2a399df26c0bec555bf652209a2ec47e6486a\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/fee2a399df26c0bec555bf652209a2ec47e6486a\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/94ef72fdf9fa01fd90b363130de3ce3cd03426d3\",\"comment_count\":3},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/94ef72fdf9fa01fd90b363130de3ce3cd03426d3\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/94ef72fdf9fa01fd90b363130de3ce3cd03426d3\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/94ef72fdf9fa01fd90b363130de3ce3cd03426d3/comments\",\"author\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"1bd3805f41a1d3b47751a7ac8c2124b7fe656c58\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/1bd3805f41a1d3b47751a7ac8c2124b7fe656c58\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/1bd3805f41a1d3b47751a7ac8c2124b7fe656c58\"}]},{\"sha\":\"1bd3805f41a1d3b47751a7ac8c2124b7fe656c58\",\"commit\":{\"author\":{\"name\":\"M.Shibuya\",\"email\":\"mit.shibuya@gmail.com\",\"date\":\"2014-01-08T09:14:44Z\"},\"committer\":{\"name\":\"M.Shibuya\",\"email\":\"mit.shib[...]
