{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/octokit/octokit.rb/subscription","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4933"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 18:32:15 GMT"}],"recorded_with":"VCR 2.4.0"}