{"http_interactions":[{"request":{"method":"post","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/authorizations","body":{"encoding":"UTF-8","string":"{}"},"headers":{}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4880"], "X-Ratelimit-Reset":["1389662322"], "Etag":["\"94bdd2f434c309bb60f9967b11afe5c5\""], "Location":["https://api.github.com/authorizations/5234702"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"id\":5234702,\"url\":\"https://api.github.com/authorizations/5234702\",\"app\":{\"name\":\"GitHub API\",\"url\":\"http://developer.github.com/v3/oauth/#oauth-authorizations-api\",\"client_id\":\"00000000000000000000\"},\"token\":\"<<ACCESS TOKEN>>\",\"note\":null,\"note_url\":null,\"created_at\":\"2014-01-14T00:55:16Z\",\"updated_at\":\"2014-01-14T00:55:16Z\",\"scopes\":[]}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:55:16 GMT"},{"request":{"method":"get","uri":"https://api.github.com/user","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4879"], "X-Ratelimit-Reset":["1389662322"], "Last-Modified":["Mon, 13 Jan 2014 18:04:08 GMT"], "Etag":["\"d67788293b967d25c061f1406f8b590f\""], "X-Oauth-Scopes":[""], "X-Accepted-Oauth-Scopes":["user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":null,\"location\":\"San Francisco, CA\",\"email\":null,\"hireable\":false,\"bio\":null,\"public_repos\":0,\"public_gists\":168,\"followers\":0,\"following\":0,\"created_at\":\"2014-01-08T14:40:41Z\",\"updated_at\":\"2014-01-13T18:04:08Z\"}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:55:17 GMT"},{"request":{"method":"delete","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/authorizations/5234702","body":{"encoding":"UTF-8","string":"{}"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4878"], "X-Ratelimit-Reset":["1389662322"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:55:17 GMT"}],"recorded_with":"VCR 2.4.0"}