{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://api.github.com/orgs/random-org-to-be-deleted",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Oauth-Scopes": [
            "admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:org"
          ],
          "Github-Authentication-Token-Expiration": [
            "2023-04-26 23:27:37 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4996"
          ],
          "X-Ratelimit-Reset": [
            "1679676295"
          ],
          "X-Ratelimit-Used": [
            "4"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "e30=\n"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 16:19:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}