{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/user/following/pengwynn","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 22:07:31 GMT"}],"recorded_with":"VCR 2.4.0"}