{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/790381","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["56"], "X-Ratelimit-Reset":["1389662319"], "Last-Modified":["Mon, 13 Jan 2014 20:53:56 GMT"], "Etag":["\"efb370be5c55b62bd48c1abb1b70088f\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/gists/790381\",\"forks_url\":\"https://api.github.com/gists/790381/forks\",\"commits_url\":\"https://api.github.com/gists/790381/commits\",\"id\":\"790381\",\"git_pull_url\":\"https://gist.github.com/790381.git\",\"git_push_url\":\"https://gist.github.com/790381.git\",\"html_url\":\"https://gist.github.com/790381\",\"files\":{\"defleppard.rb\":{\"filename\":\"defleppard.rb\",\"type\":\"application/ruby\",\"language\":\"Ruby\",\"raw_url\":\"https://gist.github.com/jmccartie/790381/raw/e0a37979c32c3bdc139d6912ae338de723e6a8c3/defleppard.rb\",\"size\":52,\"content\":\"def leppard(shotgun)\\n   shotgun ? shoot : !shoot\\nend\"}},\"public\":true,\"created_at\":\"2011-01-21T20:41:26Z\",\"updated_at\":\"2011-01-21T20:41:42Z\",\"description\":\"\",\"comments\":1,\"user\":null,\"comments_url\":\"https://api.github.com/gists/790381/comments\",\"owner\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https%3A%2F%2Fidenticons.github.com%2Feb254acd8fe568f73d5f4b99d71e6511.png&r=x\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https%3A%2F%2Fidenticons.github.com%2Feb254acd8fe568f73d5f4b99d71e6511.png&r=x\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"433ca9ed2febc4423d91d4191446e09c38f6841e\",\"committed_at\":\"2011-01-21T20:41:42Z\",\"change_status\":{\"total\":2,\"additions\":1,\"deletions\":1},\"url\":\"https://api.github.com/gists/790381/433ca9ed2febc4423d91d4191446e09c38f6841e\"},{\"user\":{\"login\":\"jmccartie\",\"id\":133393,\"avatar_url\":\"https://gravatar.com/avatar/544e2e76286098a2c64c3638401d2191?d=https%3A%2F%2Fidenticons.github.com%2Feb254acd8fe568f73d5f4b99d71e6511.png&r=x\",\"gravatar_id\":\"544e2e76286098a2c64c3638401d2191\",\"url\":\"https://api.github.com/users/jmccartie\",\"html_url\":\"https://github.com/jmccartie\",\"followers_url\":\"https://api.github.com/users/jmccartie/followers\",\"following_url\":\"https://api.github.com/users/jmccartie/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jmccartie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jmccartie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jmccartie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jmccartie/orgs\",\"repos_url\":\"https://api.github.com/users/jmccartie/repos\",\"events_url\":\"https://api.github.com/users/jmccartie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jmccartie/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"12e53275c298ab759fa38a1f4980a4aa0556593f\",\"committed_at\":\"2011-01-21T20:41:26Z\",\"change_status\":{\"total\":3,\"additions\":3,\"deletions\":0},\"url\":\"https://api.github.com/gists/790381/12e53275c298ab759fa38a1f4980a4aa0556593f\"}]}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:18:41 GMT"}],"recorded_with":"VCR 2.4.0"}