{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/installations/<GITHUB_TEST_INTEGRATION_INSTALLATION>/access_tokens","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <JWT_BEARER_TOKEN>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "Etag":["\"83917a71bf249be99ee77175bb60d68b\""], "X-Github-Media-Type":["github.machine-man-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ0b2tlbiI6InYxLjFhNTk3NDc0ZDE5ODExM2FjYWJjMGJjNGU1NDRmMGNl\nYTAyMTM5MDkiLCJleHBpcmVzX2F0IjoiMjAxNy0wMy0wNlQyMzoxNzo0N1oi\nfQ==\n"},"http_version":null},"recorded_at":"Mon, 06 Mar 2017 22:17:47 GMT"}],"recorded_with":"VCR 2.9.3"}