{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/laserlemon/octokit-test-repo/commits/58729b0c56c372e71494aa7f26014d24dcbc691e/check-runs?status=completed","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1547675989"], "Etag":["W/\"2f2ffa74fd03b41a098acec5b00db4b3\""], "X-Github-Media-Type":["github.antiope-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MCwiY2hlY2tfcnVucyI6W119\n"},"http_version":null},"recorded_at":"Wed, 16 Jan 2019 21:39:14 GMT"}],"recorded_with":"VCR 4.0.0"}