{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/forks","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["53"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"6e72d04bf68648df77667237a819f977\""], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/forks?page=2>; rel=\"next\", <https://api.github.com/repositories/810796/forks?page=38>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":16035102,\"name\":\"rails_admin\",\"full_name\":\"tornadoway/rails_admin\",\"owner\":{\"login\":\"tornadoway\",\"id\":1539799,\"avatar_url\":\"https://gravatar.com/avatar/11b3e093d5f987ae597111848f8ee124?d=https%3A%2F%2Fidenticons.github.com%2Fceeae2cba82173aa1a50f08a5247635e.png&r=x\",\"gravatar_id\":\"11b3e093d5f987ae597111848f8ee124\",\"url\":\"https://api.github.com/users/tornadoway\",\"html_url\":\"https://github.com/tornadoway\",\"followers_url\":\"https://api.github.com/users/tornadoway/followers\",\"following_url\":\"https://api.github.com/users/tornadoway/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/tornadoway/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/tornadoway/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/tornadoway/subscriptions\",\"organizations_url\":\"https://api.github.com/users/tornadoway/orgs\",\"repos_url\":\"https://api.github.com/users/tornadoway/repos\",\"events_url\":\"https://api.github.com/users/tornadoway/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/tornadoway/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/tornadoway/rails_admin\",\"description\":\"RailsAdmin is a Rails engine that provides an easy-to-use interface for managing your data\",\"fork\":true,\"url\":\"https://api.github.com/repos/tornadoway/rails_admin\",\"forks_url\":\"https://api.github.com/repos/tornadoway/rails_admin/forks\",\"keys_url\":\"https://api.github.com/repos/tornadoway/rails_admin/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/tornadoway/rails_admin/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/tornadoway/rails_admin/teams\",\"hooks_url\":\"https://api.github.com/repos/tornadoway/rails_admin/hooks\",\"issue_events_url\":\"https://api.github.com/repos/tornadoway/rails_admin/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/tornadoway/rails_admin/events\",\"assignees_url\":\"https://api.github.com/repos/tornadoway/rails_admin/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/tornadoway/rails_admin/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/tornadoway/rails_admin/tags\",\"blobs_url\":\"https://api.github.com/repos/tornadoway/rails_admin/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/tornadoway/rails_admin/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/tornadoway/rails_admin/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/tornadoway/rails_admin/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/tornadoway/rails_admin/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/tornadoway/rails_admin/languages\",\"stargazers_url\":\"https://api.github.com/repos/tornadoway/rails_admin/stargazers\",\"contributors_url\":\"https://api.github.com/repos/tornadoway/rails_admin/contributors\",\"subscribers_url\":\"https://api.github.com/repos/tornadoway/rails_admin/subscribers\",\"subscription_url\":\"https://api.github.com/repos/tornadoway/rails_admin/subscription\",\"commits_url\":\"https://api.github.com/repos/tornadoway/rails_admin/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/tornadoway/rails_admin/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/tornadoway/rails_admin/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/tornadoway/rails_admin/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/tornadoway/rails_admin/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/tornadoway/rails_admin/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/tornadoway/rails_admin/merges\",\"archive_url\":\"https://api.github.com/repos/tornadoway/rails_admin/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/tornadoway/rails_admin/downloads\",\"issues_url\":\"https://api.github.com/repos/tornadoway/rails_admin/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/tornadoway/rails_admin/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/tornadoway/rails_admin/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/tornadoway/rails_admin/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/tornadoway/rails_admin/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/tornadoway/rails_admin/releases{/id}\",\"created_at\":\"2014-01-18T22:15:11Z\",\"updated_at\":\"2014-01-18T22:15:13Z\",\"pushed_at\":\"2014-01-16T11:12:12Z\",\"git_url\":\"git://github.com/tornadoway/rails_admin.git\",\"ssh_url\":\"git@github.com:tornadoway/rails_admin.git\",\"clone_url\":\"https://github.com/tornadoway/rails_admin.git\",\"svn_url\":\"https://github.com/tornadoway/rails_admin\",\"homepage\":\"\",\"size\":29200,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":false,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"},{\"id\":16020929,\"name\":\"rails_admin\",\"full_name\":\"just3ws/rails_admin\",\"owner\":{\"login\":\"just3ws\",\"id\":10436,\"avatar_url\":\"https://gravatar.com/avatar/c68e55b14f70fce96a8320a4ee47eb55?d=https%3A%2F%2Fidenticons.github.com%2F529ec1f7ea830a51f00dafb5b06cf091.png&r=x\",\"gravatar_id\":\"c68e55b14f70fce96a8320a4ee47eb55\",\"url\":\"https://api.github.com/users/just3ws\",\"html_url\":\"https://github.com/just3ws\",\"followers_url\":\"https://api.github.com/users/just3w[...]
