{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repositories/20974780/milestones","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4989"], "X-Ratelimit-Reset":["1458136785"], "Etag":["\"c9a8faa7f7428f573f578e0b9cda681d\""], "X-Oauth-Scopes":["read:org, repo, user:email"], "X-Accepted-Oauth-Scopes":["repo"], "X-Oauth-Client-Id":["dc500afa6f0e37967af5"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 16 Mar 2016 13:35:53 GMT"}],"recorded_with":"VCR 2.9.3"}