{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/git/tags/23aad20633f4d2981b1c7209a800db3014774e96","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4809"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sun, 12 Jan 2014 20:50:37 GMT"], "Etag":["\"cbf4fd54a2ab23aa4fccc24c930c6743\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"sha\":\"23aad20633f4d2981b1c7209a800db3014774e96\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/tags/23aad20633f4d2981b1c7209a800db3014774e96\",\"tagger\":{\"name\":\"Wynn Netherland\",\"email\":\"wynn.netherland@gmail.com\",\"date\":\"2012-06-04T00:03:11Z\"},\"object\":{\"sha\":\"f4cdf6eb734f32343ce3f27670c17b35f54fd82e\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits/f4cdf6eb734f32343ce3f27670c17b35f54fd82e\"},\"tag\":\"v1.4.0\",\"message\":\"Version 1.4.0\\n\"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 11:06:34 GMT"}],"recorded_with":"VCR 2.4.0"}