{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/labels","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4891"], "X-Ratelimit-Reset":["1389615104"], "Etag":["\"bb99093b7996c9ad7ae9ba7463db0b51\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/labels/V3+Transition\",\"name\":\"V3 Transition\",\"color\":\"02d7e1\"},{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"},{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\"},{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/labels/feature+request\",\"name\":\"feature request\",\"color\":\"0b02e1\"}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 12:00:17 GMT"}],"recorded_with":"VCR 2.4.0"}