{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/user/emails","body":{"encoding":"UTF-8","base64_string":"WyJ3eW5uLm5ldGhlcmxhbmQrYXBpdGVzdEBnbWFpbC5jb20iXQ==\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 25 Jun 2013 15:02:44 GMT"}],"recorded_with":"VCR 2.4.0"}