{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/issues/4/events?per_page=100","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4939"], "X-Ratelimit-Reset":["1475143315"], "Etag":["\"7517de3fff86abb83c0c65ed135909e0\""], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":["public_repo, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 29 Sep 2016 09:59:30 GMT"}],"recorded_with":"VCR 2.9.3"}