{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/subscribers","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["50"], "X-Ratelimit-Reset":["1390200555"], "Etag":["\"8a44e23d177c169534124db0dab90dbb\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"pengwynn\",\"id\":865,\"avatar_url\":\"https://gravatar.com/avatar/7e19cd5486b5d6dc1ef90e671ba52ae0?d=https%3A%2F%2Fidenticons.github.com%2F3b3dbaf68507998acd6a5a5254ab2d76.png&r=x\",\"gravatar_id\":\"7e19cd5486b5d6dc1ef90e671ba52ae0\",\"url\":\"https://api.github.com/users/pengwynn\",\"html_url\":\"https://github.com/pengwynn\",\"followers_url\":\"https://api.github.com/users/pengwynn/followers\",\"following_url\":\"https://api.github.com/users/pengwynn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pengwynn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pengwynn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pengwynn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pengwynn/orgs\",\"repos_url\":\"https://api.github.com/users/pengwynn/repos\",\"events_url\":\"https://api.github.com/users/pengwynn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pengwynn/received_events\",\"type\":\"User\",\"site_admin\":true},{\"login\":\"catsby\",\"id\":61721,\"avatar_url\":\"https://gravatar.com/avatar/dfb3948650131e4f0385c3328187cfca?d=https%3A%2F%2Fidenticons.github.com%2Fc2e9e9488cc6ebe3c2ad22f34a771d48.png&r=x\",\"gravatar_id\":\"dfb3948650131e4f0385c3328187cfca\",\"url\":\"https://api.github.com/users/catsby\",\"html_url\":\"https://github.com/catsby\",\"followers_url\":\"https://api.github.com/users/catsby/followers\",\"following_url\":\"https://api.github.com/users/catsby/following{/other_user}\",\"gis[...]
