{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/gists","body":{"encoding":"UTF-8","string":"{\"description\":\"A gist from Octokit\",\"public\":true,\"files\":{\"zen.text\":{\"content\":\"Keep it logically awesome.\"}}}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4538"], "X-Ratelimit-Reset":["1389539611"], "Etag":["\"b5a3e48adfc05a591742b7514bf2a4f1\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "Location":["https://api.github.com/gists/8385685"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/gists/8385685\",\"forks_url\":\"https://api.github.com/gists/8385685/forks\",\"commits_url\":\"https://api.github.com/gists/8385685/commits\",\"id\":\"8385685\",\"git_pull_url\":\"https://gist.github.com/8385685.git\",\"git_push_url\":\"https://gist.github.com/8385685.git\",\"html_url\":\"https://gist.github.com/8385685\",\"files\":{\"zen.text\":{\"filename\":\"zen.text\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/<GITHUB_LOGIN>/8385685/raw/fde0619cfe8ece129304af54eed78bf866287178/zen.text\",\"size\":26,\"content\":\"Keep it logically awesome.\"}},\"public\":true,\"created_at\":\"2014-01-12T15:02:06Z\",\"updated_at\":\"2014-01-12T15:02:06Z\",\"description\":\"A gist from Octokit\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8385685/comments\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"006a33d0bca29005d18e2fafd19b6620a0f09c18\",\"committed_at\":\"2014-01-12T15:02:06Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/8385685/006a33d0bca29005d18e2fafd19b6620a0f09c18\"}]}"},"http_version":null},"recorded_at":"Sun, 12 Jan 2014 15:02:06 GMT"},{"request":{"method":"post","uri":"https://api.github.com/gists/5421307/comments","body":{"encoding":"UTF-8","string":"{\"body\":\":metal:\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4537"], "X-Ratelimit-Reset":["1389539611"], "Etag":["\"ca79146f94fc2b0dc8bbc7d12e6ad0ba\""], "X-Oauth[...]
{"request":{"method":"get","uri":"https://api.github.com/gists/5421308/star","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4536"], "X-Ratelimit-Reset":["1389539611"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{}"},"http_version":null},"recorded_at":"Sun, 12 Jan 2014 15:02:07 GMT"}],"recorded_with":"VCR 2.4.0"}