{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/repos/Caja-de-Dano/active-wrapper/code-scanning/default-setup",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"4f62f5e8914ca80b26b9e7f6f9e7a86558f0b62b36cba50a06f3b67ec75dac3f\""
          ],
          "X-Oauth-Scopes": [
            "gist, read:org, repo, workflow"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:repo_hook, delete_repo, read:repo_hook, repo, repo:invite, repo:status, repo_deployment, security_events, write:repo_hook"
          ],
          "X-Oauth-Client-Id": [
            "178c6fc778ccc68e1d6a"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4975"
          ],
          "X-Ratelimit-Reset": [
            "1717135450"
          ],
          "X-Ratelimit-Used": [
            "25"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJzdGF0ZSI6ImNvbmZpZ3VyZWQiLCJsYW5ndWFnZXMiOlsicHl0aG9uIl0s\nInF1ZXJ5X3N1aXRlIjoiZGVmYXVsdCIsInVwZGF0ZWRfYXQiOiIyMDI0LTA1\nLTMxVDA1OjQ5OjIwWiIsInNjaGVkdWxlIjoid2Vla2x5In0=\n"
        }
      },
      "recorded_at": "Fri, 31 May 2024 05:52:54 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}