{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/vulnerability-alerts","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Oauth-Scopes":["admin:org, admin:repo_hook, delete_repo, repo"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.dorian-preview; format=json"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4963"], "X-Ratelimit-Reset":["1605875255"], "X-Ratelimit-Used":["37"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 20 Nov 2020 11:50:32 GMT"}],"recorded_with":"VCR 5.1.0"}