{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/hooks","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4911"], "X-Ratelimit-Reset":["1594157828"], "Etag":["\"d0e3ca78851daae6598096beef4646e8\""], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":["admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Tue, 07 Jul 2020 20:37:39 GMT"}],"recorded_with":"VCR 5.1.0"}