{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos","body":{"encoding":"UTF-8","base64_string":"eyJhdXRvX2luaXQiOnRydWUsIm5hbWUiOiJ0ZXN0LXJlcG8tYzc2NjBjZDk4\nYzhkIn0=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["59"], "X-Ratelimit-Reset":["1568782339"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Wed, 18 Sep 2019 03:52:19 GMT"}],"recorded_with":"VCR 4.0.0"}