{"http_interactions":[{"request":{"method":"post","uri":"https://enterprise.github.dev/staff/indexing_jobs","body":{"encoding":"UTF-8","base64_string":"eyJ0YXJnZXQiOiJub3QtYS1yZWFsLXRhcmdldC8qIn0=\n"},"headers":{"Authorization":["token <<ENTERPRISE_ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiVW5rbm93biB1c2VyIFwibm90LWEtcmVhbC10YXJnZXRc\nIiJ9\n"},"http_version":null},"recorded_at":"Fri, 20 Dec 2013 08:30:56 GMT"}],"recorded_with":"VCR 2.4.0"}