{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/assignees/andrew","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["57"], "X-Ratelimit-Reset":["1390200555"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"message\":\"Not Found\",\"documentation_url\":\"http://developer.github.com/v3\"}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:17 GMT"}],"recorded_with":"VCR 2.4.0"}