{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/applications/<GITHUB_CLIENT_ID>/tokens/brokentoken","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["53"], "X-Ratelimit-Reset":["1390360940"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwOi8vZGV2ZWxvcGVyLmdpdGh1Yi5jb20vdjMifQ==\n"},"http_version":null},"recorded_at":"Wed, 22 Jan 2014 02:31:45 GMT"}],"recorded_with":"VCR 2.4.0"}