{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/meta","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4099"], "X-Ratelimit-Reset":["1389465806"], "Etag":["\"2db7feca6f2e9aa733ee25faf3a9db13\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"verifiable_password_authentication\":true,\"hooks\":[\"192.30.252.0/22\"],\"git\":[\"192.30.252.0/22\"]}"},"http_version":null},"recorded_at":"Sat, 11 Jan 2014 18:31:14 GMT"}],"recorded_with":"VCR 2.4.0"}