{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/pingwynn/stats/code_frequency","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4994"], "X-Ratelimit-Reset":["1389742411"], "Etag":["\"ec128e3cf4182ffb3d7ed73db513086b\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[[1376179200,25,-5],[1376784000,32,0],[1377388800,0,0],[1377993600,0,0],[1378598400,0,0],[1379203200,0,0],[1379808000,0,0],[1380412800,2,-1],[1381017600,0,0],[1381622400,0,0],[1382227200,0,0],[1382832000,0,0],[1383436800,5,-4],[1384041600,0,0],[1384646400,0,0],[1385251200,0,0],[1385856000,7,-6],[1386460800,0,0],[1387065600,0,0],[1387670400,4,-2],[1388275200,0,0],[1388880000,0,0],[1389484800,0,0]]"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 22:34:47 GMT"}],"recorded_with":"VCR 2.4.0"}
