{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/migrations/97/repos/api-playground/lock","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4743"], "X-Ratelimit-Reset":["1438136523"], "X-Oauth-Scopes":["admin:org, gist, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.wyandotte-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Wed, 29 Jul 2015 01:49:46 GMT"}],"recorded_with":"VCR 2.9.3"}