{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/dependabot/secrets/public-key",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"82a59d6697d13141de5dfd5ccbe52297df5e98a6302ca98d0c7ce0fb0d4e8591\""
          ],
          "X-Oauth-Scopes": [
            "admin:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:org"
          ],
          "Github-Authentication-Token-Expiration": [
            "2024-01-11 18:57:19 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4998"
          ],
          "X-Ratelimit-Reset": [
            "1704398283"
          ],
          "X-Ratelimit-Used": [
            "2"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJrZXlfaWQiOiIxODI3NTUxOTM5NTcwNjI4NTM3Iiwia2V5IjoiOU1Zc0Zx\nb3dTS09iRmpVc2JlUWxYaGdJTEVjOENpc1J1dXU3NHcxV1FEVT0ifQ==\n"
        }
      },
      "recorded_at": "Thu, 04 Jan 2024 19:00:08 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}