{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/notifications","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4991"], "X-Poll-Interval":["60"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 15:07:40 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/notifications","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1394219742"], "Etag":["\"8a58eaecd61cf9bb900c230ebbb867d3\""], "X-Poll-Interval":["60"], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 18:54:52 GMT"}],"recorded_with":"VCR 2.8.0"}