{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?since=2011-01-20T00:00:00%2B00:00&until=2013-01-20T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4872"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sat, 19 Jan 2013 22:17:35 GMT"], "Etag":["\"f869b95608f6d16813410a2a954a1bad\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/commits?since=2011-01-20T00%3A00%3A00%2B00%3A00&until=2013-01-20T00%3A00%3A00%2B00%3A00&top=master&last_sha=cee9a893e9fd84d0591e61937c6e662d104ea96a>; rel=\"next\", <https://api.github.com/repositories/810796/commits?since=2011-01-20T00%3A00%3A00%2B00%3A00&until=2013-01-20T00%3A00%3A00%2B00%3A00&sha=master>; rel=\"first\""]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"f670d93e5a66208b16e31cfbf9f1a7ae2e88d025\",\"commit\":{\"author\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2013-01-19T22:17:35Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2013-01-19T22:17:35Z\"},\"message\":\"HTTP Pledgie badge [ci skip]\",\"tree\":{\"sha\":\"71f8fcae1a47b6a6fed72520cd138a5d53d6b549\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/71f8fcae1a47b6a6fed72520cd138a5d53d6b549\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/f670d93e5a66208b16e31cfbf9f1a7ae2e88d025\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/f670d93e5a66208b16e31cfbf9f1a7ae2e88d025\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/f670d93e5a66208b16e31cfbf9f1a7ae2e88d025\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/f670d93e5a66208b16e31cfbf9f1a7ae2e88d025/comments\",\"author\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"2e89b16d8d02bcd4a9bb1acfb495060e910d327d\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/2e89b16d8d02bcd4a9bb1acfb495060e910d327d\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/2e89b16d8d02bcd4a9bb1acfb495060e910d327d\"}]},{\"sha\":\"2e89b16d8d02bcd4a9bb1acfb495060e910d327d\",\"commit\":{\"author\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2013-01-19T22:02:23Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\"email[...]
