{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/teams","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4989"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"d9b805c471581b4f52646dda09369e70\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["read:org, write:org, admin:org, repo, user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"name\":\"Owners\",\"id\":634151,\"slug\":\"owners\",\"permission\":\"admin\",\"url\":\"https://api.github.com/teams/634151\",\"members_url\":\"https://api.github.com/teams/634151/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/634151/repos\",\"members_count\":1,\"repos_count\":19,\"organization\":{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>\",\"repos_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/events\",\"members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/public_members{/member}\",\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"public_repos\":19,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"created_at\":\"2014-01-11T06:48:31Z\",\"updated_at\":\"2014-01-13T22:42:05Z\",\"type\":\"Organization\"}}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:32 GMT"}],"recorded_with":"VCR 2.4.0"}