{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_LOGIN>.github.io/pages/builds","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4905"], "X-Ratelimit-Reset":["1571188427"], "Etag":["\"15472a8b3883f446041490f7e05c73c9\""], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":[""], "Location":["https://api.github.com/repositories/212936921/pages/builds/latest"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiJxdWV1ZWQiLCJ1cmwiOiJodHRwczovL2FwaS5naXRodWIu\nY29tL3JlcG9zaXRvcmllcy8yMTI5MzY5MjEvcGFnZXMvYnVpbGRzL2xhdGVz\ndCJ9\n"},"http_version":null},"recorded_at":"Wed, 16 Oct 2019 00:15:05 GMT"}],"recorded_with":"VCR 4.0.0"}