{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/pages/builds","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4974"], "X-Ratelimit-Reset":["1477206631"], "Etag":["\"027fd5762767c67526942449e705dd9e\""], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":[""], "Location":["https://api.github.com/repositories/71685143/pages/builds/latest"], "X-Github-Media-Type":["github.mister-fantastic-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiJxdWV1ZWQiLCJ1cmwiOiJodHRwczovL2FwaS5naXRodWIu\nY29tL3JlcG9zaXRvcmllcy83MTY4NTE0My9wYWdlcy9idWlsZHMvbGF0ZXN0\nIn0=\n"},"http_version":null},"recorded_at":"Sun, 23 Oct 2016 06:11:33 GMT"}],"recorded_with":"VCR 2.9.3"}