{"http_interactions":[{"request":{"method":"patch","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>","body":{"encoding":"UTF-8","string":"{\"organization\":{\"name\":\"API Playground\"}}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4994"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"4e977b0e46c338c1ba64b0b441038b2a\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>\",\"repos_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/events\",\"members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/public_members{/member}\",\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"public_repos\":19,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"created_at\":\"2014-01-11T06:48:31Z\",\"updated_at\":\"2014-01-13T22:42:05Z\",\"type\":\"Organization\",\"total_private_repos\":0,\"owned_private_repos\":0,\"private_gists\":0,\"disk_usage\":0,\"collaborators\":0,\"billing_email\":\"joeydotw+<GITHUB_TEST_ORGANIZATION>@gmail.com\",\"plan\":{\"name\":\"free\",\"space\":307200,\"private_repos\":0}}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:29 GMT"}],"recorded_with":"VCR 2.4.0"}