{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/teams","body":{"encoding":"UTF-8","string":"{\"name\":\"Test Team 1389654529.361608\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4945"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"6055849d64d935188ecc094fc6aac615\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "Location":["https://api.github.com/teams/<ORGANIZATION_TEAM_ID>"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"Test Team 1389654529.361608\",\"id\":<ORGANIZATION_TEAM_ID>,\"slug\":\"test-team-1389654529-361608\",\"permission\":\"pull\",\"url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>\",\"members_url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>/members{/member}\",\"repositories_url\":\"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>/repos\",\"members_count\":0,\"repos_count\":0,\"organization\":{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>\",\"repos_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/events\",\"members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/public_members{/member}\",\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"public_repos\":19,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"created_at\":\"2014-01-11T06:48:31Z\",\"updated_at\":\"2014-01-13T23:08:49Z\",\"type\":\"Organization\"}}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:49 GMT"},{"request":{"method":"post","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/repos","body":{"encoding":"UTF-8","string":"{\"name\":\"<GITHUB_TEST_REPOSITORY>-1389654529.744245\"}"},"headers":{}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4944"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"8b881722903006f7750689016b67b3fb\""], "Location":["https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"id\":15885171,\"name\":\"<GITHUB_TEST_REPOSITORY>-1389654529.744245\",\"full_name\":\"<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245\",\"owner\":{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"gravatar_id\":null,\"url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>\",\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245\",\"forks_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245/releases{/id}\",\"created_at\":\"2014-01-13T23:08:50Z\",\"updated_at\":\"2014-01-13T23:08:50Z\",\"pushed_at\":\"2014-01-13T23:08:50Z\",\"git_url\":\"git://github.com/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245.git\",\"ssh_url\":\"git@github.com:<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245.git\",\"clone_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245.git\",\"svn_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"organization\":{\"login\":\"<GITHUB_TEST_ORGANIZATION>\",\"id\":6374841,\"avatar_url\":\"https://identicons.github.com/4c1ea9c91c35336b05f740dfdaf79b74.png\",\"gravatar_id\":null,\"url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>\",\"html_url\":\"https://github.com/<GITHUB_TEST_ORGANIZATION>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_TEST_ORGANIZATION>/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"network_count\":0,\"subscribers_count\":1}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:50 GMT"},{"request":{"method":"put","uri":"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245","body":{"encoding":"UTF-8","string":"{\"name\":\"<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4943"], "X-Ratelimit-Reset":["1389658107"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:50 GMT"},[...]
{"request":{"method":"delete","uri":"https://<GITHUB_LOGIN>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_TEST_ORGANIZATION>/<GITHUB_TEST_REPOSITORY>-1389654529.744245","body":{"encoding":"UTF-8","string":"{}"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4941"], "X-Ratelimit-Reset":["1389658107"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:51 GMT"},{"request":{"method":"delete","uri":"https://api.github.com/teams/<ORGANIZATION_TEAM_ID>","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4940"], "X-Ratelimit-Reset":["1389658107"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:51 GMT"}],"recorded_with":"VCR 2.4.0"}