{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/search/repositories?order=desc&q=tetris%20language:assembly&sort=stars","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["20"], "X-Ratelimit-Remaining":["15"], "X-Ratelimit-Reset":["1389451525"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/search/repositories?sort=stars&order=desc&q=tetris+language%3Aassembly&page=2>; rel=\"next\", <https://api.github.com/search/repositories?sort=stars&order=desc&q=tetris+language%3Aassembly&page=3>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"{\"total_count\":77,\"items\":[{\"id\":4731946,\"name\":\"tetris-c64\",\"full_name\":\"cjauvin/tetris-c64\",\"owner\":{\"login\":\"cjauvin\",\"id\":488992,\"avatar_url\":\"https://gravatar.com/avatar/58ce85efba210120fb040e34cc445103?d=https%3A%2F%2Fidenticons.github.com%2F94715899228df30b65dae083d3a07e6f.png&r=x\",\"gravatar_id\":\"58ce85efba210120fb040e34cc445103\",\"url\":\"https://api.github.com/users/cjauvin\",\"html_url\":\"https://github.com/cjauvin\",\"followers_url\":\"https://api.github.com/users/cjauvin/followers\",\"following_url\":\"https://api.github.com/users/cjauvin/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cjauvin/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cjauvin/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cjauvin/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cjauvin/orgs\",\"repos_url\":\"https://api.github.com/users/cjauvin/repos\",\"events_url\":\"https://api.github.com/users/cjauvin/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cjauvin/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/cjauvin/tetris-c64\",\"description\":\"A stripped down Tetris clone for the C64, in 6502 assembly\",\"fork\":false,\"url\":\"https://api.github.com/repos/cjauvin/tetris-c64\",\"forks_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/forks\",\"keys_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/teams\",\"hooks_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/hooks\",\"issue_events_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/events\",\"assignees_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/tags\",\"blobs_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/languages\",\"stargazers_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/stargazers\",\"contributors_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/contributors\",\"subscribers_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/subscribers\",\"subscription_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/subscription\",\"commits_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/merges\",\"archive_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/downloads\",\"issues_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/cjauvin/tetris-c64/releases{/id}\",\"created_at\":\"2012-06-20T21:55:01Z\",\"updated_at\":\"2013-09-12T11:11:13Z\",\"pushed_at\":\"2012-07-01T00:38:14Z\",\"git_url\":\"git://github.com/cjauvin/tetris-c64.git\",\"ssh_url\":\"git@github.com:cjauvin/tetris-c64.git\",\"clone_url\":\"https://github.com/cjauvin/tetris-c64.git\",\"svn_url\":\"https://github.com/cjauvin/tetris-c64\",\"homepage\":\"\",\"size\":200,\"stargazers_count\":7,\"watchers_count\":7,\"language\":\"Assembly\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":7,\"default_branch\":\"master\",\"master_branch\":\"master\",\"score\":5.140822},{\"id\":9770879,\"name\":\"nand2tetris\",\"full_name\":\"jcoglan/nand2tetris\",\"owner\":{\"login\":\"jcoglan\",\"id\":9265,\"avatar_url\":\"https://gravatar.com/avatar/81eec7f220df03d5b8cadf106a2c14c5?d=https%3A%2F%2Fidenticons.github.com%2F2dd758690d1113777f254f9eae319874.png&r=x\",\"gravatar_id\":\"81eec7f220df03d5b8cadf106a2c14c5\",\"url\":\"https://api.github.com/users/jcoglan\",\"html_url\":\"https://github.com/jcoglan\",\"followers_url\":\"https://api.github.com/users/jcoglan/fo[...]
