{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/git/trees/3cdfabd973bc3caac209cba903cfdb3bf6636bcd","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4811"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Mon, 13 Jan 2014 06:53:02 GMT"], "Etag":["\"3c9a91883662e338fd5ea1f9f03f1753\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"sha\":\"3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/3cdfabd973bc3caac209cba903cfdb3bf6636bcd\",\"tree\":[{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"5efe0eb47a773fa6ea84a0bf190ee218b6a31ead\",\"path\":\".gitignore\",\"size\":279,\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/blobs/5efe0eb47a773fa6ea84a0bf190ee218b6a31ead\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"f5a48e7ea5d8c1068efbb2b5b39471447a892dd5\",\"path\":\".rspec\",\"size\":46,\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/blobs/f5a48e7ea5d8c1068efbb2b5b39471447a892dd5\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"80b49ec64346a5575f355af14a2616a83cdbf7e3\",\"path\":\".yardopts\",\"size\":57,\"url\":\"https://api[...]
