{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/codeforamerica/public_members","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4995"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"c03fa82c60e0227065dac4e72c6e6dde\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"Bob741\",\"id\":1091047,\"avatar_url\":\"https://gravatar.com/avatar/4435fc0b19925381196993376883c2b5?d=https%3A%2F%2Fidenticons.github.com%2F0c0f6727ea876f931e5d854a19d5d1bd.png&r=x\",\"gravatar_id\":\"4435fc0b19925381196993376883c2b5\",\"url\":\"https://api.github.com/users/Bob741\",\"html_url\":\"https://github.com/Bob741\",\"followers_url\":\"https://api.github.com/users/Bob741/followers\",\"following_url\":\"https://api.github.com/users/Bob741/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Bob741/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Bob741/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Bob741/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Bob741/orgs\",\"repos_url\":\"https://api.github.com/users/Bob741/repos\",\"events_url\":\"https://api.github.com/users/Bob741/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Bob741/received_events\",\"type\":\"User\",\"site_admin\":false},{\"login\":\"ErikVictory\",\"id\":1851000,\"avatar_url\":\"https://gravatar.com/avatar/e7a7d614ec32bcc660144ad934c42f57?d=https%3A%2F%2Fidenticons.github.com%2Fcf74e97d9264899118ad67b264c040d2.png&r=x\",\"gravatar_id\":\"e7a7d614ec32bcc660144ad934c42f57\",\"url\":\"https://api.github.com/users/ErikVictory\",\"html_url\":\"https://github.com/ErikVictory\",\"followers_url\":\"https://api.github.com/users/ErikVictory/followers\",\"following_url\":\"https://api.github.com/users/ErikVictory/fo[...]
