{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/labels/V3%20Addition","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4970"], "X-Ratelimit-Reset":["1423839892"], "Last-Modified":["Sat, 20 Oct 2007 11:24:19 GMT"], "Etag":["W/\"55d9fba8b6f29513977404323a195d69\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, admin:org_hook"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zL29jdG9raXQv\nb2N0b2tpdC5yYi9sYWJlbHMvVjMlMjBBZGRpdGlvbiIsIm5hbWUiOiJWMyBB\nZGRpdGlvbiIsImNvbG9yIjoiZWRlZGVkIn0=\n"},"http_version":null},"recorded_at":"Fri, 13 Feb 2015 14:08:26 GMT"}],"recorded_with":"VCR 2.9.2"}