{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/labels/V3+Addition","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["14"], "Last-Modified":["Sat, 20 Oct 2007 11:24:19 GMT"], "Etag":["\"af5b24937f20d4d72e8dc0bd275cbf5f\""], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zL29jdG9raXQv\nb2N0b2tpdC5yYi9sYWJlbHMvVjMrQWRkaXRpb24iLCJuYW1lIjoiVjMgQWRk\naXRpb24iLCJjb2xvciI6ImVkZWRlZCJ9\n"},"http_version":null},"recorded_at":"Mon, 17 Jun 2013 18:49:41 GMT"}],"recorded_with":"VCR 2.4.0"}