{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/labels/V3+Addition","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4893"], "X-Ratelimit-Reset":["1389615104"], "Last-Modified":["Sat, 20 Oct 2007 11:24:19 GMT"], "Etag":["\"643f991f57d7ec04be23b867508d33b0\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/labels/V3+Addition\",\"name\":\"V3 Addition\",\"color\":\"ededed\"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 12:00:16 GMT"}],"recorded_with":"VCR 2.4.0"}