{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/codeforamerica/repos","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"2be7d960ee1d4fbf218a2d68cb88cd73\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/organizations/337792/repos?page=2>; rel=\"next\", <https://api.github.com/organizations/337792/repos?page=12>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":967930,\"name\":\"cfahelloworld\",\"full_name\":\"codeforamerica/cfahelloworld\",\"owner\":{\"login\":\"codeforamerica\",\"id\":337792,\"avatar_url\":\"https://gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https%3A%2F%2Fidenticons.github.com%2F190ee0a9502204c8340cee81293edbbe.png&r=x\",\"gravatar_id\":\"ec81184c572bc827b72ebb489d49f821\",\"url\":\"https://api.github.com/users/codeforamerica\",\"html_url\":\"https://github.com/codeforamerica\",\"followers_url\":\"https://api.github.com/users/codeforamerica/followers\",\"following_url\":\"https://api.github.com/users/codeforamerica/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/codeforamerica/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/codeforamerica/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/codeforamerica/subscriptions\",\"organizations_url\":\"https://api.github.com/users/codeforamerica/orgs\",\"repos_url\":\"https://api.github.com/users/codeforamerica/repos\",\"events_url\":\"https://api.github.com/users/codeforamerica/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/codeforamerica/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/codeforamerica/cfahelloworld\",\"description\":\"Hello World Training\",\"fork\":false,\"url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld\",\"forks_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/forks\",\"keys_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/teams\",\"hooks_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/hooks\",\"issue_events_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/events\",\"assignees_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/tags\",\"blobs_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/languages\",\"stargazers_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/stargazers\",\"contributors_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/contributors\",\"subscribers_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/subscribers\",\"subscription_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/subscription\",\"commits_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/merges\",\"archive_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/downloads\",\"issues_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/codeforamerica/cfahelloworld/releases{/id}\",\"created_at\":\"2010-10-06T23:17:15Z\",\"updated_at\":\"2012-12-15T07:18:43Z\",\"pushed_at\":null,\"git_url\":\"git://github.com/codeforamerica/cfahelloworld.git\",\"ssh_url\":\"git@github.com:codeforamerica/cfahelloworld.git\",\"clone_url\":\"https://github.com/codeforamerica/cfahelloworld.git\",\"svn_url\":\"https://github.com/codeforamerica/cfahelloworld\",\"homepage\":\"cfahello.heroku.com\",\"size\":48,\"stargazers_count\":1,\"watchers_count\":1,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":1,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":1054616,\"name\":\"shortstack\",\"full_name\":\"codeforamerica/shortstack\",\"owner\":{\"login\":\"codeforamerica\",\"id\":337792,\"avatar_url\":\"https://gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https%3A%2F%2Fidenticons.github.com%2F190ee0a9502204c8340cee81293edbbe.png&r=x\",\"gravatar_id\":\"ec81184c572bc827b72ebb489d49f821\",\"url\":\"https://api.github.com/users/codeforamerica\",\"html_url\":\"https://github.com/codeforamerica\",\"followers_url\":\"https://api.gi[...]
