{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/installations/<GITHUB_TEST_INTEGRATION_INSTALLATION>/repositories","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4987"], "X-Ratelimit-Reset":["1505488309"], "Etag":["W/\"d86f4f14f62d8c22ff0ce60fa5a1ff03\""], "X-Oauth-Scopes":[""], "X-Accepted-Oauth-Scopes":["read:user, user"], "X-Oauth-Client-Id":["Iv1.707b53cbd6898831"], "X-Github-Media-Type":["github.machine-man-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MCwicmVwb3NpdG9yaWVzIjpbXX0="},"http_version":null},"recorded_at":"Fri, 15 Sep 2017 14:53:52 GMT"}],"recorded_with":"VCR 2.9.3"}
