{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/dotfiles/issues","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4931"], "X-Oauth-Scopes":["repo, user"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 16 Jun 2013 17:33:06 GMT"},{"request":{"method":"get","uri":"https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/issues","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4929"], "X-Ratelimit-Reset":["1394223981"], "Etag":["\"8a58eaecd61cf9bb900c230ebbb867d3\""], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 20:22:14 GMT"}],"recorded_with":"VCR 2.8.0"}