{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.github.com/orgs/<GITHUB_TEST_ORGANIZATION>/actions/secrets",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"beb6cae5ef946ee4ac4913986e76dc98598219b95a1bc51d6b40123d39650367\""
          ],
          "X-Oauth-Scopes": [
            "admin:org, repo"
          ],
          "X-Accepted-Oauth-Scopes": [
            "admin:org"
          ],
          "Github-Authentication-Token-Expiration": [
            "2023-12-19 21:50:28 UTC"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Github-Api-Version-Selected": [
            "2022-11-28"
          ],
          "X-Ratelimit-Limit": [
            "5000"
          ],
          "X-Ratelimit-Remaining": [
            "4988"
          ],
          "X-Ratelimit-Reset": [
            "1702418555"
          ],
          "X-Ratelimit-Used": [
            "12"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJ0b3RhbF9jb3VudCI6MCwic2VjcmV0cyI6W119\n"
        }
      },
      "recorded_at": "Tue, 12 Dec 2023 21:59:16 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}