{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/gists","body":{"encoding":"UTF-8","string":"{\"description\":\"A gist from Octokit\",\"public\":true,\"files\":{\"zen.text\":{\"content\":\"Keep it logically awesome.\"}}}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4976"], "X-Ratelimit-Reset":["1389662322"], "Etag":["\"c9632ee0f174e78413b1ba0676e9bef7\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "Location":["https://api.github.com/gists/8410635"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/gists/8410635\",\"forks_url\":\"https://api.github.com/gists/8410635/forks\",\"commits_url\":\"https://api.github.com/gists/8410635/commits\",\"id\":\"8410635\",\"git_pull_url\":\"https://gist.github.com/8410635.git\",\"git_push_url\":\"https://gist.github.com/8410635.git\",\"html_url\":\"https://gist.github.com/8410635\",\"files\":{\"zen.text\":{\"filename\":\"zen.text\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/<GITHUB_LOGIN>/8410635/raw/fde0619cfe8ece129304af54eed78bf866287178/zen.text\",\"size\":26,\"content\":\"Keep it logically awesome.\"}},\"public\":true,\"created_at\":\"2014-01-14T00:18:59Z\",\"updated_at\":\"2014-01-14T00:18:59Z\",\"description\":\"A gist from Octokit\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/8410635/comments\",\"owner\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"<GITHUB_LOGIN>\",\"id\":6350090,\"avatar_url\":\"https://gravatar.com/avatar/105b07c9cfe38379aba0c2c8026a8204?d=https%3A%2F%2Fidenticons.github.com%2F35620a5b23ff098015e59ba289db1654.png&r=x\",\"gravatar_id\":\"105b07c9cfe38379aba0c2c8026a8204\",\"url\":\"https://api.github.com/users/<GITHUB_LOGIN>\",\"html_url\":\"https://github.com/<GITHUB_LOGIN>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_LOGIN>/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"8650459d1bcd6d397be76157f5766f3e947812f1\",\"committed_at\":\"2014-01-14T00:18:59Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/8410635/8650459d1bcd6d397be76157f5766f3e947812f1\"}]}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:18:59 GMT"},{"request":{"method":"post","uri":"https://api.github.com/gists/5421307/comments","body":{"encoding":"UTF-8","string":"{\"body\":\":metal:\"}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4975"], "X-Ratelimit-Reset":["1389662322"], "Etag":["\"3aabbf8f5483a989a28994bb9e23cbe3\""], "X-Oauth[...]
{"request":{"method":"get","uri":"https://api.github.com/gists/5506606","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Ratelimit-Reset":["1389662319"], "Last-Modified":["Mon, 13 Jan 2014 23:02:33 GMT"], "Etag":["\"45086eb1242fe38be6146f939f64b7e5\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/gists/5506606\",\"forks_url\":\"https://api.github.com/gists/5506606/forks\",\"commits_url\":\"https://api.github.com/gists/5506606/commits\",\"id\":\"5506606\",\"git_pull_url\":\"https://gist.github.com/5506606.git\",\"git_push_url\":\"https://gist.github.com/5506606.git\",\"html_url\":\"https://gist.github.com/5506606\",\"files\":{\"curl-ua.shell\":{\"filename\":\"curl-ua.shell\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.github.com/pengwynn/5506606/raw/dc881e99f27cc15cc2b844c55d010add88c1c34f/curl-ua.shell\",\"size\":3227,\"content\":\"curl -v --user-agent \\\"dartvoid/0.1 (https://github.com/dartvoid\\\\) terminal/0.0\\\" https://api.github.com/users/dartvoid\\n* About to connect() to api.github.com port 443 (#0)\\n*   Trying 207.97.227.243...\\n* connected\\n* Connected to api.github.com (207.97.227.243) port 4[...]
{"request":{"method":"post","uri":"https://api.github.com/gists/5506606/forks","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4974"], "X-Ratelimit-Reset":["1389662322"], "Etag":["\"169998a5d2a09da0168b8105135e556e\""], "X-Oauth-Scopes":["user, public[...]
[...]
{"request":{"method":"delete","uri":"https://api.github.com/gists/8410635","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4972"], "X-Ratelimit-Reset":["1389662322"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 00:19:02 GMT"}],"recorded_with":"VCR 2.4.0"}