{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/user/starred/sferik/rails_admin","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4941"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["repo, public_repo, repo:status, delete_repo, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 18:32:06 GMT"}],"recorded_with":"VCR 2.4.0"}