{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/repos/api-playground/<GITHUB_TEST_REPOSITORY>/notifications","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":205,"message":"Reset Content"},"headers":{"Status":["205 Reset Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4989"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 15:07:41 GMT"},{"request":{"method":"put","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/notifications","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":205,"message":"Reset Content"},"headers":{"Status":["205 Reset Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4987"], "X-Ratelimit-Reset":["1394219742"], "X-Oauth-Scopes":["gist, repo, user"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 07 Mar 2014 18:55:40 GMT"}],"recorded_with":"VCR 2.8.0"}