{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/user/emails","body":{"encoding":"UTF-8","base64_string":"WyJ3eW5uLm5ldGhlcmxhbmQrYXBpdGVzdEBnbWFpbC5jb20iXQ==\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4997"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"388ea229f35c9e7d5366e5ce4ad18812\""]},"body":{"encoding":"UTF-8","base64_string":"WyJ3eW5uLm5ldGhlcmxhbmQrPEdJVEhVQl9MT0dJTj5AZ21haWwuY29tIiwi\nd3lubi5uZXRoZXJsYW5kK2FwaXRlc3RAZ21haWwuY29tIiwid3lubi5uZXRo\nZXJsYW5kK2FwaXRlc3RAZ21haWwuY29tIl0=\n"},"http_version":null},"recorded_at":"Tue, 25 Jun 2013 15:02:34 GMT"}],"recorded_with":"VCR 2.4.0"}