{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/comments","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4490"], "X-Ratelimit-Reset":["1389606162"], "Etag":["\"53498ced16aebe4ffff9b186730edd1d\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/417862/pulls/comments?page=2>; rel=\"next\", <https://api.github.com/repositories/417862/pulls/comments?page=4>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/104862\",\"id\":104862,\"diff_hunk\":\"@@ -1,4 +1,4 @@\\n-module Octokit\\n+,module Octokit\",\"path\":\"lib/octokit/client/repositories.rb\",\"position\":null,\"original_position\":2,\"commit_id\":\"3ae33359b5135c9c5e43f6eda6623465aa36427f\",\"original_commit_id\":\"472ae972b0180136c4745df19bbb045a5c6efa38\",\"user\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Please remove this.\",\"created_at\":\"2011-08-28T23:35:50Z\",\"updated_at\":\"2011-08-28T23:42:45Z\",\"html_url\":\"https://github.com/octokit/octokit.rb/pull/52#discussion_r104862\",\"pull_request_url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/52\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/104862\"},\"html\":{\"href\":\"https://github.com/octokit/octokit.rb/pull/52#discussion_r104862\"},\"pull_request\":{\"href\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/52\"}}},{\"url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls/comments/104864\",\"id\":104864,\"diff_hunk\":\"@@ -1,4 +1,4 @@\\n-module Octokit\\n+,module Octokit\",\"path\":\"lib/octokit/client/repositories.rb\",\"position\":null,\"original_position\":2,\"commit_id\":\"3ae33359b5135c9c5e43f6eda6623465aa36427f\",\"original_commit_id\":\"472ae972b0180136c4745df19bbb045a5c6efa38\",\"user\":{\"login\":\"alexkwolfe\",\"id\"[...]
