{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/notifications","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":205,"message":"Reset Content"},"headers":{"Content-Type":["text/plain;charset=utf-8"], "Status":["205 Reset Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4955"], "X-Ratelimit-Reset":["1585944732"], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 03 Apr 2020 19:23:59 GMT"}],"recorded_with":"VCR 5.1.0"}