{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/notifications","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":205,"message":"Reset Content"},"headers":{"Status":["205 Reset Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4990"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 24 Jun 2013 15:07:41 GMT"}],"recorded_with":"VCR 2.4.0"}