{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/notifications","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":205,"message":"Reset Content"},"headers":{"Status":["205 Reset Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4922"], "X-Ratelimit-Reset":["1389618704"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["notifications, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 12:17:53 GMT"}],"recorded_with":"VCR 2.4.0"}