{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4930"], "X-Ratelimit-Reset":["1390200528"], "Last-Modified":["Mon, 20 Jan 2014 03:42:13 GMT"], "Etag":["\"f0a78fdb7bd8bd2c12a219979e2a10e4\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"id\":810796,\"name\":\"rails_admin\",\"full_name\":\"sferik/rails_admin\",\"owner\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/sferik/rails_admin\",\"description\":\"RailsAdmin is a Rails engine that provides an easy-to-use interface for managing your data\",\"fork\":false,\"url\":\"https://api.github.com/repos/sferik/rails_admin\",\"forks_url\":\"https://api.github.com/repos/sferik/rails_admin/forks\",\"keys_url\":\"https://api.github.com/repos/sferik/rails_admin/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/sferik/rails_admin/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/sferik/rails_admin/teams\",\"hooks_url\":\"https://api.github.com/repos/sferik/rails_admin/hooks\",\"issue_events_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/sferik/rails_admin/events\",\"assignees_url\":\"https://api.github.com/repos/sferik/rails_admin/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/sferik/rails_admin/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/sferik/rails_admin/tags\",\"blobs_url\":\"https://api.github.com/repos/sferik/rails_admin/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/sferik/rails_admin/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/sferik/rails_admin/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/sferik/rails_admin/languages\",\"stargazers_url\":\"https://api.github.com/repos/sferik/rails_admin/stargazers\",\"contributors_url\":\"https://api.github.com/repos/sferik/rails_admin/contributors\",\"subscribers_url\":\"https://api.github.com/repos/sferik/rails_admin/subscribers\",\"subscription_url\":\"https://api.github.com/repos/sferik/rails_admin/subscription\",\"commits_url\":\"https://api.github.com/repos/sferik/rails_admin/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/sferik/rails_admin/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/sferik/rails_admin/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/sferik/rails_admin/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/sferik/rails_admin/merges\",\"archive_url\":\"https://api.github.com/repos/sferik/rails_admin/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/sferik/rails_admin/downloads\",\"issues_url\":\"https://api.github.com/repos/sferik/rails_admin/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/sferik/rails_admin/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/sferik/rails_admin/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/sferik/rails_admin/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/sferik/rails_admin/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/sferik/rails_admin/releases{/id}\",\"created_at\":\"2010-08-01T17:01:00Z\",\"updated_at\":\"2014-01-20T03:42:13Z\",\"pushed_at\":\"2014-01-20T03:42:11Z\",\"git_url\":\"git://github.com/sferik/rails_admin.git\",\"ssh_url\":\"git@github.com:sferik/rails_admin.git\",\"clone_url\":\"https://github.com/sferik/rails_admin.git\",\"svn_url\":\"https://github.com/sferik/rails_admin\",\"homepage\":\"\",\"size\":29200,\"stargazers_count\":4323,\"watchers_count\":4323,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":1194,\"mirror_url\":null,\"open_issues_count\":196,\"forks\":1194,\"open_issues\":196,\"watchers\":4323,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true},\"network_count\":1194,\"subscribers_count\":151}"},"http_version":null},"recorded_at":"Mon, 20 Jan 2014 05:49:32 GMT"}],"recorded_with":"VCR 2.4.0"}