{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/projects","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4615"], "X-Ratelimit-Reset":["1477887689"], "Etag":["\"5da13e89d760ca31342c38013ce101db\""], "X-Oauth-Scopes":["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user"], "X-Accepted-Oauth-Scopes":["public_repo, repo"], "X-Github-Media-Type":["github.inertia-preview; format=json"], "Link":["<https://api.github.com/repositories/417862/projects?page=0>; rel=\"last\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 31 Oct 2016 04:07:11 GMT"}],"recorded_with":"VCR 2.9.3"}