{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?sha=master&until=2011-01-15T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4858"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Fri, 14 Jan 2011 19:05:19 GMT"], "Etag":["\"0f24c9517cb1e3700173f9219ece1a26\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/commits?sha=master&until=2011-01-15T00%3A00%3A00%2B00%3A00&top=master&last_sha=487d0ec845efe95b10d6336f3e9256ab48300230>; rel=\"next\", <https://api.github.com/repositories/810796/commits?sha=master&until=2011-01-15T00%3A00%3A00%2B00%3A00>; rel=\"first\""]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"commit\":{\"author\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2011-01-14T19:05:19Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2011-01-14T19:05:19Z\"},\"message\":\"Update arel dependency to 2.0.7\",\"tree\":{\"sha\":\"de8a70bd8c63cbe428ae7ae6226659a96a7395ec\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/de8a70bd8c63cbe428ae7ae6226659a96a7395ec\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/419ecfb10cdb9beb7b56d80f899878f2ea9cee60/comments\",\"author\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"89889591ba97664fcd3b187df77d7ddca0948e24\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/89889591ba97664fcd3b187df77d7ddca0948e24\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/89889591ba97664fcd3b187df77d7ddca0948e24\"}]},{\"sha\":\"89889591ba97664fcd3b187df77d7ddca0948e24\",\"commit\":{\"author\":{\"name\":\"Andrey Samsonov\",\"email\":\"andrey.samsonov@gmail.com\",\"date\":\"2011-01-13T01:54:47Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\[...]
