{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?until=2011-01-20T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4859"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Wed, 19 Jan 2011 22:04:52 GMT"], "Etag":["\"66e175711b57b7b9133282f934c10080\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["<https://api.github.com/repositories/810796/commits?until=2011-01-20T00%3A00%3A00%2B00%3A00&top=master&last_sha=6658e422c2dc67603514b65f38a302dc8e9863ba>; rel=\"next\", <https://api.github.com/repositories/810796/commits?until=2011-01-20T00%3A00%3A00%2B00%3A00&sha=master>; rel=\"first\""]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"34ed37426de4ced6a3f06544d735c10d6ba42cd8\",\"commit\":{\"author\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-19T22:04:52Z\"},\"committer\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-19T22:04:52Z\"},\"message\":\"removed History access from the view, added a shim for it in AbstractHistory\\n\\nWith this commit I believe that no rails_admin code interacts with the\\nHistory model directly.  This should allow us to use other history\\ntracking mechanisms eventually, although I think we want to clean up\\nthe AbstractHistory interface first.\",\"tree\":{\"sha\":\"b2e35592ea8270185c73636b2e23a23b233694cc\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/b2e35592ea8270185c73636b2e23a23b233694cc\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/34ed37426de4ced6a3f06544d735c10d6ba42cd8\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/34ed37426de4ced6a3f06544d735c10d6ba42cd8\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/34ed37426de4ced6a3f06544d735c10d6ba42cd8\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/34ed37426de4ced6a3f06544d735c10d6ba42cd8/comments\",\"author\":{\"login\":\"ccabot\",\"id\":331883,\"avatar_url\":\"https://gravatar.com/avatar/6d246f2dde05095bebd3ba3cb54c676a?d=https%3A%2F%2Fidenticons.github.com%2F151458cc31473a73359a5dc99ebb65d2.png&r=x\",\"gravatar_id\":\"6d246f2dde05095bebd3ba3cb54c676a\",\"url\":\"https://api.github.com/users/ccabot\",\"html_url\":\"https://github.com/ccabot\",\"followers_url\":\"https://api.github.com/users/ccabot/followers\",\"following_url\":\"https://api.github.com/users/ccabot/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ccabot/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ccabot/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ccabot/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ccabot/orgs\",\"repos_url\":\"https://api.github.com/users/ccabot/repos\",\"events_url\":\"https://api.github.com/users/ccabot/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ccabot/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"ccabot\",\"id\":331883,\"avatar_url\":\"https://gravatar.com/avatar/6d246f2dde05095bebd3ba3cb54c676a?d=https%3A%2F%2Fidenticons.github.com%2F151458cc31473a73359a5dc99ebb65d2.png&r=x\",\"gravatar_id\":\"6d246f2dde05095bebd3ba3cb54c676a\",\"url\":\"https://api.github.com/users/ccabot\",\"html_url\":\"https://github.com/ccabot\",\"followers_url\":\"https://api.github.com/users/ccabot/followers\",\"following_url\":\"https://api.github.com/users/ccabot/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ccabot/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ccabot/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ccabot/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ccabot/orgs\",\"repos_url\":\"https://api.github.com/users/ccabot/repos\",\"events_url\":\"https://api.github.com/users/ccabot/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ccabot/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"7f15d0efca07f0c17059240c87fe3d4ec5c0caf5\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/7f15d0efca07f0c17059240c87fe3d4ec5c0caf5\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/7f15d0efca07f0c17059240c87fe3d4ec5c0caf5\"}]},{\"sha\":\"7f15d0efca07f0c17059240c87fe3d4ec5c0caf5\",\"commit\":{\"author\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-19T21:30:09Z\"},\"committer\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitr[...]
