{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/search/code?order=asc&q=code%20user:github%20in:file%20extension:gemspec%20-repo:octokit/octokit.rb&sort=indexed","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["20"], "X-Ratelimit-Remaining":["19"], "X-Ratelimit-Reset":["1389451525"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"total_count\":6,\"items\":[{\"name\":\"rack-statsd.gemspec\",\"path\":\"rack-statsd.gemspec\",\"sha\":\"e00da5fca62aff206696a5bea9959d3c938c24c9\",\"url\":\"https://api.github.com/repositories/2902320/contents/rack-statsd.gemspec?ref=0313b9d1c460c3d6e623cb4035896e1c306d7670\",\"git_url\":\"https://api.github.com/repositories/2902320/git/blobs/e00da5fca62aff206696a5bea9959d3c938c24c9\",\"html_url\":\"https://github.com/github/rack-statsd/blob/0313b9d1c460c3d6e623cb4035896e1c306d7670/rack-statsd.gemspec\",\"repository\":{\"id\":2902320,\"name\":\"rack-statsd\",\"full_name\":\"github/rack-statsd\",\"owner\":{\"login\":\"github\",\"id\":9919,\"avatar_url\":\"https://gravatar.com/avatar/61024896f291303615bcd4f7a0dcfb74?d=https%3A%2F%2Fidenticons.github.com%2Fae816a80e4c1c56caa2eb4e1819cbb2f.png&r=x\",\"gravatar_id\":\"61024896f291303615bcd4f7a0dcfb74\",\"url\":\"https://api.github.com/users/github\",\"html_url\":\"https://github.com/github\",\"followers_url\":\"https://api.github.com/users/github/followers\",\"following_url\":\"https://api.github.com/users/github/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github/orgs\",\"repos_url\":\"https://api.github.com/users/github/repos\",\"events_url\":\"https://api.github.com/users/github/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/github/rack-statsd\",\"description\":\"monitor your rack apps in production\",\"fork\":false,\"url\":\"https://api.github.com/repos/github/rack-statsd\",\"forks_url\":\"https://api.github.com/repos/github/rack-statsd/forks\",\"keys_url\":\"https://api.github.com/repos/github/rack-statsd/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/github/rack-statsd/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/github/rack-statsd/teams\",\"hooks_url\":\"https://api.github.com/repos/github/rack-statsd/hooks\",\"issue_events_url\":\"https://api.github.com/repos/github/rack-statsd/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/github/rack-statsd/events\",\"assignees_url\":\"https://api.github.com/repos/github/rack-statsd/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/github/rack-statsd/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/github/rack-statsd/tags\",\"blobs_url\":\"https://api.github.com/repos/github/rack-statsd/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/github/rack-statsd/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/github/rack-statsd/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/github/rack-statsd/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/github/rack-statsd/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/github/rack-statsd/languages\",\"stargazers_url\":\"https://api.github.com/repos/github/rack-statsd/stargazers\",\"contributors_url\":\"https://api.github.com/repos/github/rack-statsd/contributors\",\"subscribers_url\":\"https://api.github.com/repos/github/rack-statsd/subscribers\",\"subscription_url\":\"https://api.github.com/repos/github/rack-statsd/subscription\",\"commits_url\":\"https://api.github.com/repos/github/rack-statsd/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/github/rack-statsd/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/github/rack-statsd/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/github/rack-statsd/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/github/rack-statsd/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/github/rack-statsd/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/github/rack-statsd/merges\",\"archive_url\":\"https://api.github.com/repos/github/rack-statsd/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/github/rack-statsd/downloads\",\"issues_url\":\"https://api.github.com/repos/github/rack-statsd/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/github/rack-statsd/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/github/rack-statsd/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/github/rack-statsd/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/github/rack-statsd/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/github/rack-statsd/releases{/id}\"},\"score\":0.10827518},{\"name\":\"dat-science.gemspec\",\"path\":\"dat-science.gemspec\",\"sha\":\"91617544e433dce6def57a6bda3a258d55cb0214\",\"url\":\"https://api.github.com/repositories/8364973/contents/dat-science.gemspec?ref=ba2103d8486846659e0ccfde2c1b486aabf96089\",\"git_url\":\"https://api.github.com/repositories/8364973/git/blobs/91617544e433dce6def57a6bda3a258d55cb0214\",\"html_url\":\"https://github.com/github/dat-science/blob/ba2103d8486846659e0ccfde2c1b486aabf96089/dat-science.gemspec\",\"repo[...]
