{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/app/installations/<GITHUB_TEST_INTEGRATION_INSTALLATION>/access_tokens","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <JWT_BEARER_TOKEN>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "Etag":["\"9c28b7cee2e0b9b206e1e9724ba4ec76\""], "X-Github-Media-Type":["github.machine-man-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ0b2tlbiI6IjxJTlRFR1JBVElPTl9JTlNUQUxMQVRJT05fVE9LRU4+Iiwi\nZXhwaXJlc19hdCI6IjIwMTctMDMtMDZUMjM6MTc6NDZaIn0=\n"},"http_version":null},"recorded_at":"Mon, 06 Mar 2017 22:17:46 GMT"},{"request":{"method":"get","uri":"https://api.github.com/installation/repositories?per_page=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <INTEGRATION_INSTALLATION_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1488841510"], "Etag":["W/\"98248acd97b07729e82e7fea4e6680ef\""], "X-Github-Media-Type":["github.machine-man-preview; format=json"], "Link":["<https://api.github.com/installation/repositories?per_page=1&page=2>; rel=\"next\", <https://api.github.com/installation/repositories?per_page=1&page=2>; rel=\"last\""]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MiwicmVwb3NpdG9yaWVzIjpbeyJpZCI6MX1dfQ==\n"},"http_version":null},"recorded_at":"Mon, 06 Mar 2017 22:17:46 GMT"},{"request":{"method":"get","uri":"https://api.github.com/installation/repositories?page=2&per_page=1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <INTEGRATION_INSTALLATION_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1488841510"], "Etag":["W/\"88248acd97b07729e82e7fea4e6680ef\""], "X-Github-Media-Type":["github.machine-man-preview; format=json"], "Link":["<https://api.github.com/installation/repositories?per_page=1&page=1>; rel=\"prev\", <https://api.github.com/installation/repositories?per_page=1&page=1>; rel=\"first\""]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJ0b3RhbF9jb3VudCI6MiwicmVwb3NpdG9yaWVzIjpbeyJpZCI6Mn1dfQ==\n"},"http_version":null},"recorded_at":"Mon, 06 Mar 2017 22:17:46 GMT"}],"recorded_with":"VCR 2.9.3"}
