{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/tags","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["49"], "X-Ratelimit-Reset":["1390200555"], "Last-Modified":["Fri, 17 Jan 2014 09:27:50 GMT"], "Etag":["\"fd7b966b456cfe48f1f76f20e54d8cab\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"name\":\"v2.7.0\",\"zipball_url\":\"https://api.github.com/repos/octokit/octokit.rb/zipball/v2.7.0\",\"tarball_url\":\"https://api.github.com/repos/octokit/octokit.rb/tarball/v2.7.0\",\"commit\":{\"sha\":\"04fd946ec95fdf18a8ff092e0fca4577eb86537a\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/04fd946ec95fdf18a8ff092e0fca4577eb86537a\"}},{\"name\":\"v2.6.3\",\"zipball_url\":\"https://api.github.com/repos/octokit/octokit.rb/zipball/v2.6.3\",\"tarball_url\":\"https://api.github.com/repos/octokit/octokit.rb/tarball/v2.6.3\",\"commit\":{\"sha\":\"93fc5f7263d4462206cdeb4f1f027b5096f2fd3e\",\"url\":\"https://api.github.com/repos/octokit/octokit.rb/commits/93fc5f7263d4462206cdeb4f1f027b5096f2fd3e\"}},{\"name\":\"v2.6.2\",\"zipball_url[...]
