{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/feeds","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["49"], "X-Ratelimit-Reset":["1389662319"], "Etag":["\"5bbcf47a2e0583ed37f6702e28f3cfbb\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"timeline_url\":\"https://github.com/timeline\",\"user_url\":\"https://github.com/{user}\",\"_links\":{\"timeline\":{\"href\":\"https://github.com/timeline\",\"type\":\"application/atom+xml\"},\"user\":{\"href\":\"https://github.com/{user}\",\"type\":\"application/atom+xml\"}}}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 01:11:11 GMT"},{"request":{"method":"get","uri":"https://github.com/timeline","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/atom+xml; charset=utf-8"], "Status":["200 OK"], "Etag":["\"1d06e2d453dea3373fa10b4d6b7266a5\""]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\" xmlns:media=\"http://search.yahoo.com/mrss/\" xml:lang=\"en-US\">\n  <id>tag:github.com,2008:/timeline</id>\n  <link type=\"text/html\" rel=\"alternate\" href=\"https://github.com/timeline\"/>\n  <link type=\"application/atom+xml\" rel=\"self\" href=\"https://github.com/timeline\"/>\n  <title>GitHub Public Timeline Feed</title>\n  <updated>2014-01-14T01:11:11Z</updated>\n  <entry>\n    <id>tag:github.com,2008:PushEvent/1942854652</id>\n    <published>2014-01-14T01:11:11Z</published>\n    <updated>2014-01-14T01:11:11Z</updated>\n    <link type=\"text/html\" rel=\"alternate\" href=\"https://github.com/neogeek/neogeek.github.io/compare/94f9497896...5483449848\"/>\n    <title type=\"html\">neogeek pushed to master at neogeek/neogeek.github.io</title>\n    <author>\n      <name>neogeek</name>\n      <email>hello@scottdoxey.com</email>\n      <uri>https://github.com/neogeek</uri>\n    </author>\n    <media:thumbnail height=\"30\" width=\"30\" url=\"https://2.gravatar.com/avatar/3845922e7140b14e66650452df436132?d=https%3A%2F%2Fidenticons.github.com%2F24759597b99d21ef84e6c86c29e56aab.png&amp;r=x&amp;s=30\"/>\n    <content type=\"html\">&lt;!-- push --&gt;\n&lt;span class=&quot;mega-octicon octicon-git-commit&quot;&gt;&lt;/span&gt;\n\n&lt;div class=&quot;time&quot;&gt;\n  &lt;time class=&quot;js-relative-date&quot; datetime=&quot;2014-01-14T01:11:11Z&quot; title=&quot;2014-01-14 01:11:11&quot;&gt;January 14, 2014&lt;/time&gt;\n&lt;/div&gt;\n\n&lt;div class=&quot;title&quot;&gt;\n  &lt;a href=&quot;https://github.com/neogeek&quot;&gt;neogeek&lt;/a&gt; &lt;span&gt;pushed&lt;/span&gt; to &lt;a href=&quot;/neogeek/neo[...]
