{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?sha=master&since=2011-01-15T00:00:00%2B00:00&until=2011-01-16T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4876"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sat, 15 Jan 2011 13:52:37 GMT"], "Etag":["\"5ba91a2d913327b60999fef6f0a8bf7b\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"c2d5a83a4fb0d90285bc58fb25ed35f34039a4b0\",\"commit\":{\"author\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2011-01-15T13:52:37Z\"},\"committer\":{\"name\":\"Erik Michaels-Ober\",\"email\":\"sferik@gmail.com\",\"date\":\"2011-01-15T13:52:37Z\"},\"message\":\"Update tzinfo dependency\",\"tree\":{\"sha\":\"7f37d24eb0d09ced8b3ca709e3b0e382c1939ec2\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/7f37d24eb0d09ced8b3ca709e3b0e382c1939ec2\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/c2d5a83a4fb0d90285bc58fb25ed35f34039a4b0\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/c2d5a83a4fb0d90285bc58fb25ed35f34039a4b0\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/c2d5a83a4fb0d90285bc58fb25ed35f34039a4b0\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/c2d5a83a4fb0d90285bc58fb25ed35f34039a4b0/comments\",\"author\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"sferik\",\"id\":10308,\"avatar_url\":\"https://gravatar.com/avatar/1f74b13f1e5c6c69cb5d7fbaabb1e2cb?d=https%3A%2F%2Fidenticons.github.com%2F9efb1a59d7b58e69996cf0e32cb71098.png&r=x\",\"gravatar_id\":\"1f74b13f1e5c6c69cb5d7fbaabb1e2cb\",\"url\":\"https://api.github.com/users/sferik\",\"html_url\":\"https://github.com/sferik\",\"followers_url\":\"https://api.github.com/users/sferik/followers\",\"following_url\":\"https://api.github.com/users/sferik/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sferik/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sferik/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sferik/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sferik/orgs\",\"repos_url\":\"https://api.github.com/users/sferik/repos\",\"events_url\":\"https://api.github.com/users/sferik/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sferik/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/419ecfb10cdb9beb7b56d80f899878f2ea9cee60\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/419ecfb10cdb9beb7b56d80f899878f2ea9cee60\"}]}]"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 10:22:33 GMT"}],"recorded_with":"VCR 2.4.0"}