{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/commits?since=2011-01-20T00:00:00%2B00:00&until=2011-01-21T00:00:00%2B00:00","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4878"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Thu, 20 Jan 2011 22:23:11 GMT"], "Etag":["\"ce02bec3a30ba1fe7a01daebe3730be9\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"3fe5aeee217934f39112caa9d14483328e6f86c8\",\"commit\":{\"author\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-20T22:22:23Z\"},\"committer\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-20T22:23:11Z\"},\"message\":\"fix the dashboard history slider javascript\\n\\nIt had drifted away from the code over time so I had never seen it\\nwork before.  It's pretty nice.\",\"tree\":{\"sha\":\"3f870851f4a57172845915c668c443a2fbc2d13a\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/trees/3f870851f4a57172845915c668c443a2fbc2d13a\"},\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/commits/3fe5aeee217934f39112caa9d14483328e6f86c8\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/3fe5aeee217934f39112caa9d14483328e6f86c8\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/3fe5aeee217934f39112caa9d14483328e6f86c8\",\"comments_url\":\"https://api.github.com/repos/sferik/rails_admin/commits/3fe5aeee217934f39112caa9d14483328e6f86c8/comments\",\"author\":{\"login\":\"ccabot\",\"id\":331883,\"avatar_url\":\"https://gravatar.com/avatar/6d246f2dde05095bebd3ba3cb54c676a?d=https%3A%2F%2Fidenticons.github.com%2F151458cc31473a73359a5dc99ebb65d2.png&r=x\",\"gravatar_id\":\"6d246f2dde05095bebd3ba3cb54c676a\",\"url\":\"https://api.github.com/users/ccabot\",\"html_url\":\"https://github.com/ccabot\",\"followers_url\":\"https://api.github.com/users/ccabot/followers\",\"following_url\":\"https://api.github.com/users/ccabot/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ccabot/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ccabot/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ccabot/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ccabot/orgs\",\"repos_url\":\"https://api.github.com/users/ccabot/repos\",\"events_url\":\"https://api.github.com/users/ccabot/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ccabot/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"ccabot\",\"id\":331883,\"avatar_url\":\"https://gravatar.com/avatar/6d246f2dde05095bebd3ba3cb54c676a?d=https%3A%2F%2Fidenticons.github.com%2F151458cc31473a73359a5dc99ebb65d2.png&r=x\",\"gravatar_id\":\"6d246f2dde05095bebd3ba3cb54c676a\",\"url\":\"https://api.github.com/users/ccabot\",\"html_url\":\"https://github.com/ccabot\",\"followers_url\":\"https://api.github.com/users/ccabot/followers\",\"following_url\":\"https://api.github.com/users/ccabot/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ccabot/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ccabot/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ccabot/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ccabot/orgs\",\"repos_url\":\"https://api.github.com/users/ccabot/repos\",\"events_url\":\"https://api.github.com/users/ccabot/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ccabot/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"433e7114cc7f761db8a08f4ce1bb7f1fb56e2920\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/commits/433e7114cc7f761db8a08f4ce1bb7f1fb56e2920\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/433e7114cc7f761db8a08f4ce1bb7f1fb56e2920\"}]},{\"sha\":\"433e7114cc7f761db8a08f4ce1bb7f1fb56e2920\",\"commit\":{\"author\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitre.org\",\"date\":\"2011-01-20T22:21:20Z\"},\"committer\":{\"name\":\"toby cabot\",\"email\":\"ccabot@mitr[...]
