{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/pulls/67/files","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4491"], "X-Ratelimit-Reset":["1389606162"], "Last-Modified":["Thu, 02 Jan 2014 02:10:58 GMT"], "Etag":["\"2809acca4d28e19e1de83633909df969\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"sha\":\"30b6f47245176d7f0c41849d5470bd2bede4775b\",\"filename\":\"lib/octokit/configuration.rb\",\"status\":\"modified\",\"additions\":4,\"deletions\":1,\"changes\":5,\"blob_url\":\"https://github.com/octokit/octokit.rb/blob/2097821c7c5aa4dc02a2cc54d5ca51968b373f95/lib/octokit/configuration.rb\",\"raw_url\":\"https://github.com/octokit/octokit.rb/raw/2097821c7c5aa4dc02a2cc54d5ca51968b373f95/lib/octokit/configuration.rb\",\"contents_url\":\"https://api.github.com/repos/octokit/octokit.rb/contents/lib/octokit/configuration.rb?ref=2097821c7c5aa4dc02a2cc54d5ca51968b373f95\",\"patch\":\"@@ -11,12 +11,14 @@ module Configuration\\n       :proxy,\\n       :oauth_token,\\n       :user_agent,\\n-      :auto_traversal].freeze\\n+      :auto_traversal,\\n+      :github_url].freeze\\n \\n     DEFAULT_ADAPTER        = Faraday.default_adapter\\n     DEFAULT_API_VERSION    = 2\\n     DEFAULT_USER_AGENT     = \\\"Octokit Ruby Gem #{Octokit::VERSION}\\\".freeze\\n     DEFAULT_AUTO_TRAVERSAL = false\\n+    DEFAULT_GITHUB_URL     = \\\"https://github.com\\\"\\n \\n     attr_accessor(*VALID_[...]
