{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/sferik/following/pengwynn","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4997"], "X-Ratelimit-Reset":["1376407750"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"US-ASCII","base64_string":""},"http_version":null},"recorded_at":"Tue, 13 Aug 2013 14:34:50 GMT"}],"recorded_with":"VCR 2.4.0"}