{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/sferik/orgs","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1389658107"], "Etag":["\"4c765fe790acf9b36802cc8ed0367d79\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["read:org, write:org, admin:org, repo, user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"collectiveidea\",\"id\":128,\"url\":\"https://api.github.com/orgs/collectiveidea\",\"repos_url\":\"https://api.github.com/orgs/collectiveidea/repos\",\"events_url\":\"https://api.github.com/orgs/collectiveidea/events\",\"members_url\":\"https://api.github.com/orgs/collectiveidea/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/collectiveidea/public_members{/member}\",\"avatar_url\":\"https://gravatar.com/avatar/13ff8dc8c2bf2a4752816e1e3f201a05?d=https%3A%2F%2Fidenticons.github.com%2F76dc611d6ebaafc66cc0879c71b5db5c.png&r=x\"},{\"login\":\"intridea\",\"id\":3747,\"url\":\"https://api.github.com/orgs/intridea\",\"repos_url\":\"https://api.github.com/orgs/intridea/repos\",\"events_url\":\"https://api.github.com/orgs/intridea/events\",\"members_url\":\"https://api.github.com/orgs/intridea/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/intridea/public_m[...]
