{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/github/linguist/topics","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "X-Ratelimit-Reset":["1533328138"], "Etag":["W/\"26941ba74a79ccbb1bc8f0f75acc8d65\""], "X-Github-Media-Type":["github.mercy-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJuYW1lcyI6WyJzeW50YXgtaGlnaGxpZ2h0aW5nIiwibGFuZ3VhZ2UtZ3Jh\nbW1hcnMiLCJsYW5ndWFnZS1zdGF0aXN0aWNzIiwibGluZ3Vpc3RpYyJdfQ==\n"},"http_version":null},"recorded_at":"Fri, 03 Aug 2018 20:06:28 GMT"}],"recorded_with":"VCR 3.0.3"}