{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit-fixture-org/hello-world/topics","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Ratelimit-Reset":["1505933418"], "Etag":["W/\"5027af89ac4bedb8cd659a21bb3b2a45\""], "X-Github-Media-Type":["github.mercy-preview; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJuYW1lcyI6WyJoZWxsby13b3JsZCIsImZpeHR1cmVzIiwiaGVsbG8iXX0=\n"},"http_version":null},"recorded_at":"Wed, 20 Sep 2017 18:12:28 GMT"}],"recorded_with":"VCR 3.0.3"}