{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/octokit/octokit.rb/projects","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4951"], "X-Ratelimit-Reset":["1585944733"], "Etag":["\"2bcfc776f44ded7dd96d0775f476b5ac\""], "X-Oauth-Scopes":["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, write:discussion, write:packages"], "X-Accepted-Oauth-Scopes":["public_repo, repo"], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Fri, 03 Apr 2020 19:52:45 GMT"}],"recorded_with":"VCR 5.1.0"}