{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/git/refs/tags/v0.0.3","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4872"], "X-Ratelimit-Reset":["1389618704"], "Last-Modified":["Mon, 13 Jan 2014 06:53:02 GMT"], "Etag":["\"3c9a91883662e338fd5ea1f9f03f1753\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"ref\":\"refs/tags/v0.0.3\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/refs/tags/v0.0.3\",\"object\":{\"sha\":\"0591c7b765779ea8797f0f0b9222299e600393ca\",\"type\":\"tag\",\"url\":\"https://api.github.com/repos/sferik/rails_admin/git/tags/0591c7b765779ea8797f0f0b9222299e600393ca\"}}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 12:32:19 GMT"}],"recorded_with":"VCR 2.4.0"}