{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/check-suites/50440400/rerequest","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4973"], "X-Ratelimit-Reset":["1547738944"], "Etag":["\"84bba1c6dd5c2fdaa1b930a5a87fbb34\""], "X-Github-Media-Type":["github.antiope-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 17 Jan 2019 15:08:12 GMT"}],"recorded_with":"VCR 4.0.0"}