{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/codeforamerica","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1389658107"], "Last-Modified":["Mon, 13 Jan 2014 22:16:45 GMT"], "Etag":["\"8507d8bc5811f32dff53a6760cbf4128\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["read:org, write:org, admin:org, repo, user"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"login\":\"codeforamerica\",\"id\":337792,\"url\":\"https://api.github.com/orgs/codeforamerica\",\"repos_url\":\"https://api.github.com/orgs/codeforamerica/repos\",\"events_url\":\"https://api.github.com/orgs/codeforamerica/events\",\"members_url\":\"https://api.github.com/orgs/codeforamerica/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/codeforamerica/public_members{/member}\",\"avatar_url\":\"https://gravatar.com/avatar/ec81184c572bc827b72ebb489d49f821?d=https%3A%2F%2Fidenticons.github.com%2F190ee0a9502204c8340cee81293edbbe.png&r=x\",\"name\":\"Code For America\",\"company\":null,\"blog\":\"http://codeforamerica.org\",\"location\":null,\"email\":\"labs@codeforamerica.org\",\"public_repos\":348,\"public_gists\":0,\"followers\":1,\"following\":0,\"html_url\":\"https://github.com/codeforamerica\",\"created_at\":\"2010-07-19T19:41:04Z\",\"updated_at\":\"2014-01-13T22:16:45Z\",\"type\":\"Organization\"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 23:08:28 GMT"}],"recorded_with":"VCR 2.4.0"}