{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/pingwynn/stats/commit_activity","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4991"], "X-Ratelimit-Reset":["1389742411"], "Etag":["\"f287ae3c17deb41678a1a11bc540e604\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1407274131},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1407878931},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1408483731},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1409088531},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1409693331},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1410298131},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1410902931},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1411507731},{\"days\":[0,0,0,0,0,0,0],\"total\":0,\"week\":1412112531},{\"days\":[0,0,0[...]
