{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/sferik/rails_admin/comments/861907","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4837"], "X-Ratelimit-Reset":["1389611485"], "Last-Modified":["Sun, 12 Jan 2014 14:26:29 GMT"], "Etag":["\"6cd947a0108d7222801c098f97fc0918\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"https://api.github.com/repos/sferik/rails_admin/comments/861907\",\"html_url\":\"https://github.com/sferik/rails_admin/commit/629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3#commitcomment-861907\",\"id\":861907,\"user\":{\"login\":\"bbenezech\",\"id\":26794,\"avatar_url\":\"https://gravatar.com/avatar/c1607873b99845b2cd53f8634860d4d4?d=https%3A%2F%2Fidenticons.github.com%2F3af65294001defdf7d60d4b9e3151fff.png&r=x\",\"gravatar_id\":\"c1607873b99845b2cd53f8634860d4d4\",\"url\":\"https://api.github.com/users/bbenezech\",\"html_url\":\"https://github.com/bbenezech\",\"followers_url\":\"https://api.github.com/users/bbenezech/followers\",\"following_url\":\"https://api.github.com/users/bbenezech/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bbenezech/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bbenezech/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bbenezech/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bbenezech/orgs\",\"repos_url\":\"https://api.github.com/users/bbenezech/repos\",\"events_url\":\"https://api.github.com/users/bbenezech/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bbenezech/received_events\",\"type\":\"User\",\"site_admin\":false},\"position\":null,\"line\":null,\"path\":null,\"commit_id\":\"629e9fd9d4df25528e84d31afdc8ebeb0f56fbb3\",\"created_at\":\"2012-01-12T18:34:03Z\",\"updated_at\":\"2012-01-12T18:35:59Z\",\"body\":\"  (1) I do not agree with 'needs to be fixed'.\\r\\n\\r\\nwhy can't tests be order dependent after all? it doesn't hurt actually, and I have yet to see a refactoring case where it became a PITA.\\r\\n\\r\\n  (2) Even if you don't care about the reason builds fail ('a.k.a needs to be fixed'), you are supposing that tests are not order dependent because of the 'order random'. But in reality you are just checking a random subset of random (hem..), you can't assert that with the color. \\r\\n\\r\\nA green build can then mean 2 things: \\r\\n\\r\\n* build is green\\r\\n* build is greenish, order dependent\\r\\n\\r\\nWhich doesn't help with (1)\\r\\n\\r\\n  (3) When comparing builds on Travis or with git dissect, (2) will bite you while debugging at 12pm and make you cry your Mum that you really don't give a shit about (1)\\r\\n\\r\\nI guess.\"}"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 10:33:47 GMT"}],"recorded_with":"VCR 2.4.0"}