{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/api-playground/api-sandbox/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImVkZWRlZCJ9\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4915"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 17 Jun 2013 18:49:42 GMT"},{"request":{"method":"post","uri":"https://api.github.com/repos/api-playground/api-sandbox/labels","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoidGVzdC1sYWJlbCIsImNvbG9yIjoiZmZmZmZmIn0=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4914"], "X-Oauth-Scopes":["repo, user, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "Location":["https://api.github.com/repos/api-playground/api-sandbox/labels/test-label"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"c5684c68f8d68d2d92be8d8ec84de8d1\""]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zL2FwaS1wbGF5\nZ3JvdW5kL2FwaS1zYW5kYm94L2xhYmVscy90ZXN0LWxhYmVsIiwibmFtZSI6\nInRlc3QtbGFiZWwiLCJjb2xvciI6ImZmZmZmZiJ9\n"},"http_version":null},"recorded_at":"Mon, 17 Jun 2013 18:49:43 GMT"}],"recorded_with":"VCR 2.4.0"}