{"http_interactions":[{"request":{"method":"get","uri":"https://enterprise.github.dev/enterprise/stats/pulls","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"96a5827203f3ab68e843a5edfe367f45\""]},"body":{"encoding":"UTF-8","base64_string":"eyJ0b3RhbF9wdWxscyI6MCwibWVyZ2VkX3B1bGxzIjowLCJtZXJnZWFibGVf\ncHVsbHMiOjAsInVubWVyZ2VhYmxlX3B1bGxzIjowfQ==\n"},"http_version":null},"recorded_at":"Thu, 19 Dec 2013 13:07:24 GMT"}],"recorded_with":"VCR 2.4.0"}