{"http_interactions":[{"request":{"method":"post","uri":"https://enterprise.github.dev/staff/indexing_jobs","body":{"encoding":"UTF-8","base64_string":"eyJ0YXJnZXQiOiI8R0lUSFVCX0xPR0lOPiJ9\n"},"headers":{"Authorization":["token <<ENTERPRISE_ACCESS_TOKEN>>"]}},"response":{"status":{"code":202,"message":"Accepted"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["202 Accepted"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiVXNlciBcIjxHSVRIVUJfTE9HSU4+XCIgd2FzIGFkZGVk\nIHRvIHRoZSBpbmRleGluZyBxdWV1ZSJ9\n"},"http_version":null},"recorded_at":"Fri, 20 Dec 2013 08:30:56 GMT"}],"recorded_with":"VCR 2.4.0"}