{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImVkZWRlZCJ9\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4961"], "X-Ratelimit-Reset":["1423839892"], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, admin:org_hook"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Fri, 13 Feb 2015 14:08:29 GMT"},{"request":{"method":"post","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoidGVzdC1sYWJlbCIsImNvbG9yIjoiZWRlZGVkIn0=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4958"], "X-Ratelimit-Reset":["1423839892"], "Etag":["\"ad07867d2d7c98380df2577855780353\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, admin:org_hook"], "X-Accepted-Oauth-Scopes":[""], "Location":["https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zLzxHSVRIVUJf\nTE9HSU4+LzxHSVRIVUJfVEVTVF9SRVBPU0lUT1JZPi9sYWJlbHMvdGVzdC1s\nYWJlbCIsIm5hbWUiOiJ0ZXN0LWxhYmVsIiwiY29sb3IiOiJlZGVkZWQifQ==\n"},"http_version":null},"recorded_at":"Fri, 13 Feb 2015 14:08:30 GMT"},{"request":{"method":"patch","uri":"https://api.github.com/repos/<GITHUB_LOGIN>/<GITHUB_TEST_REPOSITORY>/labels/test-label","body":{"encoding":"UTF-8","base64_string":"eyJjb2xvciI6ImZmZGQzMyJ9\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4955"], "X-Ratelimit-Reset":["1423839892"], "Etag":["W/\"da7d937e7a8a828f6e4cfe9a2275b7cd\""], "X-Oauth-Scopes":["admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, admin:org_hook"], "X-Accepted-Oauth-Scopes":[""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJ1cmwiOiJodHRwczovL2FwaS5naXRodWIuY29tL3JlcG9zLzxHSVRIVUJf\nTE9HSU4+LzxHSVRIVUJfVEVTVF9SRVBPU0lUT1JZPi9sYWJlbHMvdGVzdC1s\nYWJlbCIsIm5hbWUiOiJ0ZXN0LWxhYmVsIiwiY29sb3IiOiJmZmRkMzMifQ==\n"},"http_version":null},"recorded_at":"Fri, 13 Feb 2015 14:08:31 GMT"}],"recorded_with":"VCR 2.9.2"}