{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/applications/<GITHUB_CLIENT_ID>/tokens","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Github-Media-Type":["github.beta; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["48"], "X-Ratelimit-Reset":["1388658415"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwOi8vZGV2ZWxvcGVyLmdpdGh1Yi5jb20vdjMifQ==\n"},"http_version":null},"recorded_at":"Thu, 02 Jan 2014 10:04:40 GMT"}],"recorded_with":"VCR 2.4.0"}