{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/feeds","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4873"], "X-Ratelimit-Reset":["1389662322"], "Etag":["\"9ba716e84faa7e54a0cbc1fa5fe003f8\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","string":"{\"timeline_url\":\"https://github.com/timeline\",\"user_url\":\"https://github.com/{user}\",\"current_user_public_url\":\"https://github.com/<GITHUB_LOGIN>\",\"_links\":{\"timeline\":{\"href\":\"https://github.com/timeline\",\"type\":\"application/atom+xml\"},\"user\":{\"href\":\"https://github.com/{user}\",\"type\":\"application/atom+xml\"},\"current_user_public\":{\"href\":\"https://github.com/<GITHUB_LOGIN>\",\"type\":\"application/atom+xml\"}}}"},"http_version":null},"recorded_at":"Tue, 14 Jan 2014 01:11:09 GMT"}],"recorded_with":"VCR 2.4.0"}